Bobcat/Source/Spheres/FlyDocLibrary/Web References/SessionService/SessionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s0="urn:SessionService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:atls="http://tempuri.org/vc/atl/server/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:SessionService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="urn:SessionService">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:element name="GetBindings">
        <s:complexType>
          <s:sequence>
            <s:element name="reserved" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBindingsResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="return" type="s0:BindingResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element name="userName" type="s:string" />
            <s:element name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="return" type="s0:LoginResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Logout">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
      <s:element name="LogoutResponse">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
      <s:element name="GetServiceInformation">
        <s:complexType>
          <s:sequence>
            <s:element name="language" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServiceInformationResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="return" type="s0:ServiceInformation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSessionInformation">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
      <s:element name="GetSessionInformationResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="return" type="s0:SessionInformation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SessionHeader">
        <s:sequence>
          <s:element name="sessionID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BindingResult">
        <s:sequence>
          <s:element name="sessionServiceLocation" type="s:string" />
          <s:element name="submissionServiceLocation" type="s:string" />
          <s:element name="queryServiceLocation" type="s:string" />
          <s:element name="sessionServiceWSDL" type="s:string" />
          <s:element name="submissionServiceWSDL" type="s:string" />
          <s:element name="queryServiceWSDL" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ServiceInformation">
        <s:sequence>
          <s:element name="message" type="s:string" />
          <s:element name="details" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LoginResult">
        <s:sequence>
          <s:element name="sessionID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SessionInformation">
        <s:sequence>
          <s:element name="login" type="s:string" />
          <s:element name="identifier" type="s:string" />
          <s:element name="account" type="s:string" />
          <s:element name="name" type="s:string" />
          <s:element name="company" type="s:string" />
          <s:element name="email" type="s:string" />
          <s:element name="culture" type="s:string" />
          <s:element name="timeZone" type="s:string" />
          <s:element name="language" type="s:string" />
          <s:element name="filesPath" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SessionHeaderValue" type="s0:SessionHeader" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetBindingsIn">
    <wsdl:part name="parameters" element="s0:GetBindings" />
  </wsdl:message>
  <wsdl:message name="GetBindingsOut">
    <wsdl:part name="parameters" element="s0:GetBindingsResponse" />
  </wsdl:message>
  <wsdl:message name="LoginIn">
    <wsdl:part name="parameters" element="s0:Login" />
  </wsdl:message>
  <wsdl:message name="LoginOut">
    <wsdl:part name="parameters" element="s0:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LogoutIn">
    <wsdl:part name="parameters" element="s0:Logout" />
  </wsdl:message>
  <wsdl:message name="LogoutOut">
    <wsdl:part name="parameters" element="s0:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="GetServiceInformationIn">
    <wsdl:part name="parameters" element="s0:GetServiceInformation" />
  </wsdl:message>
  <wsdl:message name="GetServiceInformationOut">
    <wsdl:part name="parameters" element="s0:GetServiceInformationResponse" />
  </wsdl:message>
  <wsdl:message name="GetSessionInformationIn">
    <wsdl:part name="parameters" element="s0:GetSessionInformation" />
  </wsdl:message>
  <wsdl:message name="GetSessionInformationOut">
    <wsdl:part name="parameters" element="s0:GetSessionInformationResponse" />
  </wsdl:message>
  <wsdl:message name="SessionHeaderValue">
    <wsdl:part name="SessionHeaderValue" element="s0:SessionHeaderValue" />
  </wsdl:message>
  <wsdl:portType name="SessionServiceSoap">
    <wsdl:operation name="GetBindings">
      <wsdl:input message="s0:GetBindingsIn" />
      <wsdl:output message="s0:GetBindingsOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="s0:LoginIn" />
      <wsdl:output message="s0:LoginOut" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input message="s0:LogoutIn" />
      <wsdl:output message="s0:LogoutOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceInformation">
      <wsdl:input message="s0:GetServiceInformationIn" />
      <wsdl:output message="s0:GetServiceInformationOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSessionInformation">
      <wsdl:input message="s0:GetSessionInformationIn" />
      <wsdl:output message="s0:GetSessionInformationOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SessionServiceSoap" type="s0:SessionServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBindings">
      <soap:operation soapAction="#GetBindings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="#Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="s0:SessionHeaderValue" part="SessionHeaderValue" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="#Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="s0:SessionHeaderValue" part="SessionHeaderValue" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceInformation">
      <soap:operation soapAction="#GetServiceInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSessionInformation">
      <soap:operation soapAction="#GetSessionInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="s0:SessionHeaderValue" part="SessionHeaderValue" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SessionService">
    <wsdl:port name="SessionServiceSoap" binding="s0:SessionServiceSoap">
      <soap:address location="https://as1.ondemand.esker.com:443/EDPWS/EDPWS.dll?Handler=Default&amp;Version=1.0" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>