SpheresWebApplication/BusinessSchemas/EfsMLv30/EfsML-Shared-3-0.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!-- 
== Copyright (c) 2016. All rights reserved. 
== EFS Extended FpML Products Markup Language. 
EG 20171122 [23509] Add BookId en provenance de EfsML-3-0.xsd
-->
<xsd:schema targetNamespace="http://www.efs.org/2007/EFSmL-3-0"
            xmlns="http://www.efs.org/2007/EFSmL-3-0"
            xmlns:fpml="http://www.fpml.org/2007/FpML-4-4"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:import namespace="http://www.fpml.org/2007/FpML-4-4" schemaLocation="../FpML44/fpml-main-4-4.xsd" />
	<xsd:include schemaLocation="EfsML-Enum-3-0.xsd" />


	<!-- ****************************** -->
	<!-- Elements                       -->
	<!-- ****************************** -->
	<xsd:element name="floatingRateCalculation" type="fpml:FloatingRateCalculation" substitutionGroup="rateCalculation">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A floating rate calculation definition.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="rateCalculation" type="fpml:Rate" abstract="true">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">The base element for the floating rate calculation definitions.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<!-- ****************************** -->
	<!-- AbstractTransaction            -->
	<!-- ****************************** -->
	<xsd:complexType name="AbstractTransaction" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="fpml:Product">
				<xsd:sequence>
					<xsd:group ref="fpml:BuyerSeller.model"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- AbstractNotionalTransaction    -->
	<!-- ****************************** -->
	<xsd:complexType name="AbstractNotionalTransaction" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="AbstractTransaction">
				<xsd:sequence>
					<xsd:element name="notionalAmount" type="fpml:Money"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- AbstractUnitTransaction        -->
	<!-- ****************************** -->
	<xsd:complexType name="AbstractUnitTransaction" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="AbstractTransaction">
				<xsd:sequence>
					<xsd:element name="numberOfUnits" type="xsd:decimal"/>
					<xsd:element name="unitPrice" type="fpml:Money"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
  
	<!-- ****************************** -->
	<!-- AccountNumber                  -->
	<!-- ****************************** -->
	<xsd:complexType name="AccountNumber">
		<xsd:sequence>
			<xsd:element name="correspondant"           type="SpheresId"  />
			<xsd:element name="currency"                type="fpml:Currency" />
			<xsd:element name="accountNumber"           type="xsd:string" />
			<xsd:element name="accountName"             type="xsd:string" />
			<xsd:element name="nostroAccountNumber"     type="xsd:string" />
      <xsd:element name="journalCode"             type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

  <!-- ****************************** -->
  <!-- ActionType                     -->
  <!-- New for MiFID II               -->
  <!-- EG 20170918 [23342]            -->
  <!-- ****************************** -->
  <xsd:complexType name="ActionType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The data type used for ESMA action type.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="Scheme">
        <xsd:attribute default="http://www.fpml.org/coding-scheme/action-type" name="actionTypeScheme" type="xsd:anyURI">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">The identifier scheme used with this actionType. A unique URI to determine the the type of action.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <!-- ****************************** -->
  <!-- BookId                         -->
  <!-- ****************************** -->
  <xsd:complexType name="BookId">
    <xsd:simpleContent>
      <xsd:extension base="xsd:normalizedString">
        <xsd:attribute name="bookIdScheme" type="xsd:anyURI" default="http://www.euro-finance-systems.fr/otcml/bookid" />
        <xsd:attribute name="bookName" type="xsd:string" />
        <xsd:attribute name="OTCmlId" type="xsd:string" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>



  <!-- ****************************** -->
  <!-- BusinessUnit                   -->
  <!-- New for MiFID II               -->
  <!-- EG 20170918 [23342]            -->
  <!-- ****************************** -->
  <xsd:complexType name="BusinessUnit">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type that represents information about a unit within an organization.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="name" type="String">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A name used to describe the organization unit</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="businessUnitId" type="Unit">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">An identifier used to uniquely identify organization unit</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="contactInfo" type="ContactInformation">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Information on how to contact the unit using various means.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="country" type="fpml:Country">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The ISO 3166 standard code for the country where the individual works.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:ID"/>
  </xsd:complexType>

  <!-- ****************************** -->
  <!-- BusinessUnitReference          -->
  <!-- New for MiFID II               -->
  <!-- EG 20170918 [23342]            -->
  <!-- ****************************** -->
  <xsd:complexType name="BusinessUnitReference">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Reference to an organizational unit.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="fpml:Reference">
        <xsd:attribute name="href" type="xsd:IDREF" use="required" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


  <!-- ****************************** -->
	<!-- CalculationBase                -->
	<!-- ****************************** -->
	<xsd:complexType name="CalculationBase">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type definining the parameters used in the calculation of fixed or floating calculation period amounts.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="notionalSchedule" type="fpml:Notional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The notional amount or notional amount schedule.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice>
				<xsd:element name="fixedRateSchedule" type="fpml:Schedule">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">The fixed rate or fixed rate schedule expressed as explicit fixed rates and dates. In the case of a schedule, the step dates may be subject to adjustment in accordance with any adjustments specified in calculationPeriodDatesAdjustments.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="rateCalculation">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">This element is the head of a substitution group. It is substituted by the floatingRateCalculation element for standard Floating Rate legs, or the inflationRateCalculation element for inflation swaps.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="dayCountFraction" type="fpml:DayCountFraction">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The day count fraction.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="discounting" type="fpml:Discounting" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The parameters specifying any discounting conventions that may apply. This element must only be included if discounting applies.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="compoundingMethod" type="fpml:CompoundingMethodEnum" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">If more that one calculation period contributes to a single payment amount this element specifies whether compounding is applicable, and if so, what compounding method is to be used. This element must only be included when more that one calculation period contributes to a single payment amount.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ********************************** -->
	<!-- CalculationPeriodAmountBase        -->
	<!-- ********************************** -->
	<xsd:complexType name="CalculationPeriodAmountBase">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type defining the parameters used in the calculation of fixed or floating rate calculation period amounts or for specifying a known calculation period amount or known amount schedule.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="calculation" type="CalculationBase">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The parameters used in the calculation of fixed or floaring rate calculation period amounts.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="knownAmountSchedule" type="fpml:AmountSchedule">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The known calculation period amount or a known amount schedule expressed as explicit known amounts and dates. In the case of a schedule, the step dates may be subject to adjustment in accordance with any adjustments specified in calculationPeriodDatesAdjustments.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
  <!-- FI 20110823 Add CashPosition -->
  <!-- ****************************** -->
  <!-- CashPosition                   -->
  <!-- ****************************** -->
  <xsd:complexType name="CashPosition">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A complex type to specified cash Position (cash Balance)</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:group ref="fpml:PayerReceiver.model" />
      <xsd:element name="amount" type="fpml:Money" minOccurs="1" maxOccurs ="1"/>
      <xsd:element name="dateDefine" type="fpml:IdentifiedDate" minOccurs ="0" maxOccurs ="1"/>
      <xsd:element name="dateReference" type="fpml:DateReference" minOccurs ="0" maxOccurs ="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ****************************** -->
	<!-- ClockId                        -->
	<!-- ****************************** -->
	<xsd:complexType name="ClockId">
		<xsd:simpleContent>
			<xsd:extension base="xsd:token">
				<xsd:attribute name="clockIdScheme" type="xsd:anyURI" use="required"/>
				<xsd:attribute name="id"            type="xsd:ID"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- ClockDateTime                  -->
	<!-- ****************************** -->
	<xsd:complexType name="ClockDateTime">
		<xsd:sequence>
			<xsd:element name="dateTime"  type="xsd:dateTime"/>
			<xsd:element name="clockId"   type="ClockId" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

  <!-- ****************************** -->
  <!-- ContactInformation             -->
  <!-- New for MiFID II               -->
  <!-- EG 20170918 [23342]            -->
  <!-- ****************************** -->
  <xsd:complexType name="ContactInformation">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type that represents how to contact an individual or organization.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="telephone" type="TelephoneNumber">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A telephonic contact.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="email" type="NormalizedString">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">An address on an electronic mail or messaging sysem .</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="address" type="fpml:Address">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A postal or street address.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <!-- ****************************** -->
  <!-- CreditRating                   -->
  <!-- New for MiFID II               -->
  <!-- EG 20170918 [23342]            -->
  <!-- ****************************** -->
  <xsd:complexType name="CreditRating">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A party's credit rating.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="Scheme">
        <xsd:attribute default="http://www.fpml.org/coding-scheme/external/moodys" name="creditRatingScheme" type="NonEmptyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <!-- ****************************** -->
	<!-- CustomerSettlementPayment      -->
	<!-- ****************************** -->
	<xsd:complexType name="CustomerSettlementPayment">
		<xsd:sequence>
			<xsd:element name="currency"     type="fpml:Currency" />
			<xsd:element name="amount"       type="xsd:decimal" minOccurs="0" />
			<xsd:element name="rate"         type="ExchangeRate" />
		</xsd:sequence>
	</xsd:complexType>
  <!-- FI 20110823 Add ExchangeCashPosition -->
  <!-- ****************************** -->
  <!-- ExchangeCashPosition           -->
  <!-- ****************************** -->
  <xsd:complexType name="ExchangeCashPosition">
    <xsd:complexContent>
      <xsd:extension base="CashPosition">
        <xsd:sequence>
          <xsd:element name="exchangeAmount"	type="fpml:Money" minOccurs="0"  maxOccurs="1"/>
          <xsd:element name ="exchangeFxRateReference" type ="FxRateReference" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ****************************** -->
	<!-- ExchangeId                     -->
	<!-- ****************************** -->
	<xsd:complexType name="ExchangeId">
		<xsd:simpleContent>
			<xsd:extension base="fpml:ExchangeId">
				<xsd:attribute name="OTCmlId" type="xsd:string" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- ExchangeRate   				-->
	<!-- ****************************** -->
	<xsd:complexType name="ExchangeRate">
		<xsd:complexContent>
			<xsd:extension base="fpml:ExchangeRate">
				<xsd:sequence>
					<xsd:element name="fxFixing" type="fpml:FxFixing" minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- ExchangeTradedOption           -->
	<!-- ****************************** -->
	<xsd:complexType name="ExchangeTradedOption">
		<xsd:complexContent>
			<xsd:extension base="fpml:ExchangeTradedContract">
				<xsd:sequence>
					<xsd:element name="optionType"      type="fpml:OptionTypeEnum" minOccurs="0"/>
					<xsd:element name="exerciseStyle"   type="fpml:ExerciseStyleEnum" minOccurs="0"/>
					<xsd:element name="settlementType"  type="fpml:SettlementTypeEnum" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- EventType                      -->
	<!-- ****************************** -->
	<xsd:complexType name="EventType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:normalizedString">
				<xsd:attribute name="eventTypeScheme" type="xsd:anyURI" default="http://www.euro-finance-systems.fr/otcml/eventType" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- FloatingRateIndex              -->
	<!-- ****************************** -->
	<xsd:complexType name="FloatingRateIndex">
		<xsd:simpleContent>
			<xsd:extension base="fpml:FloatingRateIndex">
				<xsd:attribute name="OTCmlId" type="xsd:string" />
				<xsd:attribute name="href" type="xsd:IDREF" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- FxCashSettlement               -->
	<!-- ****************************** -->
	<xsd:complexType name="FxCashSettlement">
		<xsd:complexContent>
			<xsd:extension base="fpml:FxCashSettlement">
				<xsd:sequence>
					<xsd:element name="customerSettlementRate" type="fpml:Empty" minOccurs="0" />
          <xsd:element name="calculationAgentSettlementRate" type="fpml:Empty" minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
  <!-- FI 20110823 Add FxRateReference -->
  <!-- ****************************** -->
  <!-- FxRateReference                -->
  <!-- ****************************** -->
  <xsd:complexType name="FxRateReference">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Specifies a reference to a FxRate.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="fpml:Reference">
        <xsd:attribute name="href" type="xsd:IDREF" use="required" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ****************************** -->
	<!-- Identification                 -->
	<!-- ****************************** -->
	<xsd:complexType name="Identification">
		<xsd:simpleContent>
			<xsd:extension base="xsd:normalizedString">
				<xsd:attribute name="identificationScheme"  type="xsd:anyURI" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
  <!-- FI 20110823 Add FxRateReference -->
  <!-- ****************************** -->
  <!-- IdentifiedFxRate               -->
  <!-- ****************************** -->
  <xsd:complexType name="IdentifiedFxRate">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Specifies FxRate with ID attribute.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="fpml:FxRate">
        <xsd:attribute name="id" type="xsd:ID" />
        <xsd:attribute name="OTCmlId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ****************************** -->
	<!-- ImplicitProvision              -->
	<!-- ****************************** -->
	<xsd:complexType name="ImplicitProvision">
		<xsd:sequence>
			<xsd:element name="cancelableProvision"                type="fpml:Empty" minOccurs="0" />
			<xsd:element name="mandatoryEarlyTerminationProvision" type="fpml:Empty" minOccurs="0" />
			<xsd:element name="optionalEarlyTerminationProvision"  type="fpml:Empty" minOccurs="0" />
			<xsd:element name="extendibleProvision"                type="fpml:Empty" minOccurs="0" />
			<xsd:element name="stepUpProvision"                    type="fpml:Empty" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
  
  <!-- ****************************** -->
  <!-- IndustryClassification         -->
  <!-- New for MiFID II               -->
  <!-- EG 20170918 [23342]            -->
  <!-- ****************************** -->
  <xsd:complexType name="IndustryClassification">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A party's industry sector classification.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="Scheme">
        <xsd:attribute default="http://www.fpml.org/coding-scheme/regulatory-corporate-sector" name="industryClassificationScheme" type="NonEmptyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  
	<!-- ****************************** -->
	<!-- InformationSource              -->
	<!-- ****************************** -->
	<xsd:complexType name="InformationSource">
		<xsd:complexContent>
			<xsd:extension base="fpml:InformationSource">
				<xsd:attribute name="OTCmlId" type="xsd:string" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- InterestRateStreamBase         -->
	<!-- ****************************** -->
	<xsd:complexType name="InterestRateStreamBase" abstract="true">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type defining the components specifiying an interest rate stream.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="fpml:Leg">
				<xsd:sequence>
					<xsd:group ref="fpml:PayerReceiver.model" />
					<xsd:element name="calculationPeriodDates" type="fpml:CalculationPeriodDates">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The calculation periods dates schedule.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="paymentDates" type="fpml:PaymentDates">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The payment dates schedule.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="resetDates" type="fpml:ResetDates" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The reset dates schedule. The reset dates schedule only applies for a floating rate stream.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="calculationPeriodAmount" type="CalculationPeriodAmountBase">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The calculation period amount parameters.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="stubCalculationPeriodAmount" type="fpml:StubCalculationPeriodAmount" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The stub calculation period amount parameters. This element must only be included if there is an initial or final stub calculation period. Even then, it must only be included if either the stub references a different floating rate tenor to the regular calculation periods, or if the stub is calculated as a linear interpolation of two different floating rate tenors, or if a specific stub rate or stub amount has been negotiated.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="principalExchanges" type="fpml:PrincipalExchanges" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The true/false flags indicating whether initial, intermediate or final exchanges of principal should occur.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="settlementProvision" type="fpml:SettlementProvision" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">A provision that allows the specification of settlement terms, occuring when the settlement currency is different to the notional currency of the trade.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="formula" type="fpml:Formula" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">An interest rate derivative formula.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="id" type="xsd:ID" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

  <!-- ****************************** -->
  <!-- MarginRatio                    -->
  <!-- ****************************** -->
  <xsd:complexType name="MarginRatio">
    <xsd:complexContent>
      <xsd:extension base="fpml:ActualPrice">
        <xsd:sequence>
          <xsd:element name="spreadSchedule" type="fpml:SpreadSchedule" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="crossMarginRatio" type="fpml:ActualPrice" minOccurs="0" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ****************************** -->
  <!-- OrganizationType               -->
  <!-- Add extensions for MiFID II    -->
  <!-- EG 20170918 [23342]            -->
  <!-- ****************************** -->
  <xsd:complexType name="OrganizationType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A code that describes what type of role an organization plays, for example a SwapsDealer, a Major Swaps Participant, or Other</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="Token">
        <xsd:attribute default="http://www.fpml.org/coding-scheme/organization-type" name="organizationTypeScheme" type="NonEmptyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <!-- ****************************** -->
  <!-- Party                          -->
  <!-- Upd extensions for MiFID II    -->
  <!-- EG 20170918 [23342]            -->
  <!-- ****************************** -->
  <xsd:complexType name="Party">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type defining a legal entity or a subdivision of a legal entity.</xsd:documentation>
      <xsd:documentation xml:lang="en">Parties can perform multiple roles in a trade lifecycle. For example, the principal parties obligated to make payments from time to time during the term of the trade, but may include other parties involved in, or incidental to, the trade, such as parties acting in the role of novation transferor/transferee, broker, calculation agent, etc. In FpML roles are defined in multiple places within a document.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="fpml:Party">
        <xsd:sequence>
          <!-- Add extensions for MiFID II    -->
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="classification" type="IndustryClassification">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The party's industry sector classification.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="creditRating" type="CreditRating">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The party's credit rating.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="country" type="fpml:Country">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The country where the party is domiciled.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="region" type="Region">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">A code for a grouping of countries to which this belongs.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="jurisdiction" type="fpml:GoverningLaw">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The legal jurisdiction of the entity's registration.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="organizationType" type="OrganizationType">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The type of an organization's participantion in the OTC derivatives market.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="contactInfo" type="ContactInformation">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Information on how to contact the party using various means.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="businessUnit" type="BusinessUnit">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Optional organization unit information used to describe the organization units (e.g. trading desks) involved in a transaction or business process .</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="person" type="Person">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Optional information about people involved in a transaction or busines process. (These are eomployees of the party).</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="OTCmlId" type="xsd:normalizedString" />
        <!--EG 20170926 [22374] New The party's time zone.-->
        <xsd:attribute name="tzdbId" type="xsd:normalizedString" default="Etc/UTC" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ****************************** -->
	<!-- PartyClockDateTime             -->
	<!-- ****************************** -->
	<xsd:complexType name="PartyClockDateTime">
		<xsd:complexContent>
			<xsd:extension base="ClockDateTime">
				<xsd:sequence>
					<xsd:element name="partyReference" type="fpml:PartyReference"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

  <!-- ******************************** -->
  <!-- PartyRoleCode = PartyRole v5.1   -->
  <!-- New for MiFID II                 -->
  <!-- EG 20170918 [23342]              -->
  <!-- ******************************** -->
  <xsd:complexType name="PartyRoleCode">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type describing a role played by a party in one or more transactions. Examples include roles such as guarantor, custodian, confirmation service provider, etc. This can be extended to provide custom roles.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="Scheme">
        <xsd:attribute default="http://www.fpml.org/coding-scheme/party-role" name="partyRoleScheme" type="NonEmptyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <!-- ****************************** -->
  <!-- PartyRoleType                  -->
  <!-- New for MiFID II               -->
  <!-- EG 20170918 [23342]            -->
  <!-- ****************************** -->
  <xsd:complexType name="PartyRoleType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type refining the role a role played by a party in one or more transactions. Examples include "AllPositions" and "SomePositions" for Guarantor. This can be extended to provide custom types.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="Scheme">
        <xsd:attribute default="http://www.fpml.org/coding-scheme/party-role-type" name="partyRoleTypeScheme" type="NonEmptyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <!-- ****************************** -->
	<!-- Payment                        -->
	<!-- ****************************** -->
  <!-- FI 20180328 [23871] Add id attribute  -->
  <xsd:complexType name="Payment">
    <xsd:complexContent>
      <xsd:extension base="fpml:Payment">
        <xsd:sequence>
          <xsd:element name="paymentQuote"				type="PaymentQuote"              minOccurs="0" />
          <xsd:element name="customerSettlementPayment"	type="CustomerSettlementPayment" minOccurs="0" />
          <xsd:element name="paymentSource"				type="SpheresSource"             minOccurs="0" />
          <xsd:element name="tax"     				    type="Tax"                       minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:ID" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
	<!-- ****************************** -->
	<!-- PaymentQuote                   -->
	<!-- ****************************** -->
	<xsd:complexType name="PaymentQuote">
		<xsd:sequence>
			<xsd:element name="percentageRateFraction"    type="xsd:string"  minOccurs="0" maxOccurs ="1" />
			<xsd:element name="percentageRate"            type="xsd:decimal"    />
			<xsd:element name="paymentRelativeTo"         type="fpml:AmountReference"/>
		</xsd:sequence>
	</xsd:complexType>

  <!-- ****************************** -->
  <!-- PaymentReference               -->
  <!-- ****************************** -->
  <xsd:complexType name="PaymentReference">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Specifies a reference to a payment.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="fpml:Reference">
        <xsd:attribute name="href" type="xsd:IDREF" use="required" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ****************************** -->
  <!-- Person                         -->
  <!-- New for MiFID II               -->
  <!-- EG 20170918 [23342]            -->
  <!-- ****************************** -->
  <xsd:complexType name="Person">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type that represents information about a person connected with a trade or business process.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:sequence minOccurs="0">
        <xsd:element minOccurs="0" name="honorific" type="NormalizedString">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">An honorific title, such as Mr., Ms., Dr. etc.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="firstName" type="NormalizedString">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Given name, such as John or Mary.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:choice minOccurs="0">
          <xsd:element maxOccurs="unbounded" name="middleName" type="NormalizedString"/>
          <xsd:element maxOccurs="unbounded" name="initial" type="Initial"/>
        </xsd:choice>
        <xsd:element name="surname" type="NormalizedString">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Family name, such as Smith or Jones.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element minOccurs="0" name="suffix" type="NormalizedString">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Name suffix, such as Jr., III, etc.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="personId" type="PersonId">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">An identifier assigned by a system for uniquely identifying the individual</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="businessUnitReference" type="BusinessUnitReference">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The unit for which the indvidual works.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="contactInfo" type="ContactInformation">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Information on how to contact the individual using various means.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="dateOfBirth" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The birth date of the person, e.g. 1970-01-01</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="country" type="fpml:Country">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The ISO 3166 standard code for the country where the individual works.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:ID"/>
    <!-- FI 20170928 [23452] Add -->
    <xsd:attribute name="OTCmlId" type="xsd:string" />
  </xsd:complexType>

  <!-- ****************************** -->
  <!-- PersonId                       -->
  <!-- New for MiFID II               -->
  <!-- EG 20170918 [23342]            -->
  <!-- ****************************** -->
  <xsd:complexType name="PersonId">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">An identifier used to identify an individual person.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="NonEmptyScheme">
        <xsd:attribute name="personIdScheme" type="NonEmptyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <!-- ****************************** -->
  <!-- PersonReference                -->
  <!-- New for MiFID II               -->
  <!-- EG 20170918 [23342]            -->
  <!-- ****************************** -->
  <xsd:complexType name="PersonReference">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Reference to an individual.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="fpml:Reference">
        <xsd:attribute name="href" type="xsd:IDREF" use="required" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ****************************** -->
  <!-- PersonRole                     -->
  <!-- New for MiFID II               -->
  <!-- EG 20170918 [23342]            -->
  <!-- ****************************** -->
  <xsd:complexType name="PersonRole">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type describing a role played by a person in one or more transactions. Examples include roles such as Trader, Broker, MiddleOffice, Legal, etc. This can be extended to provide custom roles.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="Scheme">
        <xsd:attribute default="http://www.fpml.org/coding-scheme/person-role" name="personRoleScheme" type="NonEmptyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <!-- ****************************** -->
	<!-- PriceReference                 -->
	<!-- ****************************** -->
	<xsd:complexType name="PriceReference">
		<xsd:complexContent>
			<xsd:extension base="fpml:Reference">
				<xsd:attribute name="href" type="xsd:IDREF" use="required" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- ProductType                    -->
	<!-- ****************************** -->
	<xsd:complexType name="ProductType">
		<xsd:simpleContent>
			<xsd:extension base="fpml:ProductType">
				<xsd:attribute name="OTCmlId" type="xsd:string" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

  <!-- ****************************** -->
  <!-- Region                         -->
  <!-- New for MiFID II               -->
  <!-- EG 20170918 [23342]            -->
  <!-- ****************************** -->
  <xsd:complexType name="Region">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A code that describes the world region of a counterparty. For example, NorthAmerica, Europe, Asia.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="Scheme">
        <xsd:attribute default="http://www.fpml.org/coding-scheme/region" name="regionScheme" type="NonEmptyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <!-- ****************************** -->
  <!-- RegulatorId                    -->
  <!-- New for MiFID II               -->
  <!-- EG 20170918 [23342]            -->
  <!-- ****************************** -->
  <xsd:complexType name="RegulatorId">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">An ID assigned by a regulator to an organization registered with it. (NOTE: should this just by represented by an alternate party ID?)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="NonEmptyScheme">
        <xsd:attribute name="regulatorIdScheme" type="NonEmptyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <!-- ****************************** -->
  <!-- RelatedParty                   -->
  <!-- New for MiFID II               -->
  <!-- EG 20170918 [23342]            -->
  <!-- ****************************** -->
  <xsd:complexType name="RelatedParty">
    <xsd:sequence>
      <xsd:group ref="PartyAndAccountReferences.model"/>
      <xsd:element name="role" type="PartyRoleCode">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The category of the relationship. The related party performs the role specified in this field for the base party. For example, if the role is "Guarantor", the related party acts as a guarantor for the base party.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="type" type="PartyRoleType">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Additional definition refining the type of relationship. For example, if the "role" is Guarantor, this element may be used to specify whether all positions are guaranteed, or only a subset of them.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <!-- ****************************** -->
  <!-- RelatedPerson                  -->
  <!-- New for MiFID II               -->
  <!-- EG 20170918 [23342]            -->
  <!-- ****************************** -->
  <xsd:complexType name="RelatedPerson">
    <xsd:sequence>
      <xsd:element name="personReference" type="PersonReference">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The individual person that is related to this.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="role" type="PersonRole">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The category of the relationship. The related individual performs the role specified in this field for the base party. For example, if the role is "Trader", the related person acts acts or acted as the base party's trader.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <!-- ****************************** -->
  <!-- ReportingRegimeName            -->
  <!-- New for MiFID II               -->
  <!-- EG 20170918 [23342]            -->
  <!-- ****************************** -->
  <xsd:complexType name="ReportingRegimeName">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">An identifier of an reporting regime or format used for regulatory reporting, for example DoddFrankAct, MiFID, HongKongOTCDRepository, etc.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="Scheme">
        <xsd:attribute default="http://www.fpml.org/coding-scheme/reporting-regime" name="reportingRegimeNameScheme" type="NonEmptyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <!-- ****************************** -->
	<!-- SpheresId                      -->
	<!-- ****************************** -->
	<xsd:complexType name="SpheresId">
		<xsd:simpleContent>
			<xsd:extension base="xsd:normalizedString">
				<xsd:attribute name="scheme"  type="xsd:anyURI" />
				<xsd:attribute name="OTCmlId" type="xsd:string" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- SpheresIdSchemeId              -->
	<!-- ****************************** -->
	<xsd:complexType name="SpheresIdSchemeId">
		<xsd:simpleContent>
			<xsd:extension base="SpheresId">
				<xsd:attribute name="id" type="xsd:integer" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- SpheresSource                  -->
	<!-- ****************************** -->
	<xsd:complexType name="SpheresSource">
		<xsd:sequence>
			<xsd:element name="status"    type="SpheresSourceStatusEnum" minOccurs="0" />
			<xsd:element name="spheresId" type="SpheresId"               maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

  <!-- ****************************** -->
  <!-- StreetAddress                  -->
  <!-- New for MiFID II               -->
  <!-- EG 20170918 [23342]            -->
  <!-- ****************************** -->
  <xsd:complexType name="StreetAddress">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type that describes the set of street and building number information that identifies a postal address within a city.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="streetLine" type="String">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">An individual line of street and building number information, forming part of a postal address.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <!-- ****************************** -->
  <!-- SupervisoryBody                -->
  <!-- New for MiFID II               -->
  <!-- EG 20170918 [23342]            -->
  <!-- ****************************** -->
  <xsd:complexType name="SupervisoryBody">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">An identifier of an organization that supervises or regulates trading activity, e.g. CFTC, SEC, FSA, ODRF, etc.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="Scheme">
        <xsd:attribute default="http://www.fpml.org/coding-scheme/supervisory-body" name="supervisoryBodyScheme" type="NonEmptyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <!-- ****************************** -->
	<!-- TradeExtends                   -->
	<!-- ****************************** -->
	<xsd:complexType name="TradeExtends">
		<xsd:sequence>
			<xsd:element name="tradeExtend" type="SpheresIdSchemeId"  minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- StepUpProvision                -->
	<!-- ****************************** -->
	<xsd:complexType name="StepUpProvision">
		<xsd:sequence>
			<xsd:element ref="fpml:exercise"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- StrikeSchedule                 -->
	<!-- ****************************** -->
	<xsd:complexType name="StrikeSchedule">
		<xsd:complexContent>
			<xsd:extension base="fpml:StrikeSchedule">
				<xsd:sequence>
					<xsd:choice minOccurs="0">
						<xsd:group ref="PayOutAmountOrRateSchedule.model" />
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- ****************************** -->
	<!-- Tax                            -->
	<!-- ****************************** -->
	<xsd:complexType name="Tax">
		<xsd:sequence>
			<xsd:element name="taxSource"      type="SpheresSource" />
			<xsd:element name="taxDetail"   type="TaxSchedule" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<!-- ****************************** -->
	<!-- TaxSchedule                    -->
	<!-- ****************************** -->
	<xsd:complexType name="TaxSchedule">
		<xsd:sequence>
			<xsd:element name="taxAmount" type="TripleInvoiceAmounts" minOccurs="0" />
			<xsd:element name="taxSource" type="SpheresSource" />
		</xsd:sequence>
	</xsd:complexType>

	<!-- ****************************** -->
	<!-- TradeDate                      -->
	<!-- ****************************** -->
	<xsd:complexType name="TradeDate">
		<xsd:simpleContent>
			<xsd:extension base="fpml:IdentifiedDate">
				<xsd:attribute name="timeStamp" type="xsd:string" />
        <xsd:attribute name="bizDt" type="xsd:string" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- Trader                         -->
	<!-- ****************************** -->
	<xsd:complexType name="Trader">
		<xsd:simpleContent>
			<xsd:extension base="fpml:Trader">
				<xsd:attribute name="name"    type="xsd:normalizedString" />
				<xsd:attribute name="factor"  type="xsd:decimal" />
				<xsd:attribute name="OTCmlId" type="xsd:string" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<!-- ******************************* -->
	<!-- TripleInvoiceAmounts            -->
	<!-- ******************************* -->
	<xsd:complexType name="TripleInvoiceAmounts">
		<xsd:sequence>
			<xsd:element name="amount"           type="fpml:Money" />
			<xsd:element name="issueAmount"      type="fpml:Money" minOccurs="0"/>
			<xsd:element name="accountingAmount" type="fpml:Money" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

  <!-- ****************************** -->
  <!-- TelephoneNumber                -->
  <!-- New for MiFID II               -->
  <!-- EG 20170918 [23342]            -->
  <!-- ****************************** -->
  <xsd:complexType name="TelephoneNumber">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type that represents a telephonic contact.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="type" type="TelephoneTypeEnum">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The type of telephone number (work, personal, mobile).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="number" type="String">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A telephonic contact.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <!-- ****************************** -->
	<!-- UnderlyerFloatingRate          -->
	<!-- ****************************** -->
	<xsd:complexType name="UnderlyerFloatingRate">
		<xsd:sequence>
			<xsd:element name="floatingRateIndex" type="FloatingRateIndex" />
			<xsd:element name="indexTenor"        type="fpml:Interval" minOccurs="0" />
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID" />
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- UnderlyerIndex                 -->
	<!-- ****************************** -->
	<xsd:complexType name="UnderlyerIndex">
		<xsd:simpleContent>
			<xsd:extension base="xsd:normalizedString">
				<xsd:attribute name="indexScheme" type="xsd:anyURI" default="http://www.efs.org/spec/2005/index-2-0" />
				<xsd:attribute name="id"          type="xsd:ID" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- UnderlyerSecurityCode          -->
	<!-- ****************************** -->
	<xsd:complexType name="UnderlyerSecurityCode">
		<xsd:simpleContent>
			<xsd:extension base="xsd:normalizedString">
				<xsd:attribute name="securityCodeScheme" type="xsd:anyURI" default="http://www.efs.org/spec/2005/securityCode-2-0" />
				<xsd:attribute name="id"                 type="xsd:ID" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

  <!-- ****************************** -->
  <!-- Unit                           -->
  <!-- New for MiFID II               -->
  <!-- EG 20170918 [23342]            -->
  <!-- ****************************** -->
  <xsd:complexType name="Unit">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type used to record information about a unit, subdivision, desk, or other similar business entity.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="Scheme">
        <xsd:attribute name="unitScheme" type="NonEmptyURI" use="optional"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  
  <!-- ****************************** -->
  <!-- ZonedDateTime                  -->
  <!-- EG 20171003 [23452]            -->
  <!-- ****************************** -->
  <xsd:complexType name="ZonedDateTime">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type defining the zoned date time and the source of it.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:dateTime">
        <xsd:attribute name="id" type="xsd:ID" />
        <xsd:attribute name="tzdbId" type="xsd:normalizedString" default="Etc/UTC">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">IANA time zone location associated with the date time.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="zonedDateTimeScheme" type="xsd:anyURI">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Identification of the source (e.g. clock id) generating the date time.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  

  <!-- ****************************** -->
  <!-- SimpleType                     -->
  <!-- ****************************** -->

  <!-- New for MiFID II -->
  <!-- EG 20170918 [23342]            -->
  <xsd:simpleType name="Initial">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:length value="1"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- New for MiFID II -->
  <!-- EG 20170918 [23342]            -->
  <xsd:simpleType name="NonEmptyScheme">
    <xsd:restriction base="NormalizedString">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="255"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="NonEmptyURI">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A URI that cannot be empty.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:anyURI">
      <xsd:minLength value="1"></xsd:minLength>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="NormalizedString">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A normalized string</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:normalizedString">
      <xsd:minLength value="0" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="Scheme">
    <xsd:restriction base="NormalizedString">
      <xsd:maxLength value="255"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="String">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="255"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="Token">
    <xsd:restriction base="xsd:token">
      <xsd:minLength value="0"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- ****************************** -->
	<!-- Models                         -->
	<!-- ****************************** -->

	<!-- KnockUnderlyer.model -->
	<xsd:group name="KnockUnderlyer.model">
		<xsd:choice>
			<xsd:element name="quotedCurrencyPair" type="fpml:QuotedCurrencyPair" />
			<xsd:element name="floatingRate"       type="UnderlyerFloatingRate" />
			<xsd:element name="index"              type="UnderlyerIndex" />
			<xsd:element name="securityCode"       type="UnderlyerSecurityCode" />
		</xsd:choice>
	</xsd:group>

  <!-- ****************************** -->
  <!-- PartyAndAccountReferences      -->
  <!-- New for MiFID II               -->
  <!-- EG 20170918 [23342]            -->
  <!-- ****************************** -->
  <xsd:group name="PartyAndAccountReferences.model">
    <xsd:sequence>
      <xsd:element name="partyReference" type="fpml:PartyReference">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Reference to a party.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="accountReference" type="fpml:AccountReference" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Reference to an account.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>

  <!-- PayOutAmountOrRateSchedule.model -->
	<xsd:group name="PayOutAmountOrRateSchedule.model">
		<xsd:choice>
			<xsd:element name="payOutAmountSchedule" type="fpml:Schedule" />
			<xsd:element name="payOutRateSchedule"   type="fpml:Schedule" />
		</xsd:choice>
	</xsd:group>

  <!-- ****************************** -->
  <!-- SupervisorRegistration         -->
  <!-- New for MiFID II               -->
  <!-- EG 20170918 [23342]            -->
  <!-- ****************************** -->
  <xsd:group name="SupervisorRegistration.model">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Provides information about a regulator or other supervisory body that an organization is registered with.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="supervisoryBody" type="SupervisoryBody">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The regulator or other supervisory body the organization is registered with (e.g. SEC).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="registrationNumber" type="RegulatorId">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The ID assigned by the regulator (e.g. SEC's Central Index Key).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>

</xsd:schema>
