Bobcat/Source/SpheresServices/RiskMethods/RiskMethods/SPAN 2/CORE API/core_api_1.14.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--  
Notice: This software is proprietary to CME, its affiliates, partners and/or licensors.  Unauthorized copying, distribution or use is strictly prohibited.  All rights reserved.
-->
<xsd:schema 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    targetNamespace="http://cmegroup.com/schema/core/1.14"
    xmlns:core="http://cmegroup.com/schema/core/1.14">

  <!-- Elements -->

  <xsd:element name="portfolioLinkReq" type="core:portfolioLinkRequestMessage" />
  
  <xsd:element name="portfolioReq" type="core:portfolioRequestMessage" />
  <xsd:element name="portfolioRpt" type="core:portfolioReportMessage" />

  <xsd:element name="portfolioStatsReq" type="core:portfolioStatisticsRequestMessage" />
  <xsd:element name="portfolioStatsRpt" type="core:portfolioStatisticsReportMessage" />

  <xsd:element name="transactionReq" type="core:transactionRequestMessage" />
  <xsd:element name="transactionRpt" type="core:transactionReportMessage" />
  
  <xsd:element name="marginReq" type="core:marginRequestMessage" />
  <xsd:element name="marginRpt" type="core:marginReportMessage" />

  <xsd:element name="marginMatrixRpt" type="core:marginMatrixReportMessage" />

  <xsd:element name="analyticReq" type="core:analyticRequestMessage" />
  <xsd:element name="analyticRpt" type="core:analyticReportMessage" />
  
  <xsd:element name="optimizerReq" type="core:optimizerRequestMessage" />
  <xsd:element name="optimizerRpt" type="core:optimizerReportMessage" />
  
<!--
  <xsd:element name="compressionReq" type="core:payloadRequestMessage" />
  <xsd:element name="compressionRpt" type="core:payloadReportMessage" />
-->
  <!-- Messages -->

  <xsd:complexType name="messageBase">
    <xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="requestBase">
    <xsd:complexContent>
      <xsd:extension base="core:messageBase">
       <xsd:attribute name="reqUserId" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <xsd:complexType name="reportBase">
    <xsd:complexContent>
      <xsd:extension base="core:messageBase">
        <xsd:sequence>
          <xsd:element name="error" type="core:error" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="asyncReportBase">
    <xsd:complexContent>
      <xsd:extension base="core:reportBase">
        <xsd:attribute name="status" type="core:asyncReportStatus" use="required" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="syncReportBase">
    <xsd:complexContent>
      <xsd:extension base="core:reportBase">
        <xsd:attribute name="status" type="core:syncReportStatus" use="required" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <xsd:complexType name="optimizerRequestMessage">
    <xsd:complexContent>
      <xsd:extension base="core:requestBase">
        <xsd:sequence>
          <xsd:element name="margin" type="core:margin" minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <xsd:complexType name="optimizerReportMessage">
    <xsd:complexContent>
      <xsd:extension base="core:asyncReportBase">
        <xsd:sequence>
          <xsd:element name="margin" type="core:margin" minOccurs="0" maxOccurs="unbounded" />
          <xsd:element name="transaction" type="core:transaction" minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="portfolioLinkRequestMessage">
    <xsd:complexContent>
      <xsd:extension base="core:requestBase">
        <xsd:sequence>
          <xsd:element name="portfolios" type="core:portfolioLink" minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <xsd:complexType name="portfolioRequestMessage">
    <xsd:complexContent>
      <xsd:extension base="core:requestBase">
        <xsd:sequence>
          <xsd:element name="portfolio" type="core:portfolio" minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="portfolioReportMessage">
    <xsd:complexContent>
      <xsd:extension base="core:syncReportBase">
        <xsd:sequence>
          <xsd:element name="portfolio" type="core:portfolio" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="portfolioStatisticsRequestMessage">
    <xsd:complexContent>
      <xsd:extension base="core:requestBase">
        <xsd:sequence>
          <xsd:element name="cycle" type="core:cycle" minOccurs="1" maxOccurs="1" />
          <xsd:element name="entities" type="core:portfolioEntities" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="portfolioStatisticsReportMessage">
    <xsd:complexContent>
      <xsd:extension base="core:syncReportBase">
        <xsd:sequence>
          <xsd:element name="portfolioStats" type="core:portfolioStatistics" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="transactionRequestMessage">
    <xsd:complexContent>
      <xsd:extension base="core:requestBase">
        <xsd:sequence>
          <xsd:element name="transaction" type="core:transaction" minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="processingMode" type="core:processingMode" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="transactionReportMessage">
    <xsd:complexContent>
      <xsd:extension base="core:syncReportBase">
        <xsd:sequence>
          <xsd:element name="transaction" type="core:transaction" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="marginRequestMessage">
    <xsd:complexContent>
      <xsd:extension base="core:requestBase">
        <xsd:sequence>
          <xsd:element name="cycle" type="core:cycle" minOccurs="0" maxOccurs="1" />
          <xsd:element name="margin" type="core:margin" minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="marginReportMessage">
    <xsd:complexContent>
      <xsd:extension base="core:asyncReportBase">
        <xsd:sequence>
          <xsd:element name="cycle" type="core:cycle" minOccurs="0" maxOccurs="1" />
          <xsd:element name="margin" type="core:margin" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="analyticRequestMessage">
    <xsd:complexContent>
      <xsd:extension base="core:requestBase">
        <xsd:sequence>
          <xsd:element name="analytic" type="core:analytic" minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="analyticReportMessage">
    <xsd:complexContent>
      <xsd:extension base="core:asyncReportBase">
        <xsd:sequence>
          <xsd:element name="analytic" type="core:analytic" minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="marginMatrixReportMessage">
    <xsd:complexContent>
      <xsd:extension base="core:syncReportBase">
        <xsd:sequence>
          <xsd:element name="marginMatrix" type="core:marginMatrix" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="payloadRequestMessage">
    <xsd:complexContent>
      <xsd:extension base="core:requestBase">
        <xsd:sequence>
          <xsd:element name="payload" type="core:messagePayload" minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="payloadReportMessage">
    <xsd:complexContent>
      <xsd:extension base="core:asyncReportBase">
        <xsd:sequence>
          <xsd:element name="payload" type="core:messagePayload" minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Message Components -->

  <xsd:complexType name="error">
    <xsd:attribute name="msg" type="xsd:string" use="required" />
    <xsd:attribute name="code" type="xsd:integer" use="required" />
  </xsd:complexType>

  <!-- Message Actions -->

  <xsd:simpleType name="entityModifyAction">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="DELETE" />
      <xsd:enumeration value="INSERT" />
      <xsd:enumeration value="UPDATE" />
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Message Statuses -->

  <xsd:simpleType name="syncReportStatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ERROR" />
      <xsd:enumeration value="SUCCESS" />
      <xsd:enumeration value="SUCCESS_WITH_ERRORS" />
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:simpleType name="asyncReportStatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ERROR" />
      <xsd:enumeration value="PROCESSING" />
      <xsd:enumeration value="SUCCESS" />
      <xsd:enumeration value="SUCCESS_WITH_ERRORS" />
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Domain -->

  <xsd:simpleType name="entityStatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="DELETED" />
      <xsd:enumeration value="ERROR" />
      <xsd:enumeration value="INSERTED" />
      <xsd:enumeration value="UPDATED" />
      <xsd:enumeration value="SUCCESS" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="cycleCode">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="AFTER_ITD" />
      <xsd:enumeration value="AM" />
      <xsd:enumeration value="SUPER_EARLY" />
      <xsd:enumeration value="CUR" />
      <xsd:enumeration value="EARLY" />
      <xsd:enumeration value="EOD" />
      <xsd:enumeration value="ITD" />
      <xsd:enumeration value="FINAL" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="cycle">
    <xsd:attribute name="date" type="xsd:date" use="optional" />
    <xsd:attribute name="code" type="core:cycleCode" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="transaction">
    <xsd:complexContent>
      <xsd:extension base="core:entityBase">
        <xsd:sequence>
          <xsd:element name="error" type="core:error" minOccurs="0" maxOccurs="1" />
          <xsd:element name="payload" type="core:transactionPayload" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
        <xsd:attribute name="portfolioId" type="xsd:string" use="optional" />
        <xsd:attribute name="type" type="core:transactionType" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="messagePayload">
    <xsd:choice>
      <xsd:element name="string" type="xsd:string" />
    </xsd:choice>
    <xsd:attribute name="name" type="core:transactionEncoding" use="optional" />
    <xsd:attribute name="encoding" type="core:transactionEncoding" use="optional" />
    <xsd:attribute name="format" type="core:transactionFormat" use="required" />
    <xsd:attribute name="subformat" type="core:transactionSubformat" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="transactionPayload">
    <xsd:choice>
      <xsd:element name="string" type="xsd:string" />
    </xsd:choice>
    <xsd:attribute name="encoding" type="core:transactionEncoding" use="optional" />
    <xsd:attribute name="format" type="core:transactionFormat" use="required" />
    <xsd:attribute name="subformat" type="core:transactionSubformat" use="optional" />
  </xsd:complexType>

  <xsd:simpleType name="transactionFormat">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="FIXML" />
      <xsd:enumeration value="FPML" />
      <xsd:enumeration value="CSV" />
      <xsd:enumeration value="RISK_API_JSON"/>
      <xsd:enumeration value="SPAN_XML"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="transactionSubformat">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="NONE" />
      <xsd:enumeration value="IRS_TRADE_REG" />
      <xsd:enumeration value="CORE_FX" />
      <xsd:enumeration value="CORE_CDS" />
      <xsd:enumeration value="CORE_IRS" />
      <xsd:enumeration value="FUT_COMP_DTL" />
      <xsd:enumeration value="FUT_COMP_PORT" />
      <xsd:enumeration value="FUT_COMP_SMRY" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="transactionEncoding">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="STRING" />
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:simpleType name="transactionType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="DELTA_LADDER" />
      <xsd:enumeration value="TRADE" />
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:complexType name="entityBase">
    <xsd:attribute name="id" type="xsd:string" use="optional" />
    <xsd:attribute name="createTime" type="xsd:dateTime" use="optional" />
    <xsd:attribute name="status" type="core:entityStatus" use="optional" />
    <xsd:attribute name="updateTime" type="xsd:dateTime" use="optional" />
  </xsd:complexType>
  
  <xsd:complexType name="portfolio">
    <xsd:complexContent>
      <xsd:extension base="core:entityBase">
        <xsd:sequence>
          <xsd:element name="entities" type="core:portfolioEntities" minOccurs="1" maxOccurs="1" />
          <xsd:element name="transactions" type="core:transactions" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
        <xsd:attribute name="desc" type="xsd:string" use="optional" />
        <xsd:attribute name="name" type="xsd:string" use="optional" />
        <xsd:attribute name="rptCcy" type="core:currency" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <xsd:complexType name="portfolioLink">
    <xsd:complexContent>
      <xsd:extension base="core:entityBase">
        <xsd:sequence>
          <xsd:element name="portfolioId" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <xsd:complexType name="portfolioStatisticsStats">
    <xsd:attribute name="tradeCount" type="xsd:integer" use="required" />
    <xsd:attribute name="marginMaintAmt" type="xsd:decimal" use="required" />
    <xsd:attribute name="ccy" type="core:currency" use="required" />
  </xsd:complexType>
  
  <xsd:complexType name="portfolioStatistics">
    <xsd:sequence>
      <xsd:element name="cycle" type="core:cycle" minOccurs="1" maxOccurs="1" />
      <xsd:element name="entities" type="core:portfolioEntities" minOccurs="1" maxOccurs="1" />
      <xsd:element name="stats" type="core:portfolioStatisticsStats" minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="transactions">
    <xsd:sequence>
      <xsd:element name="transaction" type="core:transaction" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:simpleType name="origin">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CUST" />
      <xsd:enumeration value="HOUS" />
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:simpleType name="riskFramework">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CURRENT" />
      <xsd:enumeration value="NEXT" />
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:complexType name="stringBase">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string" />
    </xsd:simpleContent>
  </xsd:complexType>
  
  <xsd:complexType name="riskPayload">
    <xsd:complexContent>
      <xsd:extension base="core:stringBase">
        <xsd:attribute name="riskFramework" type="core:riskFramework" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <xsd:complexType name="portfolioEntities">
    <xsd:attribute name="clrOrgId" type="xsd:string" use="optional" />
    <xsd:attribute name="clrMbrFirmId" type="xsd:string" use="required" />
    <xsd:attribute name="custAcctId" type="xsd:string" use="optional" />
    <xsd:attribute name="pbAcctId" type="xsd:string" use="optional" />
    <xsd:attribute name="origin" type="core:origin" use="optional" />
  </xsd:complexType>
  
  <xsd:complexType name="margin">
    <xsd:complexContent>
      <xsd:extension base="core:entityBase">
        <xsd:sequence>
          <xsd:element name="transactions" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="transaction" type="core:transaction" minOccurs="1" maxOccurs="unbounded" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="amounts" type="core:marginAmounts" minOccurs="1" maxOccurs="1" />
          <xsd:element name="payload" type="core:riskPayload" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="asOfTime" type="xsd:dateTime" use="optional" />
        <xsd:attribute name="portfolioId" type="xsd:string" use="optional" />
        <xsd:attribute name="riskFramework" type="core:riskFramework" use="optional" />
        <xsd:attribute name="settleQual" type="core:settlementQualifier" use="optional" />
        <xsd:attribute name="settleInd" type="core:settlementIndicator" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <xsd:complexType name="marginAmounts">
    <xsd:sequence>
      <xsd:element name="currencyAmounts" type="core:marginAmounts" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="incremental" type="core:incrementalMarginAmounts" minOccurs="0" maxOccurs="1" />
      <xsd:element name="portfolio" type="core:portfolioMarginAmounts" minOccurs="0" maxOccurs="1" />
      <xsd:element name="scPt" type="core:scenarioPoint" minOccurs="0" maxOccurs="1260" />
    </xsd:sequence>
    <xsd:attribute name="ccy" type="core:currency" use="required" />
    <xsd:attribute name="ccyRate" type="xsd:decimal" use="optional" />
    <xsd:attribute name="base" type="xsd:decimal" use="optional" />
    <xsd:attribute name="conc" type="xsd:decimal" use="required" />
    <xsd:attribute name="concDelta" type="xsd:decimal" use="optional" />
    <xsd:attribute name="concGamma" type="xsd:decimal" use="optional" />
    <xsd:attribute name="concSkew" type="xsd:decimal" use="optional" />
    <xsd:attribute name="concVega" type="xsd:decimal" use="optional" />
    <xsd:attribute name="init" type="xsd:decimal" use="required" />
    <xsd:attribute name="maint" type="xsd:decimal" use="required" />
    <xsd:attribute name="npv" type="xsd:decimal" use="optional" />
    <xsd:attribute name="nonOptVal" type="xsd:decimal" use="optional" />
    <xsd:attribute name="optVal" type="xsd:decimal" use="optional" />
    <xsd:attribute name="skew" type="xsd:decimal" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="portfolioMarginAmounts">
    <xsd:attribute name="futCurrAmt" type="xsd:decimal" use="optional" />
    <xsd:attribute name="futPreAmt" type="xsd:decimal" use="required" />  
    <xsd:attribute name="futPostAmt" type="xsd:decimal" use="required" />
    <xsd:attribute name="otcCurrAmt" type="xsd:decimal" use="optional" />
    <xsd:attribute name="otcPreAmt" type="xsd:decimal" use="required" />  
    <xsd:attribute name="otcPostAmt" type="xsd:decimal" use="required" />  
    <xsd:attribute name="diffAmt" type="xsd:decimal" use="required" />  
  </xsd:complexType>

  <xsd:complexType name="incrementalMarginAmounts">
    <xsd:attribute name="initBaseAmt" type="xsd:decimal" use="required" />  
    <xsd:attribute name="initDiffAmt" type="xsd:decimal" use="required" />  
    <xsd:attribute name="maintBaseAmt" type="xsd:decimal" use="required" />  
    <xsd:attribute name="maintDiffAmt" type="xsd:decimal" use="required" />  
    <xsd:attribute name="concBaseAmt" type="xsd:decimal" use="required" />  
    <xsd:attribute name="concDiffAmt" type="xsd:decimal" use="required" />  
    <xsd:attribute name="skewBaseAmt" type="xsd:decimal" use="optional" />  
    <xsd:attribute name="skewDiffAmt" type="xsd:decimal" use="optional" />
    <xsd:attribute name="npvBaseAmt" type="xsd:decimal" use="required" />  
    <xsd:attribute name="npvDiffAmt" type="xsd:decimal" use="required" />  
  </xsd:complexType>

  <xsd:complexType name="scenarioPoint">
    <xsd:attribute name="amt" type="xsd:decimal" use="required" />
  </xsd:complexType>
  
  <xsd:complexType name="marginMatrix">
    <xsd:complexContent>
      <xsd:extension base="core:entityBase">
        <xsd:sequence>
          <xsd:element name="payload" type="core:transactionPayload" minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <xsd:complexType name="analytic">
    <xsd:complexContent>
      <xsd:extension base="core:entityBase">
        <xsd:attribute name="portfolioId" type="xsd:string" use="required" />
        <xsd:attribute name="type" type="core:analyticType" use="required" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <xsd:simpleType name="currency">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="AUD"/>
      <xsd:enumeration value="BRL"/>
      <xsd:enumeration value="GBP"/>
      <xsd:enumeration value="CAD"/>
      <xsd:enumeration value="CHF"/>
      <xsd:enumeration value="CHP"/>
      <xsd:enumeration value="CLP"/>
      <xsd:enumeration value="COP"/>
      <xsd:enumeration value="CNY"/>
      <xsd:enumeration value="CZK"/>
      <xsd:enumeration value="DKK"/>
      <xsd:enumeration value="EUR"/>
      <xsd:enumeration value="HKD"/>
      <xsd:enumeration value="HUF"/>
      <xsd:enumeration value="IDR"/>
      <xsd:enumeration value="ILS"/>
      <xsd:enumeration value="INR"/>
      <xsd:enumeration value="JPY"/>
      <xsd:enumeration value="KRW"/>
      <xsd:enumeration value="MXN"/>
      <xsd:enumeration value="MYR"/>
      <xsd:enumeration value="NZD"/>
      <xsd:enumeration value="NOK"/>
      <xsd:enumeration value="PEN"/>
      <xsd:enumeration value="PHP"/>
      <xsd:enumeration value="PLN"/>
      <xsd:enumeration value="RUB"/>
      <xsd:enumeration value="SEK"/>
      <xsd:enumeration value="SGD"/>
      <xsd:enumeration value="THB"/>
      <xsd:enumeration value="TRY"/>
      <xsd:enumeration value="TWD"/>
      <xsd:enumeration value="USD"/>
      <xsd:enumeration value="ZAR"/>
    </xsd:restriction>
  </xsd:simpleType>
    
  <xsd:simpleType name="settlementQualifier">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="COMP" />
      <xsd:enumeration value="EARLY" />
      <xsd:enumeration value="FINAL" />
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:simpleType name="settlementIndicator">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="N" />
      <xsd:enumeration value="Y" />
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:simpleType name="analyticType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="PMOPT" />
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:simpleType name="processingMode">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="COMPLETE" />
      <xsd:enumeration value="PARTIAL" />
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
