FlyDocLibrary/Web References/QueryService/QueryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s0="urn:QueryService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:atls="http://tempuri.org/vc/atl/server/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:QueryService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="urn:QueryService">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:element name="QueryFirst">
        <s:complexType>
          <s:sequence>
            <s:element name="request" type="s0:QueryRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryFirstResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="return" type="s0:QueryResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryLast">
        <s:complexType>
          <s:sequence>
            <s:element name="request" type="s0:QueryRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryLastResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="return" type="s0:QueryResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryNext">
        <s:complexType>
          <s:sequence>
            <s:element name="request" type="s0:QueryRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryNextResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="return" type="s0:QueryResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryPrevious">
        <s:complexType>
          <s:sequence>
            <s:element name="request" type="s0:QueryRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryPreviousResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="return" type="s0:QueryResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryAttributes">
        <s:complexType>
          <s:sequence>
            <s:element name="request" type="s0:QueryRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryAttributesResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="return" type="s0:QueryAttributesResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryAttachments">
        <s:complexType>
          <s:sequence>
            <s:element name="transportID" type="s:int" />
            <s:element name="eFilter" type="s0:ATTACHMENTS_FILTER" />
            <s:element name="eMode" type="s0:WSFILE_MODE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryAttachmentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="return" type="s0:Attachments" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryStatistics">
        <s:complexType>
          <s:sequence>
            <s:element name="filter" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryStatisticsResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="return" type="s0:StatisticsResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element name="identifier" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="return" type="s0:ActionResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Cancel">
        <s:complexType>
          <s:sequence>
            <s:element name="identifier" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="return" type="s0:ActionResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Resubmit">
        <s:complexType>
          <s:sequence>
            <s:element name="identifier" type="s:string" />
            <s:element name="params" type="s0:ResubmitParameters" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResubmitResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="return" type="s0:ActionResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element name="identifier" type="s:string" />
            <s:element name="params" type="s0:UpdateParameters" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="return" type="s0:ActionResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Approve">
        <s:complexType>
          <s:sequence>
            <s:element name="identifier" type="s:string" />
            <s:element name="reason" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApproveResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="return" type="s0:ActionResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Reject">
        <s:complexType>
          <s:sequence>
            <s:element name="identifier" type="s:string" />
            <s:element name="reason" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RejectResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="return" type="s0:ActionResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadFile">
        <s:complexType>
          <s:sequence>
            <s:element name="wsFile" type="s0:WSFile" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="return" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="ATTACHMENTS_FILTER">
        <s:restriction base="s:string">
          <s:enumeration value="FILTER_NONE" />
          <s:enumeration value="FILTER_ALL" />
          <s:enumeration value="FILTER_CONVERTED" />
          <s:enumeration value="FILTER_SOURCE" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="WSFILE_MODE">
        <s:restriction base="s:string">
          <s:enumeration value="MODE_UNDEFINED" />
          <s:enumeration value="MODE_ON_SERVER" />
          <s:enumeration value="MODE_INLINED" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="VAR_TYPE">
        <s:restriction base="s:string">
          <s:enumeration value="TYPE_STRING" />
          <s:enumeration value="TYPE_DATETIME" />
          <s:enumeration value="TYPE_DOUBLE" />
          <s:enumeration value="TYPE_INTEGER" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="UpdateParameters">
        <s:sequence>
          <s:element name="nVars" type="s:int" />
          <s:element atls:SizeIs="nVars" name="vars" nillable="true">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="unbounded" name="Var" type="s0:Var" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Transport">
        <s:sequence>
          <s:element name="transportID" type="s:int" />
          <s:element name="transportName" type="s:string" />
          <s:element name="recipientType" type="s:string" />
          <s:element name="state" type="s:int" />
          <s:element name="nVars" type="s:int" />
          <s:element atls:SizeIs="nVars" name="vars" nillable="true">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="unbounded" name="Var" type="s0:Var" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element name="nSubnodes" type="s:int" />
          <s:element atls:SizeIs="nSubnodes" name="subnodes" nillable="true">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="unbounded" name="SubNode" type="s0:SubNode" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResubmitParameters">
        <s:sequence>
          <s:element name="nVars" type="s:int" />
          <s:element atls:SizeIs="nVars" name="vars" nillable="true">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="unbounded" name="Var" type="s0:Var" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="QueryAttributesResult">
        <s:sequence>
          <s:element name="nAttributes" type="s:int" />
          <s:element atls:SizeIs="nAttributes" name="attributes" nillable="true">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="unbounded" name="string" type="s:string" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Var">
        <s:sequence>
          <s:element name="attribute" type="s:string" />
          <s:element name="type" type="s0:VAR_TYPE" />
          <s:element name="simpleValue" type="s:string" />
          <s:element name="nValues" type="s:int" />
          <s:element atls:SizeIs="nValues" name="multipleStringValues" nillable="true">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="unbounded" name="string" type="s:string" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element atls:SizeIs="nValues" name="multipleLongValues" nillable="true">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element atls:SizeIs="nValues" name="multipleDoubleValues" nillable="true">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="unbounded" name="double" type="s:double" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Attachment">
        <s:sequence>
          <s:element name="inputFormat" type="s:string" />
          <s:element name="outputFormat" type="s:string" />
          <s:element name="stylesheet" type="s:string" />
          <s:element name="outputName" type="s:string" />
          <s:element name="sourceAttachment" type="s0:WSFile" />
          <s:element name="nConvertedAttachments" type="s:int" />
          <s:element atls:SizeIs="nConvertedAttachments" name="convertedAttachments" nillable="true">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="unbounded" name="WSFile" type="s0:WSFile" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="SessionHeader">
        <s:sequence>
          <s:element name="sessionID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SubNode">
        <s:sequence>
          <s:element name="name" type="s:string" />
          <s:element name="relativeName" type="s:string" />
          <s:element name="nSubnodes" type="s:int" />
          <s:element atls:SizeIs="nSubnodes" name="subNodes" nillable="true">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="unbounded" name="string" type="s:string" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element name="nVars" type="s:int" />
          <s:element atls:SizeIs="nVars" name="vars" nillable="true">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="unbounded" name="Var" type="s0:Var" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="StatisticsResult">
        <s:sequence>
          <s:element name="nTypes" type="s:int" />
          <s:element atls:SizeIs="nTypes" name="typeName" nillable="true">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="unbounded" name="string" type="s:string" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element atls:SizeIs="nTypes" name="typeContent" nillable="true">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="unbounded" name="StatisticsLine" type="s0:StatisticsLine" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="WSFile">
        <s:sequence>
          <s:element name="name" type="s:string" />
          <s:element name="mode" type="s0:WSFILE_MODE" />
          <s:element name="content" type="s:base64Binary" />
          <s:element name="url" type="s:string" />
          <s:element name="storageID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="StatisticsLine">
        <s:sequence>
          <s:element name="nStates" type="s:int" />
          <s:element atls:SizeIs="nStates" name="states" nillable="true">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element atls:SizeIs="nStates" name="counts" nillable="true">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="QueryRequest">
        <s:sequence>
          <s:element name="filter" type="s:string" />
          <s:element name="sortOrder" type="s:string" />
          <s:element name="attributes" type="s:string" />
          <s:element name="nItems" type="s:int" />
          <s:element name="includeSubNodes" type="s:boolean" />
          <s:element name="searchInArchive" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="QueryHeader">
        <s:sequence>
          <s:element name="queryID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ActionResult">
        <s:sequence>
          <s:element name="nSucceeded" type="s:int" />
          <s:element name="nFailed" type="s:int" />
          <s:element name="nItem" type="s:int" />
          <s:element atls:SizeIs="nItem" name="transportIDs" nillable="true">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element atls:SizeIs="nItem" name="errorReason" nillable="true">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="unbounded" name="string" type="s:string" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Attachments">
        <s:sequence>
          <s:element name="nAttachments" type="s:int" />
          <s:element atls:SizeIs="nAttachments" name="attachments" nillable="true">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="unbounded" name="Attachment" type="s0:Attachment" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="QueryResult">
        <s:sequence>
          <s:element name="noMoreItems" type="s:boolean" />
          <s:element name="nTransports" type="s:int" />
          <s:element atls:SizeIs="nTransports" name="transports" nillable="true">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="unbounded" name="Transport" type="s0:Transport" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="SessionHeaderValue" type="s0:SessionHeader" />
      <s:element name="QueryHeaderValue" type="s0:QueryHeader" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="QueryFirstIn">
    <wsdl:part name="parameters" element="s0:QueryFirst" />
  </wsdl:message>
  <wsdl:message name="QueryFirstOut">
    <wsdl:part name="parameters" element="s0:QueryFirstResponse" />
  </wsdl:message>
  <wsdl:message name="QueryLastIn">
    <wsdl:part name="parameters" element="s0:QueryLast" />
  </wsdl:message>
  <wsdl:message name="QueryLastOut">
    <wsdl:part name="parameters" element="s0:QueryLastResponse" />
  </wsdl:message>
  <wsdl:message name="QueryNextIn">
    <wsdl:part name="parameters" element="s0:QueryNext" />
  </wsdl:message>
  <wsdl:message name="QueryNextOut">
    <wsdl:part name="parameters" element="s0:QueryNextResponse" />
  </wsdl:message>
  <wsdl:message name="QueryPreviousIn">
    <wsdl:part name="parameters" element="s0:QueryPrevious" />
  </wsdl:message>
  <wsdl:message name="QueryPreviousOut">
    <wsdl:part name="parameters" element="s0:QueryPreviousResponse" />
  </wsdl:message>
  <wsdl:message name="QueryAttributesIn">
    <wsdl:part name="parameters" element="s0:QueryAttributes" />
  </wsdl:message>
  <wsdl:message name="QueryAttributesOut">
    <wsdl:part name="parameters" element="s0:QueryAttributesResponse" />
  </wsdl:message>
  <wsdl:message name="QueryAttachmentsIn">
    <wsdl:part name="parameters" element="s0:QueryAttachments" />
  </wsdl:message>
  <wsdl:message name="QueryAttachmentsOut">
    <wsdl:part name="parameters" element="s0:QueryAttachmentsResponse" />
  </wsdl:message>
  <wsdl:message name="QueryStatisticsIn">
    <wsdl:part name="parameters" element="s0:QueryStatistics" />
  </wsdl:message>
  <wsdl:message name="QueryStatisticsOut">
    <wsdl:part name="parameters" element="s0:QueryStatisticsResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteIn">
    <wsdl:part name="parameters" element="s0:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteOut">
    <wsdl:part name="parameters" element="s0:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="CancelIn">
    <wsdl:part name="parameters" element="s0:Cancel" />
  </wsdl:message>
  <wsdl:message name="CancelOut">
    <wsdl:part name="parameters" element="s0:CancelResponse" />
  </wsdl:message>
  <wsdl:message name="ResubmitIn">
    <wsdl:part name="parameters" element="s0:Resubmit" />
  </wsdl:message>
  <wsdl:message name="ResubmitOut">
    <wsdl:part name="parameters" element="s0:ResubmitResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateIn">
    <wsdl:part name="parameters" element="s0:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateOut">
    <wsdl:part name="parameters" element="s0:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ApproveIn">
    <wsdl:part name="parameters" element="s0:Approve" />
  </wsdl:message>
  <wsdl:message name="ApproveOut">
    <wsdl:part name="parameters" element="s0:ApproveResponse" />
  </wsdl:message>
  <wsdl:message name="RejectIn">
    <wsdl:part name="parameters" element="s0:Reject" />
  </wsdl:message>
  <wsdl:message name="RejectOut">
    <wsdl:part name="parameters" element="s0:RejectResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadFileIn">
    <wsdl:part name="parameters" element="s0:DownloadFile" />
  </wsdl:message>
  <wsdl:message name="DownloadFileOut">
    <wsdl:part name="parameters" element="s0:DownloadFileResponse" />
  </wsdl:message>
  <wsdl:message name="SessionHeaderValue">
    <wsdl:part name="SessionHeaderValue" element="s0:SessionHeaderValue" />
  </wsdl:message>
  <wsdl:message name="QueryHeaderValue">
    <wsdl:part name="QueryHeaderValue" element="s0:QueryHeaderValue" />
  </wsdl:message>
  <wsdl:portType name="QueryServiceSoap">
    <wsdl:operation name="QueryFirst">
      <wsdl:input message="s0:QueryFirstIn" />
      <wsdl:output message="s0:QueryFirstOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryLast">
      <wsdl:input message="s0:QueryLastIn" />
      <wsdl:output message="s0:QueryLastOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryNext">
      <wsdl:input message="s0:QueryNextIn" />
      <wsdl:output message="s0:QueryNextOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryPrevious">
      <wsdl:input message="s0:QueryPreviousIn" />
      <wsdl:output message="s0:QueryPreviousOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryAttributes">
      <wsdl:input message="s0:QueryAttributesIn" />
      <wsdl:output message="s0:QueryAttributesOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryAttachments">
      <wsdl:input message="s0:QueryAttachmentsIn" />
      <wsdl:output message="s0:QueryAttachmentsOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryStatistics">
      <wsdl:input message="s0:QueryStatisticsIn" />
      <wsdl:output message="s0:QueryStatisticsOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="s0:DeleteIn" />
      <wsdl:output message="s0:DeleteOut" />
    </wsdl:operation>
    <wsdl:operation name="Cancel">
      <wsdl:input message="s0:CancelIn" />
      <wsdl:output message="s0:CancelOut" />
    </wsdl:operation>
    <wsdl:operation name="Resubmit">
      <wsdl:input message="s0:ResubmitIn" />
      <wsdl:output message="s0:ResubmitOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="s0:UpdateIn" />
      <wsdl:output message="s0:UpdateOut" />
    </wsdl:operation>
    <wsdl:operation name="Approve">
      <wsdl:input message="s0:ApproveIn" />
      <wsdl:output message="s0:ApproveOut" />
    </wsdl:operation>
    <wsdl:operation name="Reject">
      <wsdl:input message="s0:RejectIn" />
      <wsdl:output message="s0:RejectOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <wsdl:input message="s0:DownloadFileIn" />
      <wsdl:output message="s0:DownloadFileOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QueryServiceSoap" type="s0:QueryServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryFirst">
      <soap:operation soapAction="#QueryFirst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="s0:SessionHeaderValue" part="SessionHeaderValue" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="s0:QueryHeaderValue" part="QueryHeaderValue" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryLast">
      <soap:operation soapAction="#QueryLast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="s0:SessionHeaderValue" part="SessionHeaderValue" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="s0:QueryHeaderValue" part="QueryHeaderValue" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryNext">
      <soap:operation soapAction="#QueryNext" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="s0:SessionHeaderValue" part="SessionHeaderValue" use="literal" />
        <soap:header message="s0:QueryHeaderValue" part="QueryHeaderValue" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryPrevious">
      <soap:operation soapAction="#QueryPrevious" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="s0:SessionHeaderValue" part="SessionHeaderValue" use="literal" />
        <soap:header message="s0:QueryHeaderValue" part="QueryHeaderValue" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryAttributes">
      <soap:operation soapAction="#QueryAttributes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="s0:SessionHeaderValue" part="SessionHeaderValue" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryAttachments">
      <soap:operation soapAction="#QueryAttachments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="s0:SessionHeaderValue" part="SessionHeaderValue" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryStatistics">
      <soap:operation soapAction="#QueryStatistics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="s0:SessionHeaderValue" part="SessionHeaderValue" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="#Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="s0:SessionHeaderValue" part="SessionHeaderValue" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cancel">
      <soap:operation soapAction="#Cancel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="s0:SessionHeaderValue" part="SessionHeaderValue" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Resubmit">
      <soap:operation soapAction="#Resubmit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="s0:SessionHeaderValue" part="SessionHeaderValue" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="#Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="s0:SessionHeaderValue" part="SessionHeaderValue" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Approve">
      <soap:operation soapAction="#Approve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="s0:SessionHeaderValue" part="SessionHeaderValue" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reject">
      <soap:operation soapAction="#Reject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="s0:SessionHeaderValue" part="SessionHeaderValue" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <soap:operation soapAction="#DownloadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="s0:SessionHeaderValue" part="SessionHeaderValue" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QueryService">
    <wsdl:port name="QueryServiceSoap" binding="s0:QueryServiceSoap">
      <soap:address location="https://as1.ondemand.esker.com:443/EDPWS/EDPWS.dll?Handler=QueryHandler&amp;Version=1.0" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>