Bobcat/Source/Spheres/EfsML/BusinessSchemas/EfsMLv30/EfsML-Security-Shared-3-0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://www.efs.org/2007/EFSmL-3-0" 
            xmlns="http://www.efs.org/2007/EFSmL-3-0" 
            xmlns:fpml="http://www.fpml.org/2007/FpML-4-4" 
            xmlns:fixml="http://www.fixprotocol.org/FIXML-5-0-SP1"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.fpml.org/2007/FpML-4-4" schemaLocation="../FpML44/fpml-main-4-4.xsd" />
	<xsd:import namespace="http://www.fpml.org/2007/FpML-4-4" schemaLocation="../FpML44/fpml-asset-4-4.xsd" />
  <xsd:import namespace="http://www.fixprotocol.org/FIXML-5-0-SP1" schemaLocation="../FIXML50SP1/fixml-fields-impl-5-0-SP1.xsd" />
	<xsd:include schemaLocation="EfsML-Shared-3-0.xsd" />

  <xsd:attributeGroup name="TradeTypeReportAttributes">
    <xsd:attribute name="trdType" type="fixml:TrdType_t" use="optional"/>
    <xsd:attribute name="trdSubType" type="fixml:TrdSubType_t" use="optional"/>
    <xsd:attribute name="secondaryTrdType" type="fixml:SecondaryTrdType_t" use="optional"/>
  </xsd:attributeGroup>

  <!-- ****************************** -->
	<!-- Elements                       -->
	<!-- ****************************** -->
	<xsd:element name="debtSecurity" type="DebtSecurity" substitutionGroup="fpml:product">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Debenture security</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<!-- *********************************** -->
	<!-- AccruedInterestCalculationRules     -->
	<!-- *********************************** -->
	<xsd:complexType name="AccruedInterestCalculationRules">
		<xsd:sequence>
			<xsd:element name="calculationMethod"       type="AccruedInterestCalculationMethodEnum" minOccurs="0" />
			<xsd:element name="rounding"                type="fpml:Rounding"                        minOccurs="0" />
			<xsd:element name="prorataDayCountFraction" type="fpml:DayCountFraction"                minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<!-- ****************************** -->
	<!-- AdjustableOffset               -->
	<!-- ****************************** -->
	<xsd:complexType name="AdjustableOffset">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">An adjustable offset can be used to specify a number of days, business or calendar, for example in a notice period.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="fpml:Offset">
				<xsd:sequence>
					<xsd:group minOccurs="0" ref="fpml:BusinessCentersOrReference.model" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- ****************************** -->
	<!-- CFIIdentifier                  -->
	<!-- ****************************** -->
	<xsd:simpleType name="CFIIdentifier">
		<xsd:annotation>
			<xsd:documentation xml:lang="en" source="ISO20022">
				(Source:ISO20022)
				Classification type of the financial instrument, as per the ISO 10962 Classification of Financial Instrument (CFI) codification,
				eg, common share with voting rights, fully paid, or registered.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z]{1,6}" />
		</xsd:restriction>
	</xsd:simpleType>

	<!-- ****************************** -->
	<!-- Classification                 -->
	<!-- ****************************** -->
	<xsd:complexType name="Classification">
		<xsd:sequence>
			<xsd:element name="debtSecurityClass"                  type="Identification"                         minOccurs="0"/>
			<xsd:element name="cfiCode"                            type="CFIIdentifier"                          minOccurs="0"/>
			<xsd:element name="productTypeCode"                    type="ProductTypeCodeEnum"                    minOccurs="0"/>
			<xsd:element name="financialInstrumentProductTypeCode" type="FinancialInstrumentProductTypeCodeEnum" minOccurs="0"/>
			<xsd:element name="symbol"                             type="xsd:string"                             minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en" source="FIX">
						(Source:FIX, Tag:55, FieldName:Symbol, FIXML Abbr:@Sym, DataType:string)
						Ticker symbol. Common, "human understood" representation of the security.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="symbolSfx" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en" source="FIX">
						(Source:FIX, Tag:65, FieldName:SymbolSfx, FIXML Abbr:@Sfx, DataType:string)
						Additional information about the security (e.g. preferred, warrants, etc.). Note also see FIX tag65.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!-- ****************************** -->
	<!-- CommercialPaper                -->
	<!-- ****************************** -->
	<xsd:complexType name="CommercialPaper">
		<xsd:sequence>
			<xsd:element name="program" type="CPProgramEnum" minOccurs="0"/>
			<xsd:element name="regType" type="xsd:integer"   minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="FIX" xml:lang="en">
						(Source:FIX, Tag:876, FieldName:CPRegType, FIXML Abbr:@CPRegT, DataType:String)
						The registration type of a commercial paper issuance.
					</xsd:documentation>
					<xsd:documentation source="ISO20022" xml:lang="en">
						(Source:ISO20022, FieldName:CPRegistrationType)
						The registration type of a commercial paper issuance.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!-- ****************************** -->
	<!-- DebtSecurity                   -->
	<!-- ****************************** -->
  <!-- EG 20190823 [FIXEDINCOME] debtSecurityType|prevCouponDate -->
	<xsd:complexType name="DebtSecurity">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type defining Debt Security Asset (modeled as an FpML:Product).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="fpml:Product">
				<xsd:sequence>
          <xsd:element name="debtSecurityType"   type="DebtSecurityTypeEnum" />
          <xsd:element name="prevCouponDate"     type="xsd:date"  minOccurs="0"/>          
					<xsd:element name="security"           type="Security" />
					<xsd:element name="debtSecurityStream" type="DebtSecurityStream" minOccurs="1" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- ****************************** -->
	<!-- DebtSecurityStream             -->
	<!-- ****************************** -->
	<xsd:complexType name="DebtSecurityStream">
		<xsd:complexContent>
			<xsd:extension base="InterestRateStreamBase">
				<xsd:sequence>
					<xsd:element name="securityExchanges" type="fpml:PrincipalExchanges" minOccurs="0"/>
				</xsd:sequence>			 
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- ****************************** -->
	<!-- CashStream                     -->
	<!-- ****************************** -->
	<xsd:complexType name="CashStream">
		<xsd:complexContent>
			<xsd:extension base="InterestRateStreamBase" />
		</xsd:complexContent>
	</xsd:complexType>

	<!-- ****************************** -->
	<!-- FullCouponCalculationRules     -->
	<!-- ****************************** -->
  <!-- EG 20150924 Add exRecordDateOffset|exDateOffset -->
  <xsd:complexType name="FullCouponCalculationRules">
		<xsd:sequence>
			<xsd:element name="calculationMethod"  type="FullCouponCalculationMethodEnum" minOccurs="0" />
			<xsd:element name="unitCouponRounding" type="fpml:Rounding"                   minOccurs="0" />
			<xsd:element name="rounding"           type="fpml:Rounding"                   minOccurs="0" />
      <xsd:element name="recordDate"         type="fpml:RelativeDateOffset"         minOccurs="0" />
      <xsd:element name="exDate"             type="fpml:RelativeDateOffset"         minOccurs="0" />

    </xsd:sequence>
	</xsd:complexType>

	<!-- ****************************** -->
	<!-- Localization                   -->
	<!-- ****************************** -->
	<xsd:complexType name="Localization">
		<xsd:sequence>
			<xsd:element name="countryOfIssue" type="fpml:Country" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en" source="FIX">
						(Source:FIX, Tag:470, FieldName:CountryOfIssue, FIXML Abbr:@IssuCtry, DataType:Country)
						ISO Country code of instrument issue (e.g. the country portion typically used in ISIN). Can be used in conjunction with non-ISIN SecurityID (48) (e.g. CUSIP for Municipal Bonds without ISIN) to provide uniqueness.
					</xsd:documentation>
					<xsd:documentation xml:lang="en" source="ISO20022">
						(Source:ISO20022)
						Primary market or country where a security is issued by the issuer or its agent.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="stateOrProvinceOfIssue" type="Identification" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en" source="FIX">
						(Source:FIX, Tag:471, FieldName:StateOrProvinceOfIssue, FIXML Abbr:@StPrv, DataType:String)
						A two-character state or province abbreviation.
					</xsd:documentation>
					<xsd:documentation xml:lang="en" source="ISO20022">
						(Source:ISO20022)
						Indicates where the financial instrument was issued in a place other than the country of issue.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="localeOfIssue" type="Identification" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en" source="FIX">
						(Source:FIX, Tag:472, FieldName:LocaleOfIssue, FIXML Abbr:@Lcl, DataType:String)
						Identifies the locale. For Municipal Security Issuers other than state or province. Refer to http://www.atmos.albany.edu/cgi/stagrep-cgi
						Reference the IATA city codes for values.
						Note IATA (International Air Transport Association) maintains the codes at www.iata.org.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!-- ****************************** -->
	<!-- Margin                         -->
	<!-- ****************************** -->
	<xsd:complexType name="Margin">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Defines the margin, also called haircut in repo and securities lending terminology, that will be applied to a transaction. It is essentially a premium, expressed in percentage, to compensate collateral quality (or lack thereof) and liquidity.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="marginType" type="MarginTypeEnum">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The type of margin being specified to apply to the transaction.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="marginFactor" type="xsd:decimal">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The margin is expressed as a multiplication factor (default value is 1) to reflect the quality of the collateral. Also called margin ratio as per Section 2, paragraph (z) of the TBMA/ISMA Global Master Repurchase Agreement.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!-- ****************************** -->
	<!-- MidLifeEvent                   -->
	<!-- ****************************** -->
	<xsd:complexType name="MidLifeEvent" abstract="true">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A mid life event in a repo or securities lending transaction. Such mid life events are bilateral agreements between contracting parties to alter the financial profile of the transaction. Such examples include interest payments, collateral substitutions, or mark-to-market activity (cash or nominal repricing) to re-balance the valuation of cash and collateral in the transaction.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="false">
			<xsd:extension base="fpml:Event">
				<xsd:sequence>
					<xsd:element name="eventDate" type="fpml:IdentifiedDate">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The date the event has been recorded.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- *********************************** -->
	<!-- OrderQuantity                       -->
	<!-- *********************************** -->
	<xsd:complexType name="OrderQuantity">
		<xsd:sequence>
			<xsd:element name="quantityType" type="OrderQuantityType3CodeEnum">
				<xsd:annotation>
					<xsd:documentation source="ISO20022" xmlns:xml="http://www.w3.org/XML/1998/namespace" xml:lang="en">
						(Source:ISO20022)
						Specifies how the order is placed, eg by quantity of units or by amount of money.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="numberOfUnits" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xmlns:xml="http://www.w3.org/XML/1998/namespace" xml:lang="en">The number of units</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="notionalAmount" type="fpml:Money"/>
		</xsd:sequence>
	</xsd:complexType>

	<!-- *********************************** -->
	<!-- OrderPrice                          -->
	<!-- *********************************** -->
	<xsd:complexType name="OrderPrice">
		<xsd:sequence>
			<xsd:element name="priceUnits" type="fpml:PriceQuoteUnits" />
			<xsd:element name="cleanPrice" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xmlns:xml="http://www.w3.org/XML/1998/namespace" xml:lang="en">Debt security clean price, expressed in percentage points or yield</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dirtyPrice" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xmlns:xml="http://www.w3.org/XML/1998/namespace" xml:lang="en">Debt security dirty price, expressed in percentage  points or yield</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="accruedInterestRate"   type="xsd:decimal" minOccurs="0" />
			<xsd:element name="accruedInterestAmount" type="fpml:Money"  minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<!-- *********************************** -->
	<!-- PriceUnits                          -->
	<!-- *********************************** -->
	<xsd:complexType name="PriceUnits">
		<xsd:sequence>
			<xsd:element name="priceQuoteUnits" type="fpml:PriceQuoteUnits" />
			<xsd:element name="forced"          type="xsd:boolean" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<!-- *************************************** -->
	<!-- Security   					         -->
	<!-- *************************************** -->
	<xsd:complexType name="Security">
		<xsd:complexContent mixed="false">
			<xsd:extension base="fpml:ExchangeTraded">
				<xsd:sequence>
					<xsd:element name="classification" type="Classification"        minOccurs="0"/>
					<xsd:element name="couponType"     type="fpml:CouponType"       minOccurs="0" />
					<xsd:element name="priceRateType"  type="PriceRateType3CodeEnum" minOccurs="0" />
					<xsd:element name="localization"   type="Localization"          minOccurs="0" />
					<xsd:choice minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en" source="FIX">
								(Source:FIX, Tag:543, FieldName:InstrRegistry, FIXML Abbr:@Rgstry, DataType:String)
								Values may include BIC for the depository or custodian who maintain ownership records, the ISO country code for the location of the record, or the value "ZZ" to specify physical ownership of the security (e.g. stock certificate).
							</xsd:documentation>
							<xsd:documentation xml:lang="en" source="ISO20022">
								(Source:ISO20022)
								The location at which records of ownership are maintained for this instrument, and at which ownership changes must be recorded. This can be either the depository /custodian who maintains ownership Records or the country in which registry is kept.
							</xsd:documentation>
						</xsd:annotation>
						<xsd:element name="instrRegistryCountry"        type="fpml:Country" />
						<xsd:element name="instrRegistryPartyReference" type="fpml:PartyReference" />
					</xsd:choice>
					<xsd:element name="guarantorPartyReference" type="fpml:PartyReference" minOccurs="0" >
						<xsd:annotation>
							<xsd:documentation source="ISO20022" xml:lang="en">
								(Source:ISO20022)
								Legal entity that offers a guaranty.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="managerPartyReference" type="fpml:PartyReference" minOccurs="0" >
						<xsd:annotation>
							<xsd:documentation source="ISO20022" xml:lang="en">
								(Source:ISO20022)
								Entity that implements the investment strategy, ie, selects portfolio investments in accordance with the objectives and strategy in the fund's prospectus, and places orders to effect or liquidate selected investments in accordance with net flow of capital into or out of the fund.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="purpose" type="xsd:string" minOccurs="0" >
						<xsd:annotation>
							<xsd:documentation xml:lang="en" source="ISO20022">
								(Source:ISO20022, FieldName:Purpose)
								Reason for which money is raised through the issuance of a security.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="seniority" type="fpml:CreditSeniority" minOccurs="0" >
						<xsd:annotation>
							<xsd:documentation xml:lang="en" source="ISO20022">
								(Source:ISO20022, FieldName:PreferenceToIncome)
								Indicates the level of priority to claim on income and assets of the company in case of the payment of dividends and in the event of a bankruptcy, for example, ordinary/common stocks, preferred stocks, subordinated debt, etc.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="numberOfIssuedSecurities" type="xsd:integer"              minOccurs="0" />
					<xsd:element name="faceAmount"               type="fpml:Money"               minOccurs="0" />
					<xsd:element name="price"                    type="SecurityPrice"            minOccurs="0" />
					<xsd:element name="commercialPaper"          type="CommercialPaper"          minOccurs="0" />
					<xsd:element name="calculationRules"         type="SecurityCalculationRules" minOccurs="0" />
					<xsd:element name="orderRules"               type="SecurityOrderRules"       minOccurs="0" />
					<xsd:element name="quoteRules"               type="SecurityQuoteRules"       minOccurs="0" />
					<xsd:element name="indicator"                type="SecurityIndicator"        minOccurs="0" />
					<xsd:element name="yield"                    type="SecurityYield"            minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- *********************************** -->
	<!-- SecurityAsset                       -->
	<!-- *********************************** -->
  <!-- EG 20150422 [20513] BANCAPERTA new issuerReference -->
  <xsd:complexType name="SecurityAsset">
		<xsd:sequence>
			<xsd:element name="securityId" type="xsd:normalizedString">
				<xsd:annotation>
					<xsd:documentation xmlns:xml="http://www.w3.org/XML/1998/namespace" xml:lang="en">The identifier of the debt security. A free format string. EfsML does not define usage rules for this element.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="securityName" type="xsd:normalizedString" minOccurs="0" >
				<xsd:annotation>
					<xsd:documentation xmlns:xml="http://www.w3.org/XML/1998/namespace" xml:lang="en">The displayName of the debt security. A free format string. EfsML does not define usage rules for this element.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="securityDescription" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xmlns:xml="http://www.w3.org/XML/1998/namespace" xml:lang="en">The description of the debt security. A free format string. EfsML does not define usage rules for this element.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="securityIssueDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xmlns:xml="http://www.w3.org/XML/1998/namespace" xml:lang="en">issue date of the debt security</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
      <xsd:element name="issuerReference" type="fpml:PartyReference" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xmlns:xml="http://www.w3.org/XML/1998/namespace" xml:lang="en">issuer of the debt security</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="debtSecurity" type="DebtSecurity" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xmlns:xml="http://www.w3.org/XML/1998/namespace" xml:lang="en">the debt security complete description</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id"      type="xsd:ID" />
		<xsd:attribute name="OTCmlId" type="xsd:normalizedString"/>
	</xsd:complexType>

	<!-- ****************************** -->
	<!-- SecurityAssetReference         -->
	<!-- ****************************** -->
	<xsd:complexType name="SecurityAssetReference">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Reference to a security asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="fpml:Reference">
				<xsd:attribute name="href" type="xsd:IDREF" use="required" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- ****************************** -->
	<!-- SecurityCalculationRules       -->
	<!-- ****************************** -->
	<xsd:complexType name="SecurityCalculationRules">
		<xsd:sequence>
			<xsd:element name="fullCouponCalculationRules"      type="FullCouponCalculationRules"      minOccurs="0" />
			<xsd:element name="accruedInterestCalculationRules" type="AccruedInterestCalculationRules" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<!-- ****************************** -->
	<!-- SecurityIndicator              -->
	<!-- ****************************** -->
	<xsd:complexType name="SecurityIndicator">
		<xsd:sequence>
			<xsd:element name="certificatedIndicator" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="ISO20022" xml:lang="en">
						(Source:ISO20022)
						Indicates whether certificates, representing the ownership of a security, exist.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dematerialisedIndicator" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="ISO20022" xml:lang="en">
						(Source:ISO20022)
						Indicates whether a security exists only as an electronic record, ie, there is no physical document representing the security.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fungibleIndicator" type="xsd:boolean" minOccurs="0" >
				<xsd:annotation>
					<xsd:documentation source="ISO20022" xml:lang="en">
						(Source:ISO20022)
						Indicates whether a security is interchangeable, ie, the security is allowed to be replaced by another security, without loss of value.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="immobilisedIndicator" type="xsd:boolean" minOccurs="0" >
				<xsd:annotation>
					<xsd:documentation source="ISO20022" xml:lang="en">
						(Source:ISO20022)
						Indicates whether the certificate representing a security is stored centrally and maintained electronically, without the need for any physical movement.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="amortisedIndicator" type="xsd:boolean" minOccurs="0" >
				<xsd:annotation>
					<xsd:documentation source="ISO20022" xml:lang="en">
						(Source:ISO20022)
						Indicates whether the interest bearing instrument can be amortised or not.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="callProtectionIndicator" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="ISO20022" xml:lang="en">
						(Source:ISO20022)
						Indicates whether the security may be redeemed by the issuer at specified dates and prices.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="callableIndicator" type="xsd:boolean" minOccurs="0" >
				<xsd:annotation>
					<xsd:documentation source="ISO20022" xml:lang="en">
						(Source:ISO20022)
						Indicates whether the issuer has the right to pay the bond prior to maturity.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="putableIndicator" type="xsd:boolean" minOccurs="0" >
				<xsd:annotation>
					<xsd:documentation source="ISO20022" xml:lang="en">
						(Source:ISO20022)
						Indicates whether the bondholder has the right to redeem the principal amount of a bond prior to final maturity.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="convertibleIndicator" type="xsd:boolean" minOccurs="0" >
				<xsd:annotation>
					<xsd:documentation source="ISO20022" xml:lang="en">
						(Source:ISO20022)
						Indicates whether the interest bearing instrument is convertible into another type of financial instrument or not.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="escrowedIndicator" type="xsd:boolean" minOccurs="0" >
				<xsd:annotation>
					<xsd:documentation source="ISO20022" xml:lang="en">
						(Source:ISO20022)
						Indicates whether an interest bearing instrument is deposited in a fund that will be used to pay debt service on refunded securities.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="prefundedIndicator" type="xsd:boolean" minOccurs="0" >
				<xsd:annotation>
					<xsd:documentation source="ISO20022" xml:lang="en">
						(Source:ISO20022)
						Indicates whether an interest bearing instrument is being escrowed or collateralized either by direct obligations guaranteed by the US government, or by other types of securities. The maturity schedules of the securities in the escrow fund are determined in such a way to pay the maturity value, coupon, and premium payments (if any) of the refunded bonds.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="paymentDirectionIndicator" type="xsd:string" minOccurs="0" >
				<xsd:annotation>
					<xsd:documentation source="ISO20022" xml:lang="en">
						(Source:ISO20022)
						Indicates the direction of payment for asset or mortgage backed securities, ie, whether the repaid capital is distributed (payment direction is down) or capitalized (payment direction is up).
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="quotedIndicator" type="xsd:boolean" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<!-- ****************************** -->
	<!-- SecurityExchanges              -->
	<!-- ****************************** -->
	<xsd:complexType name="SecurityExchanges">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type defining which quantity (security) exchanges occur for the stream.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="initialExchange" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">A true/false flag to indicate whether there is an initial exchange of quantity (security) on the effective date.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="finalExchange" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">A true/false flag to indicate whether there is a final exchange of quantity (security) on the termination date.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="intermediateExchange" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">A true/false flag to indicate whether there are intermediate or interim exchanges of quantity (security) during the term of the swap.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID" use="optional" />
	</xsd:complexType>

	<!-- ****************************** -->
	<!-- SecurityLegReference           -->
	<!-- ****************************** -->
	<xsd:complexType name="SecurityLegReference">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Reference to a security leg.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="fpml:Reference">
				<xsd:attribute name="href" type="xsd:IDREF" use="required" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- *********************************** -->
	<!-- SecurityOrderRules                  -->
	<!-- *********************************** -->
	<xsd:complexType name="SecurityOrderRules">
		<xsd:sequence>
			<xsd:element name="priceUnits"                type="PriceUnits"            minOccurs="0" />
			<xsd:element name="accruedInterestIndicator"  type="xsd:boolean"           minOccurs="0" />
			<xsd:element name="priceInPercentageRounding" type="fpml:Rounding"         minOccurs="0" />
			<xsd:element name="priceInRateRounding"       type="fpml:Rounding"         minOccurs="0" />
			<xsd:element name="quantityType"              type="OrderQuantityType3CodeEnum" minOccurs="0" />
			<xsd:element name="settlementDaysOffset"      type="fpml:Offset"           minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<!-- ****************************** -->
	<!-- SecurityPrice                  -->
	<!-- ****************************** -->
	<xsd:complexType name="SecurityPrice">
		<xsd:sequence>
			<xsd:element name="issuePricePercentage" type="xsd:decimal" minOccurs="0" >
				<xsd:annotation>
					<xsd:documentation source="ISO20022" xml:lang="en">
						(Source:ISO20022)
						Initial issue price of the security.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="FIX" xml:lang="en">
						(Source:FIX, Tag:697, FieldName:YieldRedemptionPrice, FIXML Abbr:@RedPx, DataType:Price)
						Price to which the yield has been calculated.
					</xsd:documentation>
					<xsd:documentation source="ISO20022" xml:lang="en">
						(Source:ISO20022)
						Price based on which the yield is computed.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:element name="redemptionPricePercentage" type="xsd:decimal" />
				<xsd:element name="redemptionPriceFormula"    type="fpml:Formula" />
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>

	<!-- ****************************** -->
	<!-- SecurityQuoteRules             -->
	<!-- ****************************** -->
	<xsd:complexType name="SecurityQuoteRules">
		<xsd:sequence>
			<xsd:element name="quoteUnits"               type="fpml:PriceQuoteUnits" minOccurs="0" />
			<xsd:element name="accruedInterestIndicator" type="xsd:boolean"          minOccurs="0" >
				<xsd:annotation>
					<xsd:documentation source="ISO20022" xml:lang="en">
						(Source:ISO20022)
						Indicates whether the net proceeds include interest accrued on the financial instrument.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="quoteRounding" type="fpml:Rounding" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<!-- ******************************* -->
	<!-- SecurityYield					         -->
	<!-- ******************************* -->
	<xsd:complexType name="SecurityYield">
		<xsd:sequence>
			<xsd:element name="yieldType" type="YieldTypeEnum" minOccurs="0" />
			<xsd:element name="yield"     type="xsd:decimal"   minOccurs="0" >
				<xsd:annotation>
					<xsd:documentation source="FIX" xml:lang="en">
						(Source:FIX, Tag:236, FieldName:Yield, FIXML Abbr:@Yld, DataType:Percentage)
						Yield percentage. (Note tag # was reserved in FIX 4.1, added in FIX 4.3)
					</xsd:documentation>
					<xsd:documentation source="ISO20022" xml:lang="en">
						(Source:ISO20022)
						Result of the yield calculation.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="yieldCalculationDate" type="xsd:date" minOccurs="0" >
				<xsd:annotation>
					<xsd:documentation source="FIX" xml:lang="en">
						(Source:FIX, Tag:701, FieldName:YieldCalcDate, FIXML Abbr:@CalcDt, DataType:LocalMktDate)
						Include as needed to clarify yield irregularities associated with date, e.g. when it falls on a non-business day.
					</xsd:documentation>
					<xsd:documentation source="ISO20022" xml:lang="en">
						(Source:ISO20022)
						Included as needed to clarify yield irregularities associated with date, e.g. when it falls on a non-business day.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
