Bobcat/Source/Spheres/SpheresWebApplication/BusinessSchemas/EfsMLv30/EfsML-IMRLog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Corresponding C# serializable classes defined into the EfsML\EfsMLv30\EfsML_MarginDetailsDocument.cs.
This xsd collection types is valid for any version of the EfsML namespace starting from the version 3.0.
-->
<xsd:schema xmlns="http://www.efs.org/2007/EFSmL-3-0" xmlns:fpml="http://www.fpml.org/2007/FpML-4-4" xmlns:fixml="http://www.fixprotocol.org/FIXML-5-0-SP1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.efs.org/2007/EFSmL-3-0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.fpml.org/2007/FpML-4-4" schemaLocation="../FpML44/fpml-main-4-4.xsd"/>
	<xsd:import namespace="http://www.fixprotocol.org/FIXML-5-0-SP1" schemaLocation="../FIXML50SP1/fixml-positions-impl-5-0-SP1.xsd"/>
	<xsd:include schemaLocation="EfsML-3-0.xsd"/>
	<!-- ********************************************************************************************************** -->
	<!-- Shared elements -->
	<!-- ********************************************************************************************************** -->
	<!-- ****************************** -->
	<!-- marginRequirementOffice root element -->
	<!-- ****************************** -->
	<xsd:element name="marginRequirementOffice" type="MarginRequirementOffice" nillable="false">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Initial Margin Requirement Calculation Log</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- ****************************** -->
	<!-- MarginRequirementOffice  -->
	<!-- ****************************** -->
	<xsd:complexType name="MarginRequirementOffice">
		<xsd:sequence>
			<xsd:element name="bookId" type="BookId"/>
			<xsd:element name="payerPartyReference" type="fpml:PartyReference"/>
			<xsd:element name="receiverPartyReference" type="fpml:PartyReference"/>
			<xsd:element ref="marginAmounts" minOccurs="0"/>
			<xsd:element name="marginCalculation" type="MarginCalculation" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="href" type="xsd:IDREF" use="required"/>
		<xsd:attribute name="isGross" type="xsd:boolean" use="required"/>
		<xsd:attribute name="wratio" type="xsd:decimal" use="optional"/>
	</xsd:complexType>
	<!-- ****************************** -->
	<xsd:element name="marginAmounts" type="MarginAmounts"/>
	<!-- ****************************** -->
	<!-- MarginAmounts -->
	<!-- ****************************** -->
	<xsd:complexType name="MarginAmounts">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="Money" type="fpml:Money"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- MarginCalculation -->
	<!-- ****************************** -->
	<xsd:complexType name="MarginCalculation">
		<xsd:choice>
			<xsd:element name="grossMargin" type="GrossMargin" minOccurs="0"/>
			<xsd:element name="netMargin" type="NetMargin" minOccurs="0"/>
		</xsd:choice>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- GrossMargin -->
	<!-- ****************************** -->
	<xsd:complexType name="GrossMargin">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="marginRequirementOffice" type="MarginRequirementOffice"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- NetMargin -->
	<!-- ****************************** -->
	<xsd:complexType name="NetMargin">
		<xsd:sequence>
			<xsd:element name="positions" type="Positions"/>
			<xsd:element name="marginCalculationMethod" type="MarginCalculationMethod"/>
			<xsd:element ref="marginAmounts"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- Positions -->
	<!-- ****************************** -->
	<xsd:complexType name="Positions">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element ref="fixml:PosRpt"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- MarginCalculationMethod  -->
	<!-- ****************************** -->
	<xsd:complexType name="MarginCalculationMethod">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type defining margin requirement calculation method formation.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="contracts" type="MethCustomContracts" minOccurs="0"/>
				<xsd:element name="products" type="MethTimsIdemProducts" minOccurs="0"/>
				<xsd:element name="groups" type="MethTimsEurexGroups" minOccurs="0"/>
				<xsd:element name="span" type="MethSpanOverall" minOccurs="0"/>
			</xsd:choice>
			<xsd:element ref="marginAmounts"/>
		</xsd:sequence>
		<xsd:attribute name="name">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
          <xsd:enumeration value="CBOE Margin"/>
          <xsd:enumeration value="Custom"/>
          <xsd:enumeration value="EUREX PRISMA"/>
          <xsd:enumeration value="IMSM"/>
					<xsd:enumeration value="London SPAN"/>
          <xsd:enumeration value="MEFFCOM2"/>
          <!-- PM 20190222 [24326] Nouvelle méthode NOMX_CFM -->
          <xsd:enumeration value="NOMX_CFM"/>
          <!-- PM 20221212 [XXXXX] Nouvelle méthode NOMARGIN -->
          <xsd:enumeration value="NOMARGIN"/>
          <xsd:enumeration value="OMX_RCAR"/>
          <xsd:enumeration value="TIMS IDEM"/>
					<xsd:enumeration value="TIMS EUREX"/>
					<xsd:enumeration value="SPAN C21"/>
					<xsd:enumeration value="SPAN CME"/>
          <xsd:enumeration value="SPAN 2 CORE"/>
          <xsd:enumeration value="SPAN 2 SOFTWARE"/>
        </xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
    <xsd:attribute name="version"  use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Version of the method</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
	</xsd:complexType>
	<!-- ********************************************************************************************************** -->
	<!-- CUSTOM method elements -->
	<!-- ********************************************************************************************************** -->
	<!-- ****************************** -->
	<!-- MethCustomContracts -->
	<!-- ****************************** -->
	<xsd:complexType name="MethCustomContracts">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="contract" type="MethCustomContract"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- MethCustomContract  -->
	<!-- ****************************** -->
	<xsd:complexType name="MethCustomContract">
		<xsd:sequence>
			<xsd:element name="positions" type="Positions"/>
			<xsd:element name="customAmounts" type="MethCustomAmounts" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">partial risk evaluation amount for the contract positions</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="marginAmount" type="MarginAmount"/>
		</xsd:sequence>
		<xsd:attribute name="OTCmlId" use="required">
			<xsd:annotation>
				<xsd:documentation xml:lang="en">Contract internal Id</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="id" use="required">
			<xsd:annotation>
				<xsd:documentation xml:lang="en">Contract identifier</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="quote" use="optional">
			<xsd:annotation>
				<xsd:documentation xml:lang="en">
          "asset quote" is for future contracts the quote of the asset at the current business date.
          "asset quote" is for option contracts the quote of the underlyer asset at the current business date.
        </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="multiplier" use="optional">
			<xsd:annotation>
				<xsd:documentation xml:lang="en">
          Contract multiplier (using the contract multiplier of the DERIVATIVECONTRACT table)
        </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="marginExpressiontype" use="required">
			<xsd:annotation>
				<xsd:documentation xml:lang="en">
          sub-modality of the standard method used to evaluate the contract positions.
        </xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Amount">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">
                modality FixedAmount, risk amount => Qty * amount
              </xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="Percentage">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">
                modality Percentage, risk amount => Qty * amount(%) * multiplier * quote
              </xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- MarginAmount -->
	<!-- ****************************** -->
	<xsd:complexType name="MarginAmount">
		<xsd:complexContent>
			<xsd:extension base="fpml:Money"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- MethCustomAmounts -->
	<!-- ****************************** -->
	<xsd:complexType name="MethCustomAmounts">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="customAmount" type="MethCustomAmount"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- MethCustomAmount -->
	<!-- ****************************** -->
	<xsd:complexType name="MethCustomAmount">
		<xsd:sequence>
			<xsd:element name="positions" type="MethCustomPositions" maxOccurs="unbounded"/>
			<xsd:element name="marginAmount" type="MarginAmount"/>
		</xsd:sequence>
		<xsd:attribute name="type" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Normal"/>
					<xsd:enumeration value="Straddle"/>
					<xsd:enumeration value="LongCall"/>
					<xsd:enumeration value="ShortCall"/>
					<xsd:enumeration value="LongPut"/>
					<xsd:enumeration value="ShortPut"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="amount" use="required"/>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- MethCustomPositions -->
	<!-- ****************************** -->
	<xsd:complexType name="MethCustomPositions">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="PosRpt" type="MethCustomPosition"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- MethCustomPosition -->
	<!-- ****************************** -->
	<xsd:complexType name="MethCustomPosition">
		<xsd:sequence>
			<xsd:element name="Qty" type="fixml:PositionQty_Block_t" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="SetPx" type="xsd:string" use="required"/>
	</xsd:complexType>
	<!-- ********************************************************************************************************** -->
	<!-- TIMS IDEM method elements -->
	<!-- ********************************************************************************************************** -->
	<!-- ****************************** -->
	<!-- MethTimsIdemProducts -->
	<!-- ****************************** -->
	<xsd:complexType name="MethTimsIdemProducts">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="product" type="MethTimsIdemProduct"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- MethTimsIdemProduct -->
	<!-- ****************************** -->
	<xsd:complexType name="MethTimsIdemProduct">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="positions" type="Positions"/>
			<xsd:element name="marginAmount" type="MarginAmount"/>
			<xsd:element name="spread" type="MethTimsIdemSpread" minOccurs="0"/>
			<xsd:element name="mtm" type="MethTimsIdemMtM" minOccurs="0"/>
			<xsd:element name="premium" type="MethTimsIdemPremium" minOccurs="0"/>
			<xsd:element name="additional" type="MethTimsIdemAdditional" minOccurs="0"/>
			<xsd:element name="minimum" type="MethTimsIdemMinimum" minOccurs="0"/>
			<xsd:element name="classes" type="MethTimsIdemClasses"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required"/>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- MethTimsIdemProducts -->
	<!-- ****************************** -->
	<xsd:complexType name="MethTimsIdemClasses">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="class" type="MethTimsIdemClass"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- MethTimsIdemClass -->
	<!-- ****************************** -->
	<xsd:complexType name="MethTimsIdemClass">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="positions" type="Positions"/>
			<xsd:element name="spread" type="MethTimsIdemSpread" minOccurs="0"/>
			<xsd:element name="mtm" type="MethTimsIdemMtM" minOccurs="0"/>
			<xsd:element name="premium" type="MethTimsIdemPremium" minOccurs="0"/>
			<xsd:element name="additional" type="MethTimsIdemAdditional" minOccurs="0"/>
			<xsd:element name="minimum" type="MethTimsIdemMinimum" minOccurs="0"/>
			<xsd:element name="contracts" type="MethTimsIdemContracts"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="sym" type="xsd:string" use="required"/>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- MethTimsIdemContracts -->
	<!-- ****************************** -->
	<xsd:complexType name="MethTimsIdemContracts">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="contract" type="MethTimsIdemContract"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- MethTimsIdemContract-->
	<!-- ****************************** -->
	<xsd:complexType name="MethTimsIdemContract">
		<xsd:sequence>
			<xsd:element name="positions" type="Positions"/>
			<xsd:element name="mtm" type="MethTimsIdemMtM" minOccurs="0"/>
			<xsd:element name="premium" type="MethTimsIdemPremium" minOccurs="0"/>
			<xsd:element name="additional" type="MethTimsIdemAdditional" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="offset" type="xsd:float" use="optional"/>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- MethTimsIdemSpread -->
	<!-- ****************************** -->
	<xsd:complexType name="MethTimsIdemSpread">
		<xsd:sequence>
			<xsd:element name="factors" type="MethTimsIdemFactors" minOccurs="0"/>
			<xsd:element name="marginAmount" type="MarginAmount"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- MethTimsIdemAdditional -->
	<!-- ****************************** -->
	<xsd:complexType name="MethTimsIdemAdditional">
		<xsd:sequence>
			<xsd:element name="factors" type="MethTimsIdemFactors"/>
			<xsd:element name="marginAmount" type="MarginAmount"/>
		</xsd:sequence>
		<xsd:attribute name="cvm" type="xsd:float" use="optional"/>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- MethTimsIdemFactors -->
	<!-- ****************************** -->
	<xsd:complexType name="MethTimsIdemFactors">
		<xsd:sequence>
			<xsd:element name="factor" type="MethTimsIdemFactor" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- MethTimsIdemFactor -->
	<!-- ****************************** -->
	<xsd:complexType name="MethTimsIdemFactor">
		<xsd:sequence>
			<xsd:element name="MinimumRate" minOccurs="0">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:float"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Quote" minOccurs="0">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:float"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="StrkPx" minOccurs="0">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:float"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Qty" type="fixml:PositionQty_Block_t" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="riskArray" type="MethTimsIdemRiskArray" minOccurs="0"/>
			<xsd:element name="marginAmount" type="MarginAmount" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="ID" use="optional"/>
		<xsd:attribute name="mult" use="optional"/>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- MethTimsIdemRiskArray -->
	<!-- ****************************** -->
	<xsd:complexType name="MethTimsIdemRiskArray">
		<xsd:sequence>
			<xsd:element name="sidepoint" type="MethTimsIdemRiskArrayElem" minOccurs="10" maxOccurs="10"/>
		</xsd:sequence>
		<xsd:attribute name="OTM" type="xsd:boolean" use="optional"/>
		<xsd:attribute name="shortAdj" type="xsd:float" use="optional"/>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- MethTimsIdemRiskArrayElem -->
	<!-- ****************************** -->
	<xsd:complexType name="MethTimsIdemRiskArrayElem">
		<xsd:sequence>
			<xsd:element name="marginAmount" type="MarginAmount"/>
		</xsd:sequence>
		<xsd:attribute name="mult" type="xsd:decimal" use="optional"/>
		<xsd:attribute name="ID" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- MethTimsIdemAdditional -->
	<!-- ****************************** -->
	<xsd:complexType name="MethTimsIdemMinimum">
		<xsd:sequence>
			<xsd:element name="factors" type="MethTimsIdemFactors" minOccurs="0"/>
			<xsd:element name="marginAmount" type="MarginAmount"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- MethTimsIdemMtM -->
	<!-- ****************************** -->
	<xsd:complexType name="MethTimsIdemMtM">
		<xsd:sequence>
			<xsd:element name="factors" type="MethTimsIdemFactors" minOccurs="0"/>
			<xsd:element name="marginAmount" type="MarginAmount"/>
		</xsd:sequence>
		<xsd:attribute name="cvm" type="xsd:float" use="optional"/>
		<xsd:attribute name="delivery" type="xsd:float" use="optional"/>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- MethTimsIdemPremium -->
	<!-- ****************************** -->
	<xsd:complexType name="MethTimsIdemPremium">
		<xsd:sequence>
			<xsd:element name="factors" type="MethTimsIdemFactors" minOccurs="0"/>
			<xsd:element name="marginAmount" type="MarginAmount"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ********************************************************************************************************** -->
	<!-- TIMS EUREX method elements -->
	<!-- ********************************************************************************************************** -->
	<!-- ****************************** -->
	<!-- MethTimsEurexGroups-->
	<!-- ****************************** -->
	<xsd:complexType name="MethTimsEurexGroups">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="group" type="MethTimsEurexGroup"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- MethTimsEurexGroup -->
	<!-- ****************************** -->
	<xsd:complexType name="MethTimsEurexGroup">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="positions" type="Positions"/>
			<xsd:element ref="marginAmounts"/>
			<xsd:element name="classes" type="MethTimsEurexClasses"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="OOMmin" type="xsd:decimal" use="required"/>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- MethTimsEurexClasses -->
	<!-- ****************************** -->
	<xsd:complexType name="MethTimsEurexClasses">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="class" type="MethTimsEurexClass"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- MethTimsEurexClass -->
	<!-- ****************************** -->
	<xsd:complexType name="MethTimsEurexClass">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="positions" type="Positions"/>
			<xsd:element name="marginAmount" type="MarginAmount"/>
			<xsd:element name="premium" type="MethTimsIdemPremium" minOccurs="0"/>
			<xsd:element name="contracts" type="MethTimsEurexContracts"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="backmonthsrate" type="xsd:decimal" use="required"/>
		<xsd:attribute name="spotmonthrate" type="xsd:decimal" use="required"/>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- MethTimsEurexContracts -->
	<!-- ****************************** -->
	<xsd:complexType name="MethTimsEurexContracts">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="class" type="MethTimsEurexContract"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- MethTimsEurexContract -->
	<!-- ****************************** -->
	<xsd:complexType name="MethTimsEurexContract">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="positions" type="Positions"/>
			<xsd:element name="marginAmount" type="MarginAmount"/>
			<xsd:element name="premium" type="MethTimsIdemPremium" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="offset" type="xsd:decimal" use="required"/>
	</xsd:complexType>
	<!-- ********************************************************************************************************** -->
	<!-- SPAN method elements -->
	<!-- ********************************************************************************************************** -->
	<!-- ****************************** -->
	<!-- MethSpanOverall -->
	<!-- ****************************** -->
	<xsd:complexType name="MethSpanOverall">
		<xsd:sequence maxOccurs="unbounded">
      <!--xsd:element name="lov" type="MarginAmount" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="sov" type="MarginAmount" minOccurs="0" maxOccurs="1"/-->
			<xsd:element name="exchangecomplex" type="MethSpanExchangeComplex"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- MethSpanExchangeComplex -->
	<!-- ****************************** -->
	<xsd:complexType name="MethSpanExchangeComplex">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="group" type="MethSpanCombinedCommodityGroup"/>
      <xsd:element name="positions" type="Positions"/>
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string" use="required"/>
  </xsd:complexType>
	<!-- ****************************** -->
	<!-- MethSpanCombinedCommodityGroup -->
	<!-- ****************************** -->
	<xsd:complexType name="MethSpanCombinedCommodityGroup">
    <xsd:sequence maxOccurs="unbounded">
      <xsd:element name="combinedcommodity" type="MethSpanCombinedCommodity"/>
      <xsd:element name="positions" type="Positions"/>
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string" use="required"/>
  </xsd:complexType>
	<!-- ****************************** -->
	<!-- MethSpanCombinedCommodity -->
	<!-- ****************************** -->
	<xsd:complexType name="MethSpanCombinedCommodity">
    <xsd:sequence maxOccurs="unbounded">
			<xsd:element name="month" type="MethSpanFuturesMonth" minOccurs="0"/>
      <xsd:element name="positions" type="Positions"/>
      <xsd:element name="lov" type="MarginAmount"/>
      <xsd:element name="sov" type="MarginAmount"/>
      <xsd:element name="riskinitial" type="MarginAmount"/>
      <xsd:element name="riskmaintenance" type="MarginAmount"/>
      <xsd:element name="nov" type="MarginAmount"/>
      <xsd:element name="scanrisk" type="MarginAmount"/>
      <xsd:element name="intermonthspreadcharge" type="MarginAmount"/>
      <xsd:element name="deliverymonthcharge" type="MarginAmount"/>
      <xsd:element name="intercommoditycredit" type="MarginAmount"/>
      <xsd:element name="som" type="MarginAmount"/>
    </xsd:sequence>
    <xsd:attribute name="intermonthmethod" type="xsd:string" use="required"/>
    <xsd:attribute name="deliverymonthmethod" type="xsd:string" use="required"/>
    <xsd:attribute name="netdelta" type="xsd:decimal" use="required"/>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- MethSpanScanValue -->
  <!-- ****************************** -->
  <xsd:complexType name="MethSpanScanValue">
    <xsd:sequence maxOccurs="unbounded">
      <xsd:element name="scanrisk" type="MarginAmount"/>
      <xsd:element name="pricerisk" type="MarginAmount"/>
    </xsd:sequence>
    <xsd:attribute name="activescenario" type="xsd:integer" use="required"/>
  </xsd:complexType>

  <!-- ****************************** -->
	<!-- MethSpanFuturesMonth -->
	<!-- ****************************** -->
	<xsd:complexType name="MethSpanFuturesMonth">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="contract" type="MethSpanContract"/>
		</xsd:sequence>
		<xsd:attribute name="maturity" type="xsd:string" use="required"/>
		<xsd:attribute name="netdelta" type="xsd:decimal" use="required"/>
	</xsd:complexType>
	<!-- ****************************** -->
	<!-- MethSpanContract -->
	<!-- ****************************** -->
	<xsd:complexType name="MethSpanContract">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="positions" type="Positions"/>
		</xsd:sequence>
		<xsd:attribute name="netdelta" type="xsd:decimal" use="required"/>
	</xsd:complexType>
</xsd:schema>
