Bobcat/Source/Spheres/LoggerClient/Service References/LoggerService/SpheresLoggerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SpheresLoggerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8736/SpheresLogger/SpheresLoggerService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8736/SpheresLogger/SpheresLoggerService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8736/SpheresLogger/SpheresLoggerService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EFS.LoggerService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISpheresLoggerService_IsAlive_InputMessage">
    <wsdl:part name="parameters" element="tns:IsAlive" />
  </wsdl:message>
  <wsdl:message name="ISpheresLoggerService_IsAlive_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsAliveResponse" />
  </wsdl:message>
  <wsdl:message name="ISpheresLoggerService_BeginScope_InputMessage">
    <wsdl:part name="parameters" element="tns:BeginScope" />
  </wsdl:message>
  <wsdl:message name="ISpheresLoggerService_BeginScope_OutputMessage">
    <wsdl:part name="parameters" element="tns:BeginScopeResponse" />
  </wsdl:message>
  <wsdl:message name="ISpheresLoggerService_EndScope_InputMessage">
    <wsdl:part name="parameters" element="tns:EndScope" />
  </wsdl:message>
  <wsdl:message name="ISpheresLoggerService_EndScope_OutputMessage">
    <wsdl:part name="parameters" element="tns:EndScopeResponse" />
  </wsdl:message>
  <wsdl:message name="ISpheresLoggerService_GetLogScope_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLogScope" />
  </wsdl:message>
  <wsdl:message name="ISpheresLoggerService_GetLogScope_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLogScopeResponse" />
  </wsdl:message>
  <wsdl:message name="ISpheresLoggerService_Log_InputMessage">
    <wsdl:part name="parameters" element="tns:Log" />
  </wsdl:message>
  <wsdl:message name="ISpheresLoggerService_Log_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogResponse" />
  </wsdl:message>
  <wsdl:message name="ISpheresLoggerService_UpdateLogLevel_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLogLevel" />
  </wsdl:message>
  <wsdl:message name="ISpheresLoggerService_UpdateLogLevel_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLogLevelResponse" />
  </wsdl:message>
  <wsdl:message name="ISpheresLoggerService_UpdateWithWorstLogLevel_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWithWorstLogLevel" />
  </wsdl:message>
  <wsdl:message name="ISpheresLoggerService_UpdateWithWorstLogLevel_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWithWorstLogLevelResponse" />
  </wsdl:message>
  <wsdl:message name="ISpheresLoggerService_GetAutoWrite_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAutoWrite" />
  </wsdl:message>
  <wsdl:message name="ISpheresLoggerService_GetAutoWrite_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAutoWriteResponse" />
  </wsdl:message>
  <wsdl:message name="ISpheresLoggerService_SetAutoWrite_InputMessage">
    <wsdl:part name="parameters" element="tns:SetAutoWrite" />
  </wsdl:message>
  <wsdl:message name="ISpheresLoggerService_SetAutoWrite_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetAutoWriteResponse" />
  </wsdl:message>
  <wsdl:message name="ISpheresLoggerService_Write_InputMessage">
    <wsdl:part name="parameters" element="tns:Write" />
  </wsdl:message>
  <wsdl:message name="ISpheresLoggerService_Write_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteResponse" />
  </wsdl:message>
  <wsdl:message name="ISpheresLoggerService_GetBufferLog_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBufferLog" />
  </wsdl:message>
  <wsdl:message name="ISpheresLoggerService_GetBufferLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBufferLogResponse" />
  </wsdl:message>
  <wsdl:message name="ISpheresLoggerService_GetLastLog_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastLog" />
  </wsdl:message>
  <wsdl:message name="ISpheresLoggerService_GetLastLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastLogResponse" />
  </wsdl:message>
  <wsdl:message name="ISpheresLoggerService_GetLog_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLog" />
  </wsdl:message>
  <wsdl:message name="ISpheresLoggerService_GetLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLogResponse" />
  </wsdl:message>
  <wsdl:message name="ISpheresLoggerService_GetIdProcess_L_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIdProcess_L" />
  </wsdl:message>
  <wsdl:message name="ISpheresLoggerService_GetIdProcess_L_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdProcess_LResponse" />
  </wsdl:message>
  <wsdl:message name="ISpheresLoggerService_GetWorstLogLevel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorstLogLevel" />
  </wsdl:message>
  <wsdl:message name="ISpheresLoggerService_GetWorstLogLevel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorstLogLevelResponse" />
  </wsdl:message>
  <wsdl:portType name="ISpheresLoggerService">
    <wsdl:operation name="IsAlive">
      <wsdl:input wsaw:Action="http://tempuri.org/ISpheresLoggerService/IsAlive" message="tns:ISpheresLoggerService_IsAlive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISpheresLoggerService/IsAliveResponse" message="tns:ISpheresLoggerService_IsAlive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BeginScope">
      <wsdl:input wsaw:Action="http://tempuri.org/ISpheresLoggerService/BeginScope" message="tns:ISpheresLoggerService_BeginScope_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISpheresLoggerService/BeginScopeResponse" message="tns:ISpheresLoggerService_BeginScope_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EndScope">
      <wsdl:input wsaw:Action="http://tempuri.org/ISpheresLoggerService/EndScope" message="tns:ISpheresLoggerService_EndScope_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISpheresLoggerService/EndScopeResponse" message="tns:ISpheresLoggerService_EndScope_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLogScope">
      <wsdl:input wsaw:Action="http://tempuri.org/ISpheresLoggerService/GetLogScope" message="tns:ISpheresLoggerService_GetLogScope_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISpheresLoggerService/GetLogScopeResponse" message="tns:ISpheresLoggerService_GetLogScope_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Log">
      <wsdl:input wsaw:Action="http://tempuri.org/ISpheresLoggerService/Log" message="tns:ISpheresLoggerService_Log_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISpheresLoggerService/LogResponse" message="tns:ISpheresLoggerService_Log_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLogLevel">
      <wsdl:input wsaw:Action="http://tempuri.org/ISpheresLoggerService/UpdateLogLevel" message="tns:ISpheresLoggerService_UpdateLogLevel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISpheresLoggerService/UpdateLogLevelResponse" message="tns:ISpheresLoggerService_UpdateLogLevel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWithWorstLogLevel">
      <wsdl:input wsaw:Action="http://tempuri.org/ISpheresLoggerService/UpdateWithWorstLogLevel" message="tns:ISpheresLoggerService_UpdateWithWorstLogLevel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISpheresLoggerService/UpdateWithWorstLogLevelResponse" message="tns:ISpheresLoggerService_UpdateWithWorstLogLevel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAutoWrite">
      <wsdl:input wsaw:Action="http://tempuri.org/ISpheresLoggerService/GetAutoWrite" message="tns:ISpheresLoggerService_GetAutoWrite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISpheresLoggerService/GetAutoWriteResponse" message="tns:ISpheresLoggerService_GetAutoWrite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetAutoWrite">
      <wsdl:input wsaw:Action="http://tempuri.org/ISpheresLoggerService/SetAutoWrite" message="tns:ISpheresLoggerService_SetAutoWrite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISpheresLoggerService/SetAutoWriteResponse" message="tns:ISpheresLoggerService_SetAutoWrite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Write">
      <wsdl:input wsaw:Action="http://tempuri.org/ISpheresLoggerService/Write" message="tns:ISpheresLoggerService_Write_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISpheresLoggerService/WriteResponse" message="tns:ISpheresLoggerService_Write_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBufferLog">
      <wsdl:input wsaw:Action="http://tempuri.org/ISpheresLoggerService/GetBufferLog" message="tns:ISpheresLoggerService_GetBufferLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISpheresLoggerService/GetBufferLogResponse" message="tns:ISpheresLoggerService_GetBufferLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastLog">
      <wsdl:input wsaw:Action="http://tempuri.org/ISpheresLoggerService/GetLastLog" message="tns:ISpheresLoggerService_GetLastLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISpheresLoggerService/GetLastLogResponse" message="tns:ISpheresLoggerService_GetLastLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLog">
      <wsdl:input wsaw:Action="http://tempuri.org/ISpheresLoggerService/GetLog" message="tns:ISpheresLoggerService_GetLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISpheresLoggerService/GetLogResponse" message="tns:ISpheresLoggerService_GetLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIdProcess_L">
      <wsdl:input wsaw:Action="http://tempuri.org/ISpheresLoggerService/GetIdProcess_L" message="tns:ISpheresLoggerService_GetIdProcess_L_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISpheresLoggerService/GetIdProcess_LResponse" message="tns:ISpheresLoggerService_GetIdProcess_L_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorstLogLevel">
      <wsdl:input wsaw:Action="http://tempuri.org/ISpheresLoggerService/GetWorstLogLevel" message="tns:ISpheresLoggerService_GetWorstLogLevel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISpheresLoggerService/GetWorstLogLevelResponse" message="tns:ISpheresLoggerService_GetWorstLogLevel_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISpheresLoggerService" type="tns:ISpheresLoggerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsAlive">
      <soap:operation soapAction="http://tempuri.org/ISpheresLoggerService/IsAlive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeginScope">
      <soap:operation soapAction="http://tempuri.org/ISpheresLoggerService/BeginScope" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndScope">
      <soap:operation soapAction="http://tempuri.org/ISpheresLoggerService/EndScope" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogScope">
      <soap:operation soapAction="http://tempuri.org/ISpheresLoggerService/GetLogScope" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Log">
      <soap:operation soapAction="http://tempuri.org/ISpheresLoggerService/Log" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLogLevel">
      <soap:operation soapAction="http://tempuri.org/ISpheresLoggerService/UpdateLogLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWithWorstLogLevel">
      <soap:operation soapAction="http://tempuri.org/ISpheresLoggerService/UpdateWithWorstLogLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAutoWrite">
      <soap:operation soapAction="http://tempuri.org/ISpheresLoggerService/GetAutoWrite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAutoWrite">
      <soap:operation soapAction="http://tempuri.org/ISpheresLoggerService/SetAutoWrite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Write">
      <soap:operation soapAction="http://tempuri.org/ISpheresLoggerService/Write" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBufferLog">
      <soap:operation soapAction="http://tempuri.org/ISpheresLoggerService/GetBufferLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastLog">
      <soap:operation soapAction="http://tempuri.org/ISpheresLoggerService/GetLastLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLog">
      <soap:operation soapAction="http://tempuri.org/ISpheresLoggerService/GetLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdProcess_L">
      <soap:operation soapAction="http://tempuri.org/ISpheresLoggerService/GetIdProcess_L" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorstLogLevel">
      <soap:operation soapAction="http://tempuri.org/ISpheresLoggerService/GetWorstLogLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SpheresLoggerService">
    <wsdl:port name="BasicHttpBinding_ISpheresLoggerService" binding="tns:BasicHttpBinding_ISpheresLoggerService">
      <soap:address location="http://localhost:8736/SpheresLogger/SpheresLoggerService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>