EfsML/BusinessSchemas/EfsMLv30/EfsML-CashBalance-3-0.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!-- 
== Copyright (c) 2016. All rights reserved. 
== EFS Extended FpML Products Markup Language. 
EG 20171122 [23509] Suppression <xsd:include schemaLocation="EfsML-3-0.xsd"/>
-->
<xsd:schema targetNamespace="http://www.efs.org/2007/EFSmL-3-0"
            xmlns="http://www.efs.org/2007/EFSmL-3-0"
            xmlns:fpml="http://www.fpml.org/2007/FpML-4-4"
			      xmlns:fixml="http://www.fixprotocol.org/FIXML-5-0-SP1"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

  <xsd:import namespace="http://www.fpml.org/2007/FpML-4-4" schemaLocation="../FpML44/fpml-main-4-4.xsd" />
  <xsd:import namespace="http://www.fixprotocol.org/FIXML-5-0-SP1" schemaLocation="../FIXML50SP1/fixml-tradecapture-impl-5-0-SP1.xsd" />
  <xsd:include schemaLocation="EfsML-Shared-3-0.xsd"/>
  <!--<xsd:include schemaLocation="EfsML-3-0.xsd"/>-->

  <!-- ****************************** -->
  <!-- Elements                       -->
  <!-- ****************************** -->
  <xsd:element name="cashBalance" type="CashBalance" substitutionGroup="fpml:product">
    <xsd:annotation>
      <xsd:documentation xml:lang="en"></xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <!-- PM 20140829 [20066][20185] Add CashBalanceCalculationMethodEnum -->
  <!-- ****************************** -->
  <!-- CashBalanceCalculationMethodEnum -->
  <!-- ****************************** -->
  <xsd:simpleType name="CashBalanceCalculationMethodEnum">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type defining cash balance calculation method.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CSBDEFAULT"/>
      <xsd:enumeration value="CSBUK"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- FI 20110823 Add CashBalance -->
  <!-- ****************************** -->
  <!-- CashBalance                    -->
  <!-- ****************************** -->
  <xsd:complexType name="CashBalance">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Cash Balance(modeled as an FpML:Product).</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false" >
      <xsd:extension base="fpml:Product">
        <xsd:sequence>

          <xsd:element name="cashBalanceOfficePartyReference" type="fpml:PartyReference" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Identifies the cash balance office</xsd:documentation>
            </xsd:annotation>
          </xsd:element>

          <xsd:element name="entityPartyReference" type="fpml:PartyReference" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Identifies the entity</xsd:documentation>
            </xsd:annotation>
          </xsd:element>

          <xsd:element name="timing" type="fixml:SettlSessID_t">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Identifies the timing</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="exchangeCashBalanceStream" type="ExchangeCashBalanceStream" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="cashBalanceStream" type="CashBalanceStream" minOccurs="1" maxOccurs="unbounded"/>
          <xsd:element name="fxRate" type="IdentifiedFxRate" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="settings" type="CashBalanceSettings" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="endOfDayStatus" type="EndOfDayStatus" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- FI 20110823 Add CashBalanceStream -->
  <!-- FI 20120718 type of marginRequirement is CssExchangeCashPosition-->
  <!-- RD 20130804 type of collateralAvailable is CollateralAvailable-->
  <!-- PM 20140829 [20066][20185] Change type of "liquidatingValue" from CashPosition to OptionLiquidatingValue -->
  <!-- PM 20140829 [20066][20185] Add funding, forwardCashPayment, equityBalance, equityBalanceWithForwardCash, excessDeficit, excessDeficitWithForwardCash -->
  <!-- PM 20150318 [POC] Add unsettledCash -->
  <!-- PM 20150323 [POC] Add borrowing -->
  <!-- PM 20150616 [21124] Add marketValue & totalAccountValue-->
  <!-- FI 20160530 [21885] Add collateral element -->
  <!-- ****************************** -->
  <!-- CashBalanceStream              -->
  <!-- ****************************** -->
  <xsd:complexType name="CashBalanceStream">
    <xsd:sequence>
      <xsd:element name="currency" type="fpml:Currency" />
      <xsd:element name="marginRequirement" type="CssExchangeCashPosition" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="cashAvailable" type="CashAvailable" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="cashUsed" type="CashPosition" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="collaterals" type="PosCollaterals" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="collateralAvailable" type="CollateralAvailable" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="collateralUsed" type="CashPosition" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="uncoveredMarginRequirement" type="CashPosition" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="marginCall" type="fpml:SimplePayment" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="cashBalance" type="CashPosition" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="previousMarginConstituent" type="PreviousMarginConstituent" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="realizedMargin" type="MarginConstituent" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="unrealizedMargin" type="MarginConstituent" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="liquidatingValue" type="OptionLiquidatingValue" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="marketValue" type="DetailedCashPosition" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="funding" type="DetailedCashPosition" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="borrowing" type="DetailedCashPosition" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="unsettledCash" type="DetailedCashPosition" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="forwardCashPayment" type="CashBalancePayment" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="equityBalance" type="CashPosition" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="equityBalanceWithForwardCash" type="CashPosition" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="totalAccountValue" type="CashPosition" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="excessDeficit" type="CashPosition" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="excessDeficitWithForwardCash" type="CashPosition" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- FI 20110823 Add ExchangeCashBalanceStream -->
  <!-- PM 20140829 [20066][20185] Add realizedMargin, unrealizedMargin, liquidatingValue, funding, forwardCashPayment, equityBalance, equityBalanceWithForwardCash, excessDeficit, excessDeficitWithForwardCash -->
  <!-- PM 20140918 [20066][20185] Change type of "cashAvailable" from CashPosition to CashAvailable -->
  <!-- PM 20150318 [POC] Add unsettledCash -->
  <!-- PM 20150323 [POC] Add borrowing -->
  <!-- PM 20150616 [21124] Add marketValue & totalAccountValue -->
  <!-- ****************************** -->
  <!-- ExchangeCashBalanceStream      -->
  <!-- ****************************** -->
  <xsd:complexType name="ExchangeCashBalanceStream">
    <xsd:sequence>
      <xsd:element name="currency" type="fpml:Currency" />
      <xsd:element name="marginRequirement" type="CashPosition" minOccurs="0" maxOccurs="1"/>
      <!--xsd:element name="cashAvailable" type="CashPosition" minOccurs="1" maxOccurs="1"/-->
      <xsd:element name="cashAvailable" type="CashAvailable" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="cashUsed" type="CashPosition" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="collateralAvailable" type="CashPosition" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="collateralUsed" type="CashPosition" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="uncoveredMarginRequirement" type="CashPosition" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="marginCall" type="fpml:SimplePayment" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="cashBalance" type="CashPosition" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="previousMarginConstituent" type="PreviousMarginConstituent" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="realizedMargin" type="MarginConstituent" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="unrealizedMargin" type="MarginConstituent" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="liquidatingValue" type="OptionLiquidatingValue" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="marketValue" type="DetailedCashPosition" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="funding" type="DetailedCashPosition" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="borrowing" type="DetailedCashPosition" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="unsettledCash" type="DetailedCashPosition" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="forwardCashPayment" type="CashBalancePayment" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="equityBalance" type="CashPosition" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="equityBalanceWithForwardCash" type="CashPosition" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="totalAccountValue" type="CashPosition" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="excessDeficit" type="CashPosition" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="excessDeficitWithForwardCash" type="CashPosition" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- FI 20110823 Add CashAvailable -->
  <!-- ****************************** -->
  <!-- CashAvailable                  -->
  <!-- ****************************** -->
  <!-- PM 20140918 [20066][20185] constituent devient optionel -->
  <xsd:complexType name="CashAvailable">
    <xsd:complexContent>
      <xsd:extension base="ExchangeCashPosition">
        <xsd:sequence>
          <xsd:element name="constituent" type="CashAvailableConstituent" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- FI 20110823 Add CashAvailableConstituent -->
  <!-- PM 20140829 [20066][20185] Change type of "cashBalancePayment" from CashPosition to CashBalancePayment for cashBalancePayment -->
  <!-- ****************************** -->
  <!-- CashAvailableConstituent       -->
  <!-- ****************************** -->
  <xsd:complexType name="CashAvailableConstituent">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type describing each of the constituents of a CashAvailable</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="cashBalancePayment" type="CashBalancePayment" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="previousCashBalance" type="CashPosition" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="cashFlows" type="CashFlows" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>


  <!-- FI 20110823 Add CashFlows  -->
  <!-- ****************************** -->
  <!-- CashFlows                      -->
  <!-- ****************************** -->
  <xsd:complexType name="CashFlows">
    <xsd:complexContent>
      <xsd:extension base="CashPosition">
        <xsd:sequence>
          <xsd:element name="constituent" type="CashFlowsConstituent" minOccurs="1" maxOccurs="1"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- FI 20110823 Add CashFlowsConstituent -->
  <!-- FI 20120718 type of variationMargin is DerivativeContractSimplePayment -->
  <!-- FI 20120718 type of premium is DerivativeContractSimplePayment -->
  <!-- FI 20120718 type of cashSettlement is DerivativeContractSimplePayment -->
  <!-- FI 20120718 type of fee is DerivativeContractPayment -->
  <!-- PM 20140829 [20066][20185] Change type of "fee" from DerivativeContractPayment to DetailedContractPayment -->
  <!-- PM 20150320 [POC] Change type of "cashSettlement" from ContractSimplePayment to ContractSimplePaymentConstituent-->
  <!-- PM 20150709 [21103] Add element safekeeping -->
  <!-- PM 20170911 [23408] Add  element equalisationPayment -->
  <!-- ****************************** -->
  <!-- CashFlowsConstituent           -->
  <!-- ****************************** -->
  <xsd:complexType name="CashFlowsConstituent">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type describing each of the constituents of a CashFlows</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="variationMargin" type="ContractSimplePayment" minOccurs="1" maxOccurs="1"></xsd:element>
      <xsd:element name="premium" type="ContractSimplePayment" minOccurs="1" maxOccurs="1"></xsd:element>
      <xsd:element name="cashSettlement" type="ContractSimplePaymentConstituent" minOccurs="1" maxOccurs="1"></xsd:element>
      <xsd:element name="fee" type="DetailedContractPayment" minOccurs="1" maxOccurs="unbounded"></xsd:element>
      <xsd:element name="safekeeping" type="DetailedContractPayment" minOccurs="0" maxOccurs="unbounded"></xsd:element>
      <xsd:element name="equalisationPayment" type="ContractSimplePayment" minOccurs="0" maxOccurs="1"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <!-- RD 20130804 Add CollateralAvailable -->
  <!-- ****************************** -->
  <!-- CollateralAvailable            -->
  <!-- ****************************** -->
  <xsd:complexType name="CollateralAvailable">
    <xsd:complexContent>
      <xsd:extension base="ExchangeCashPosition">
        <xsd:sequence>
          <xsd:element name="constituent" type="CollateralAvailableConstituent" minOccurs ="0" maxOccurs ="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- RD 20130804 Add CollateralAvailableConstituent -->
  <!-- ****************************** -->
  <!-- CollateralAvailableConstituent -->
  <!-- ****************************** -->
  <xsd:complexType name="CollateralAvailableConstituent">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type describing each of the constituents of a CollateralAvailable</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="collateral" type="fpml:Money" minOccurs ="1" maxOccurs ="unbounded"></xsd:element>
      <xsd:element name="collateralAlreadyUsed" type="fpml:Money" minOccurs ="0" maxOccurs ="unbounded"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <!-- FI 20110823 Add PreviousMarginConstituent -->
  <!-- ****************************** -->
  <!-- PreviousMarginConstituent      -->
  <!-- ****************************** -->
  <xsd:complexType name="PreviousMarginConstituent">
    <xsd:sequence>
      <xsd:element name="marginRequirement" type="CashPosition" minOccurs ="1" maxOccurs ="1"></xsd:element>
      <xsd:element name="cashAvailable" type="CashPosition" minOccurs ="1" maxOccurs ="1"></xsd:element>
      <xsd:element name="cashUsed" type="CashPosition" minOccurs ="1" maxOccurs ="1"></xsd:element>
      <xsd:element name="collateralAvailable" type="CashPosition" minOccurs ="1" maxOccurs ="1"></xsd:element>
      <xsd:element name="collateralUsed" type="CashPosition" minOccurs ="1" maxOccurs ="1"></xsd:element>
      <xsd:element name="uncoveredMarginRequirement" type="CashPosition" minOccurs ="1" maxOccurs ="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- FI 20110906 Add CashBalanceSettings -->
  <!-- PM 20140829 [20066][20185] Add cashBalanceMethod && cashBalanceCurrency -->
  <!-- ****************************** -->
  <!-- CashBalanceSettings            -->
  <!-- ****************************** -->
  <xsd:complexType name="CashBalanceSettings">
    <xsd:sequence>
      <xsd:element name="cashBalanceOfficePartyReference" type="fpml:PartyReference" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="scope" type="GlobalElementaryEnum" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="exchangeCurrency" type="fpml:Currency" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="useAvailableCash" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="cashAndCollateral" type="CashAndCollateralLocalizationEnum" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="managementBalance" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      <!-- RD 20130804 Add marginCallCalculationMethod -->
      <xsd:element name="marginCallCalculationMethod" type="MarginCallCalculationMethodEnum" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="cashBalanceMethod" type="CashBalanceCalculationMethodEnum" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Identifies the cash balance calculation method</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="cashBalanceCurrency" type="fpml:Currency" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- PM 20110909 Add MarginConstituent -->
  <!-- PM 20140829 [20066][20185] Change type of "option" from CashPosition to OptionMarginConstituent -->
  <!-- PM 20140829 [20066][20185] Add "globalAmount" -->
  <!-- PM 20140829 [20066][20185] Add "detail" -->
  <!-- PM 20140829 [20066][20185] Add extension of type "CashPosition" -->
  <!-- PM 20140829 [20066][20185] Add "other" for non ETD amount -->
  <!-- PM 20150616 [21124] Change type of "other" from CashPosition to OTCMarginConstituent with maxOccurs from 1 to unbounded-->
  <!-- ****************************** -->
  <!-- MarginConstituent              -->
  <!-- ****************************** -->
  <xsd:complexType name="MarginConstituent">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type describing each of the constituents of a Margin (Realized or Unrealized)</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="globalAmount" type="CashPosition" minOccurs="0" maxOccurs ="1"/>
      <xsd:element name="future" type="CashPosition" minOccurs="0" maxOccurs ="1"/>
      <xsd:element name="option" type="OptionMarginConstituent" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="other" type="AssetMarginConstituent" minOccurs="0" maxOccurs ="unbounded"/>
      <xsd:element name="detail" type="ContractAmount" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- FI 20120718 Add AmountSide -->
  <!-- FI 20141208 AmtSide optional-->
  <!-- ****************************** -->
  <!-- AmountSide                     -->
  <!-- ****************************** -->
  <xsd:complexType name="AmountSide">
    <xsd:attribute name ="Amt" type="xsd:decimal" use="required"/>
    <xsd:attribute name ="AmtSide" type="CrDrEnum" use="optional"/>
  </xsd:complexType>

  <!-- FI 20120718 Add CssAmount -->
  <!-- PM 20150402 [POC] cssHref is now optional-->
  <!-- ****************************** -->
  <!-- CssAmount                      -->
  <!-- ****************************** -->
  <xsd:complexType name="CssAmount">
    <xsd:complexContent>
      <xsd:extension base="AmountSide">
        <!--<xsd:attribute name="cssHref" type="xsd:IDREF" use="required" />-->
        <xsd:attribute name="cssHref" type="xsd:IDREF" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- FI 20120718 Add DerivativeContractAmount -->
  <!-- PM 20140829 [20066][20185] Rename DerivativeContractAmount to ContractAmount -->
  <!-- PM 20140829 [20066][20185] Change from required to optional for attribute Exch -->
  <!-- ****************************** -->
  <!-- ContractAmount                 -->
  <!-- ****************************** -->
  <xsd:complexType name="ContractAmount">
    <xsd:complexContent>
      <xsd:extension base="AmountSide">
        <xsd:attribute name="Sym" type="fixml:Symbol_t" use="optional"/>
        <xsd:attribute name="Exch" type="fixml:SecurityExchange_t" use="optional"/>
        <xsd:attribute name="OTCmlId" type="xsd:string" use="optional"/>
        <xsd:attribute name="AssetCategory" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- FI 20120718 Add DerivativeContractAmountAndTax -->
  <!-- PM 20140829 [20066][20185] Rename DerivativeContractAmountAndTax to ContractAmountAndTax -->
  <!-- ****************************** -->
  <!-- ContractAmountAndTax           -->
  <!-- ****************************** -->
  <xsd:complexType name="ContractAmountAndTax">
    <xsd:complexContent>
      <xsd:extension base="ContractAmount">
        <xsd:sequence>
          <xsd:element name="tax" type="AmountSide" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- FI 20120718 Add CssExchangeCashPosition -->
  <!-- ****************************** -->
  <!-- CssExchangeCashPosition        -->
  <!-- ****************************** -->
  <xsd:complexType name="CssExchangeCashPosition">
    <xsd:complexContent>
      <xsd:extension base="ExchangeCashPosition">
        <xsd:sequence>
          <xsd:element name="detail" type="CssAmount" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- FI 20120718 Add DerivativeContractSimplePayment -->
  <!-- PM 20140829 [20066][20185] Change type of "detail" from DerivativeContractAmount to ContractAmount -->
  <!-- PM 20140829 [20066][20185] Rename DerivativeContractSimplePayment to ContractSimplePayment -->
  <!-- ******************************  -->
  <!-- ContractSimplePayment           -->
  <!-- ******************************  -->
  <xsd:complexType name="ContractSimplePayment">
    <xsd:complexContent>
      <xsd:extension base="fpml:SimplePayment">
        <xsd:sequence>
          <xsd:element name="detail" type="ContractAmount" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- FI 20120718 Add DerivativeContractPayment -->
  <!-- PM 20140829 [20066][20185] Change type of "detail" from DerivativeContractAmountAndTax to ContractAmountAndTax -->
  <!-- PM 20140829 [20066][20185] Rename DerivativeContractPayment to DetailedContractPayment -->
  <!-- ****************************** -->
  <!-- DetailedContractPayment        -->
  <!-- ****************************** -->
  <xsd:complexType name="DetailedContractPayment">
    <xsd:complexContent>
      <xsd:extension base="Payment">
        <xsd:sequence>
          <xsd:element name="detail" type="ContractAmountAndTax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- PM 20140829 [20066][20185] Add OptionMarginConstituent -->
  <!-- ****************************** -->
  <!-- OptionMarginConstituent        -->
  <!-- ****************************** -->
  <xsd:complexType name="OptionMarginConstituent">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type describing each of the constituents of a Margin (Realized or Unrealized) for Option</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="CashPosition">
        <xsd:attribute name="FutValMeth" type="fixml:FuturesValuationMethod_enum_t"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- PM 20150616 [21124] Add AssetMarginConstituent -->
  <!-- ****************************** -->
  <!-- AssetMarginConstituent         -->
  <!-- ****************************** -->
  <xsd:complexType name="AssetMarginConstituent">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type describing each of the constituents of a Margin (Realized or Unrealized) for OTC</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="CashPosition">
        <xsd:attribute name="AssetCategory" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- PM 20140829 [20066][20185] Add OptionLiquidatingValue -->
  <!-- ****************************** -->
  <!-- OptionLiquidatingValue         -->
  <!-- ****************************** -->
  <xsd:complexType name="OptionLiquidatingValue">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type describing each of the constituents of a Net Option Liquidating Value</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="CashPosition">
        <xsd:sequence>
          <xsd:element name="longOptionValue" type="CashPosition" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="shortOptionValue" type="CashPosition"  minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- PM 20140829 [20066][20185] Add CashBalancePayment -->
  <!-- ****************************** -->
  <!-- CashBalancePayment             -->
  <!-- ****************************** -->
  <xsd:complexType name="CashBalancePayment">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type describing a Cash Balance Payment</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="CashPosition">
        <xsd:sequence>
          <xsd:element name="cashDeposit" type="DetailedCashPayment" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="cashWithdrawal" type="DetailedCashPayment" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- PM 20140829 [20066][20185] Add DetailedCashPayment -->
  <!-- ****************************** -->
  <!-- DetailedCashPayment            -->
  <!-- ****************************** -->
  <xsd:complexType name="DetailedCashPayment">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type describing each of the details of a Cash Balance Payment</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="CashPosition">
        <xsd:sequence>
          <xsd:element name="detail" type="CashPaymentDetail" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- PM 20140829 [20066][20185] Add CashPaymentDetail -->
  <!-- ****************************** -->
  <!-- CashPaymentDetail              -->
  <!-- ****************************** -->
  <xsd:complexType name="CashPaymentDetail">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type describing a CashPayment detail</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="AmountSide">
        <xsd:sequence>
          <xsd:element name="paymentType" type="fpml:PaymentType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- PM 20140829 [20066][20185] Add DetailedCashPosition -->
  <!-- PM 20150616 [21124] Add optional element dateDetail -->
  <!-- ******************************  -->
  <!-- DetailedCashPosition            -->
  <!-- ******************************  -->
  <xsd:complexType name="DetailedCashPosition">
    <xsd:complexContent>
      <xsd:extension base="CashPosition">
        <xsd:sequence>
          <xsd:element name="dateDetail" type="DetailedDateAmount" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="detail" type="ContractAmount" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- PM 20150319[POC] Add ContractSimplePaymentConstituent -->
  <!-- *************************************  -->
  <!-- ContractSimplePaymentConstituent       -->
  <!-- *************************************  -->
  <xsd:complexType name="ContractSimplePaymentConstituent">
    <xsd:complexContent>
      <xsd:extension base="ContractSimplePayment">
        <xsd:sequence>
          <xsd:element name="option" type="OptionMarginConstituent" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="other" type="CashPosition" minOccurs="0" maxOccurs ="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- PM 20150616 [21124] Add DetailedDateAmount -->
  <!-- ****************************** -->
  <!-- DetailedDateAmount             -->
  <!-- ****************************** -->
  <xsd:complexType name="DetailedDateAmount">
    <xsd:complexContent>
      <xsd:extension base="AmountSide">
        <xsd:sequence>
          <xsd:element name="detail" type="ContractAmount" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="ValDt" type="xsd:date"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


  <!-- FI 20160530 [21885] Add  -->
  <!-- ****************************** -->
  <!-- PosCollaterals                 -->
  <!-- ****************************** -->
  <xsd:complexType name="PosCollaterals">
    <xsd:sequence>
      <xsd:element name="collateral" type="PosCollateral" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- FI 20160530 [21885] Add  -->
  <!-- ****************************** -->
  <!-- PosCollateral                  -->
  <!-- ****************************** -->
  <xsd:complexType name="PosCollateral">
    <xsd:sequence>
      <xsd:element name="bookId" type="BookId" minOccurs="1" maxOccurs="1" />
      <xsd:element name="asset" type="ContractAsset"  minOccurs="1" maxOccurs="1" />
      <xsd:element name="valuation" type="PosCollateralValuation"  minOccurs="1" maxOccurs="1" />
      <xsd:element name="haircut" type ="CssValue" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="OTCmlId" type="xsd:string" use="optional"/>
  </xsd:complexType>

  <!-- FI 20160530 [21885] Add  -->
  <!-- ******************************************** -->
  <!-- ContractAsset (similar with ContractAmount)  -->
  <!-- ******************************************** -->
  <xsd:complexType name="ContractAsset">
    <xsd:attribute name="OTCmlId" type="xsd:string" use="optional"/>
    <xsd:attribute name="AssetCategory" type="xsd:string" use="optional"/>
    <xsd:attribute name="Sym" type="fixml:Symbol_t" use="optional"/>
    <xsd:attribute name="Exch" type="fixml:SecurityExchange_t" use="optional"/>
  </xsd:complexType>


  <!-- FI 20160530 [21885] Add  -->
  <!-- ****************************** -->
  <!-- PosCollateralValuation         -->
  <!-- ****************************** -->
  <xsd:complexType name="PosCollateralValuation">
    <xsd:complexContent>
      <xsd:extension base="AmountSide">
        <xsd:attribute name="OTCmlId" type="xsd:string" />
        <xsd:attribute name="Qty" type="xsd:integer" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- FI 20160530 [21885] Add  -->
  <!-- ****************************** -->
  <!-- CssValue                      -->
  <!-- ****************************** -->
  <xsd:complexType name="CssValue">
    <xsd:attribute name="cssHref" type="xsd:IDREF" use="optional" />
    <xsd:attribute name="value" type="xsd:decimal"/>
  </xsd:complexType>

  <!-- FI 20160530 [21885] Add  -->
  <!-- ******************************************** -->
  <!-- BookShortForm                                -->
  <!-- ******************************************** -->
  <xsd:complexType name="BookShortForm">
    <xsd:attribute name="OTCmlId" type="xsd:string"/>
    <xsd:attribute name="bookId" type="xsd:string"/>
    <xsd:attribute name="bookName" type="xsd:string"/>
  </xsd:complexType>


  <!-- FI 20161027 [22151] Add  -->
  <!-- ******************************************** -->
  <!-- EndOfDayStatus                               -->
  <!-- ******************************************** -->
  <xsd:complexType name ="EndOfDayStatus">
    <xsd:sequence>
      <xsd:element name="cssCustodianStatus" type ="CssCustodianStatus" minOccurs ="1" maxOccurs ="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- FI 20161027 [22151] Add  -->
  <!-- ******************************************** -->
  <!-- ExchangeStatus                               -->
  <!-- ******************************************** -->
  <xsd:complexType name = "ExchangeStatus">
    <xsd:attribute name = "OTCmlId" type="xsd:string" />
    <xsd:attribute name = "Exch" type ="fixml:Exchange"/>
    <xsd:attribute name = "status" type="PerformedSatusEnum"/>
  </xsd:complexType>

  <!-- FI 20161027 [22151] Add  -->
  <!-- ******************************************** -->
  <!-- CssCustodianStatus                               -->
  <!-- ******************************************** -->
  <xsd:complexType name = "CssCustodianStatus">
    <xsd:sequence>
      <xsd:element name="exchStatus" type ="ExchangeStatus" minOccurs ="1" maxOccurs ="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name = "cssCustodianHref" type="xsd:IDREF"/>
    <xsd:attribute name = "status" type="PerformedSatusEnum"/>
  </xsd:complexType>

</xsd:schema>



