EfsML/CorporateActions/Schemas/EfsML-CorporateActions-3-0.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition (Trial) (http://www.liquid-technologies.com)-->
<!--<xsd:schema xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" 
            xmlns="http://www.efs.org/2007/EFSmL-3-0" attributeFormDefault="unqualified" elementFormDefault="qualified" 
            targetNamespace="http://www.efs.org/2007/EFSmL-3-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">-->

  <xsd:schema targetNamespace="http://www.efs.org/2007/EFSmL-3-0"
              xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
              xmlns="http://www.efs.org/2007/EFSmL-3-0"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xsd:element name="corporateAction" type="CorporateAction" />
  <xsd:element name="corporateEvent" type="CorporateEvent" />
  <xsd:element name="adjustment" type="Adjustment" abstract="true" />
  <xsd:element name="ratio" type="AdjustmentRatio" substitutionGroup="adjustment" />
  <xsd:element name="fairValue" type="AdjustmentFairValue" substitutionGroup="adjustment" />
  <xsd:element name="package" type="AdjustmentPackage" substitutionGroup="adjustment" />
  <xsd:element name="noAdjustment" type="AdjustmentNone" substitutionGroup="adjustment" />
  <xsd:element name="adjustmentElt" type="AdjustmentElement" abstract="true" />
  <xsd:element name="componentBase" type="ComponentBase" abstract="true" />
  <xsd:element name="result" type="Result" abstract="true" />
  <xsd:element name="currency" type="Currency" />
  <xsd:element name="underlyer" type="Underlyer" />
  <xsd:element name="procedures" type="CorporateEventProcedures" />
  <xsd:element name="rFactor" type="RFactor" />
  <xsd:element name="contractSize" type="AdjustmentContractSize" />
  <xsd:element name="contractMultiplier" type="AdjustmentContractMultiplier" />
  <xsd:element name="price" type="AdjustmentPrice" />
  <xsd:element name="strikePrice" type="AdjustmentStrikePrice" />
  <xsd:element name="additionalInfos" type="AdditionalInfos" />
  
  
  <xsd:complexType name="CorporateAction">
    <xsd:complexContent>
      <xsd:extension base="SpheresCommonIdentification">
        <xsd:sequence>
          <xsd:element name="market" type="SpheresCommonIdentification" />
          <xsd:element name="refNotice" type="RefNoticeIdentification" />
          <xsd:element name="refNoticeAdd" type="xsd:string" minOccurs="0" />
          <xsd:element name="announcementDate" type="xsd:date" />
          <xsd:element name="recordDate" type="xsd:date" minOccurs="0" />
          <xsd:element name="corporateEvent" type="CorporateEvent" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CorporateEvent">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Corporate event procedure (Root).</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="SpheresCommonIdentification">
        <xsd:sequence>
          <xsd:element name="requestMode" type="RequestModeEnum" />
          <xsd:element name="group" type="CorporateEventGroupEnum" />
          <xsd:element name="type" type="CorporateEventTypeEnum" />
          <xsd:element name="combinedType" type="CorporateEventTypeEnum" minOccurs="0" />
          <xsd:element name="execOrder" type="xsd:integer" />
          <xsd:element name="readyState" type="ReadyStateEnum" />
          <xsd:element name="status" type="StatusEnum" />
          <xsd:element name="exDate" type="xsd:date" minOccurs="0" />
          <xsd:element name="effectiveDate" type="xsd:date" minOccurs="0" />
          <xsd:element name="adjustmentMethod" type="AdjustmentMethodEnum" />
          <xsd:element name="procedures" type="CorporateEventProcedures">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Adjustment procedures used.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="contract" type="CorporateEventContract" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CorporateEventUnderlyers">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">List of Underlyer contracts affected by the corporate event.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ref="underlyer" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Underlyer contract characteristics.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CorporateEventProcedures">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">List of adjustment procedures used to the corporate event.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="underlyers" type="CorporateEventUnderlyers">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Underlyers affected.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="adjustment">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Adjustment procedure characteristics.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CorporateEventContract">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Corporate event DerivativeContract.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="SpheresCommonIdentification">
        <xsd:sequence>
          <xsd:element name="maturity" type="MaturityIdentification" minOccurs="0" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Adjustment" abstract="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The base type which all adjustment procedures (ratio, package, fair value, future, option) extend.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="description" type="xsd:string" minOccurs="0" />
      <xsd:element name="methodType" type="AdjustmentMethodEnum" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A classification of the type of adjustment procedure.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="takePlace" type="TakePlace" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Condition to respect for an adjustment take place.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="additionalInfo" type="AdditionalInfo" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Additional Info.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="contract" type="AdjustmentContract" />
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:ID" />
  </xsd:complexType>
  <xsd:complexType name="AdjustmentElement" abstract="true">
    <xsd:sequence>
      <xsd:group minOccurs="0" maxOccurs="1" ref="Component.model" />
      <xsd:element name="rounding" type="Rounding" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:normalizedString" />
    <xsd:attribute name="id" type="xsd:ID" />
  </xsd:complexType>
  <xsd:complexType name="ComponentBase" abstract="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Abstract base type which all components (amount, price, unit, ...) extend.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="description" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Component description</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="result" type="Result" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Calculation result of a component of the adjustment or the characteristics of an item to adjust.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="notice" type="xsd:string" minOccurs="0" />
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:normalizedString" />
    <xsd:attribute name="id" type="xsd:ID" />
  </xsd:complexType>
  <xsd:complexType name="AdjustmentNone">
    <xsd:complexContent mixed="false">
      <xsd:extension base="Adjustment"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AdjustmentFairValue">
    <xsd:complexContent mixed="false">
      <xsd:extension base="Adjustment" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AdjustmentPackage">
    <xsd:complexContent mixed="false">
      <xsd:extension base="Adjustment" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AdjustmentRatio">
    <xsd:complexContent mixed="false">
      <xsd:extension base="Adjustment">
        <xsd:sequence>
          <xsd:element ref="rFactor" />
          <!--<xsd:element name="future" type="AdjustmentFuture" minOccurs="0" maxOccurs="1" />
          <xsd:element name="option" type="AdjustmentOption" minOccurs="0" maxOccurs="1" />-->
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AdjustmentFuture">
    <xsd:sequence>
      <xsd:element ref="contractSize" minOccurs="0" maxOccurs="1" />
      <xsd:element ref="contractMultiplier" minOccurs="0" maxOccurs="1" />
      <xsd:element ref="price" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AdjustmentOption">
    <xsd:sequence>
      <xsd:element ref="contractSize" minOccurs="0" maxOccurs="1" />
      <xsd:element ref="contractMultiplier" minOccurs="0" maxOccurs="1" />
      <xsd:element ref="strikePrice" minOccurs="0" maxOccurs="1" />
      <xsd:element ref="price" minOccurs="0" maxOccurs="1" />
      <xsd:element name="equalisationPayment" type="EqualisationPayment" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AdditionalInfo">
    <xsd:sequence>
      <xsd:group minOccurs="1" maxOccurs="unbounded" ref="Component.model">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Component for additional information.</xsd:documentation>
        </xsd:annotation>
      </xsd:group>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RFactor">
    <xsd:complexContent mixed="false">
      <xsd:extension base="AdjustmentElement">
        <xsd:sequence>
          <xsd:element name="rFactorCertified" type="Component" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:normalizedString" />
        <xsd:attribute name="id" type="xsd:ID" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AdjustmentContractSize">
    <xsd:complexContent mixed="false">
      <xsd:extension base="AdjustmentElement">
        <xsd:attribute name="name" type="xsd:normalizedString" />
        <xsd:attribute name="id" type="xsd:ID" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AdjustmentContractMultiplier">
    <xsd:complexContent mixed="false">
      <xsd:extension base="AdjustmentElement">
        <xsd:attribute name="name" type="xsd:normalizedString" />
        <xsd:attribute name="id" type="xsd:ID" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AdjustmentStrikePrice">
    <xsd:complexContent mixed="false">
      <xsd:extension base="AdjustmentElement">
        <xsd:attribute name="name" type="xsd:normalizedString" />
        <xsd:attribute name="id" type="xsd:ID" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AdjustmentPrice">
    <xsd:complexContent mixed="false">
      <xsd:extension base="AdjustmentElement">
        <xsd:attribute name="name" type="xsd:normalizedString" />
        <xsd:attribute name="id" type="xsd:ID" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AssemblyInformation">
    <xsd:simpleContent>
      <xsd:extension base="xsd:normalizedString">
        <xsd:attribute name="assembly" type="xsd:normalizedString"  />
        <xsd:attribute name="class" type="xsd:normalizedString"  />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Component">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Abstract base type which all components (amount, price, unit, ...) extend.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="ComponentBase">
        <xsd:attribute name="required" default="true" type="xsd:boolean" />
        <xsd:attribute name="datatype" default="unit" type="ResultType" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ComponentFormula">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Elements describing a formula and its components..</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="ComponentBase">
        <xsd:sequence>
          <xsd:element name="formula" type="Formula" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Additional formulas required to describe this component</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ComponentMethod">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ComponentBase">
        <xsd:sequence>
          <xsd:element name="method" type="Method">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Method description</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ComponentProperty">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ComponentBase">
        <xsd:sequence>
          <xsd:element name="property" type="AssemblyInformation" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Property description</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ComponentReference">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Reference to an existing component elsewhere in the document.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="ComponentBase">
        <xsd:attribute ecore:reference="ComponentBase" name="href" type="xsd:IDREF" use="required" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Currency">
    <xsd:simpleContent>
      <xsd:extension base="xsd:normalizedString">
        <xsd:attribute name="currencyScheme" type="xsd:anyURI" default="http://www.fpml.org/ext/iso4217-2001-08-15" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="EqualisationPayment">
    <xsd:sequence>
      <xsd:element name="rounding" type="Rounding" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Formula">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Describing a financial formula, with its description and components.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Description of the formula</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="mathExpression" type="xsd:string" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Mathematic formula expression</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:group minOccurs="1" maxOccurs="unbounded" ref="Component.model" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Method">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Elements describing a method and its parameters..</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="name" type="AssemblyInformation" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Name of the method</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:group minOccurs="0" maxOccurs="unbounded" ref="Component.model" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Money">
    <xsd:sequence minOccurs="0" maxOccurs="1">
      <xsd:element name="currency" type="Currency">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The currency in which an amount is denominated.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="amount" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The monetary quantity in currency units.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="amountRounded" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The monetary quantity in currency units.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Result">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="1">
        <xsd:element name="amount" type="Money" />
        <xsd:element name="unit" type="SimpleUnit" />
        <xsd:element name="info" type="xsd:string" />
        <xsd:element name="chk" type="xsd:boolean" />
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Rounding">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type defining a rounding direction and precision to be used in the rounding of an element.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="roundingDirection" type="RoundingDirectionEnum">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Specifies the rounding direction.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="precision" type="xsd:nonNegativeInteger">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Specifies the rounding precision in terms of a number of decimal places. Note how a percentage rate rounding of 5 decimal places is expressed as a rounding precision of 7 in the FpML document since the percentage is expressed as a decimal, e.g. 9.876543% (or 0.09876543) being rounded to the nearest 5 decimal places is 9.87654% (or 0.0987654).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SimpleUnit">
    <xsd:sequence minOccurs="0" maxOccurs="1">
      <xsd:element name="value" type="xsd:decimal" />
      <xsd:element name="valueRounded" type="xsd:decimal" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="TakePlace">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Condition to respect for an adjustment take place.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:group minOccurs="1" maxOccurs="1" ref="Component.model">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Component concerned.</xsd:documentation>
        </xsd:annotation>
      </xsd:group>
      <xsd:element name="condition" type="ConditionEnum" default="Always">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Condition evaluated.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="response" type="xsd:boolean" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Result.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Underlyer">
    <xsd:complexContent>
      <xsd:extension base="UnderlyerIdentification">
        <xsd:sequence>
          <xsd:group minOccurs="0" maxOccurs="unbounded" ref="Component.model">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Necessary components of the underlyer to apply the adjustment.</xsd:documentation>
            </xsd:annotation>
          </xsd:group>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MarketIdentification">
    <xsd:complexContent>
      <xsd:extension base="SpheresCommonIdentification">
        <xsd:sequence>
          <xsd:element name="FIXML_SecurityExchange" type="xsd:string" minOccurs="0" />
          <xsd:element name="ISO10383_ALPHA4" type="xsd:string" minOccurs="0" />
          <xsd:element name="acronym" type="xsd:string" minOccurs="0" />
          <xsd:element name="exchangeSymbol" type="xsd:string" minOccurs="0" />
          <xsd:element name="shortIdentifier" type="xsd:string" minOccurs="0" />
          <xsd:element name="shortAcronym" type="xsd:string" minOccurs="0" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MaturityIdentification">
    <xsd:complexContent>
      <xsd:extension base="SpheresCommonIdentification">
        <xsd:sequence>
          <xsd:element name="maturity" type="xsd:string" minOccurs="0" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="UnderlyerIdentification">
    <xsd:complexContent>
      <xsd:extension base="SpheresCommonIdentification">
        <xsd:sequence>
          <xsd:element name="underlyerType" type="UnderlyerCategoryEnum" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Underlyer category.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="newIdentifier" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">New identifier.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="isinCode" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">ISIN code.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="symbol" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Symbol code.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="RefNoticeIdentification">
    <xsd:simpleContent>
      <xsd:extension base="xsd:normalizedString">
        <xsd:attribute name="fileName" type="xsd:anyURI" />
        <xsd:attribute name="pubDate" type="xsd:date" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="SpheresCommonIdentification">
    <xsd:sequence>
      <xsd:element name="identifier" type="xsd:string" minOccurs="0" />
      <xsd:element name="displayname" type="xsd:string" minOccurs="0" />
      <xsd:element name="description" type="xsd:string" minOccurs="0" />
    </xsd:sequence>
    <xsd:attribute name="spheresId" type="xsd:string" />
    <xsd:attribute name="id" type="xsd:ID" />
  </xsd:complexType>
  <xsd:group name="Component.model">
    <xsd:annotation>
      <xsd:documentation>Component model</xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element name="component" type="Component" />
      <xsd:element name="componentReference" type="ComponentReference" />
      <xsd:element name="componentFormula" type="ComponentFormula" />
      <xsd:element name="componentMethod" type="ComponentMethod" />
      <xsd:element name="componentProperty" type="ComponentProperty" />
    </xsd:choice>
  </xsd:group>
  
  <xsd:simpleType name="AdjustmentMethodEnum">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="None">
        <xsd:annotation>
          <xsd:documentation source="http://www.EFsmL.org" xml:lang="en">No adjustment.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="FairValue">
        <xsd:annotation>
          <xsd:documentation source="http://www.EFsmL.org" xml:lang="en">Fair Value method.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Other">
        <xsd:annotation>
          <xsd:documentation source="http://www.EFsmL.org" xml:lang="en">Other adjustment.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Package">
        <xsd:annotation>
          <xsd:documentation source="http://www.EFsmL.org" xml:lang="en">Package method.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Ratio">
        <xsd:annotation>
          <xsd:documentation source="http://www.EFsmL.org" xml:lang="en">Ratio method.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AdjustementFormulaTypeEnum">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="RightIssue">
        <xsd:annotation>
          <xsd:documentation source="http://www.EFsmL.org" xml:lang="en">Formula based on Entitlement value per share and cum price.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="RightIssueConversion">
        <xsd:annotation>
          <xsd:documentation source="http://www.EFsmL.org" xml:lang="en">Formula based on Theoritical subscription price with conversion and cum price.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="CumExShareRatio">
        <xsd:annotation>
          <xsd:documentation source="http://www.EFsmL.org" xml:lang="en">Formula based on Ratio between Cum-share and ex-share units.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="UnderlyerCategoryEnum">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="Bond" />
      <xsd:enumeration value="EquityAsset" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RoundingDirectionEnum">
    <xsd:annotation>
      <xsd:documentation source="http://www.FpML.org" xml:lang="en">The method of rounding a fractional number.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="Up">
        <xsd:annotation>
          <xsd:documentation source="http://www.FpML.org" xml:lang="en">A fractional number will be rounded up to the specified number of decimal places (the precision). For example, 5.21 and 5.25 rounded up to 1 decimal place are 5.3 and 5.3 respectively.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Down">
        <xsd:annotation>
          <xsd:documentation source="http://www.FpML.org" xml:lang="en">A fractional number will be rounded down to the specified number of decimal places (the precision). For example, 5.29 and 5.25 rounded down to 1 decimal place are 5.2 and 5.2 respectively.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Nearest">
        <xsd:annotation>
          <xsd:documentation source="http://www.FpML.org" xml:lang="en">A fractional number will be rounded either up or down to the specified number of decimal places (the precision) depending on its value. For example, 5.24 would be rounded down to 5.2 and 5.25 would be rounded up to 5.3 if a precision of 1 decimal place were specified.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RequestModeEnum">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="ITD" />
      <xsd:enumeration value="SOD" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CorporateEventGroupEnum">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="ITD" />
      <xsd:enumeration value="SOD" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CorporateEventTypeEnum">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="ITD" />
      <xsd:enumeration value="SOD" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ReadyStateEnum">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="ITD" />
      <xsd:enumeration value="SOD" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="StatusEnum">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="ITD" />
      <xsd:enumeration value="SOD" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ConditionEnum">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="Always" />
      <xsd:enumeration value="NonPositiveValue" />
      <xsd:enumeration value="NonNegativeValue" />
      <xsd:enumeration value="PositiveValue" />
      <xsd:enumeration value="LessThanOne" />
      <xsd:enumeration value="Zero" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ResultType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="amount" />
      <xsd:enumeration value="unit" />
      <xsd:enumeration value="info" />
      <xsd:enumeration value="check" />
    </xsd:restriction>
  </xsd:simpleType>


  <xsd:complexType name="AdditionalInfos">
      <xsd:sequence>
        <xsd:element name="additionalInfo" type="AdditionalInfo" minOccurs="0" maxOccurs="unbounded" />
      </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AdjustmentContract">
    <xsd:sequence>
      <xsd:element name="future" type="AdjustmentFuture" minOccurs="0" maxOccurs="1" />
      <xsd:element name="option" type="AdjustmentOption" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
