EfsML/BusinessSchemas/EfsMLv20/EfsML-2-0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://www.efs.org/2005/EFSmL-2-0"
            xmlns="http://www.efs.org/2005/EFSmL-2-0"
            xmlns:fpml="http://www.fpml.org/2005/FpML-4-2"
            xmlns:fixml="http://www.fixprotocol.org/FIXML-4-4"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <!-- Import FpML -->
  <xsd:import namespace="http://www.fpml.org/2005/FpML-4-2" schemaLocation="../FpML42/fpml-main-4-2.xsd" />
  <!-- Import FixML -->
  <xsd:import namespace="http://www.fixprotocol.org/FIXML-4-4" schemaLocation="../FIXML44/fixml-order-impl-4-4.xsd" />

  <!-- ****************************** -->
  <!-- AttributeGroup                 -->
  <!-- ****************************** -->
  <xsd:attributeGroup name="StandardAttributes.atts">
    <xsd:attribute name="EfsMLversion" use="required">
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="2-0" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:attributeGroup>

  <!-- ****************************** -->
  <!-- Elements                       -->
  <!-- ****************************** -->
  <xsd:element name="EfsML"                    type="EfsDocument" />
  <xsd:element name="FIXML"                    type="FixML" substitutionGroup="fpml:product" />
  <xsd:element name="EfsSettlementInstruction" type="EfsSettlementInstruction" />

  <!-- ****************************** -->
  <!-- AmericanTrigger                -->
  <!-- ****************************** -->
  <xsd:complexType name="AmericanTrigger">
    <xsd:sequence>
      <xsd:element name="touchCondition"             type="fpml:TouchConditionEnum"/>
      <xsd:element name="triggerUnderlyer"           type="KnockUnderlyer" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="triggerUnderlyerBasketType" type="BasketTypeEnum" minOccurs="0" />
      <xsd:element name="trigger"                    type="fpml:Trigger" />
    </xsd:sequence>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- AverageFeature                 -->
  <!-- ****************************** -->
  <xsd:complexType name="AverageFeature">
    <xsd:sequence>
      <xsd:element name="strikeFactor"       type="xsd:decimal"           minOccurs="0" />
      <xsd:element name="averagingPeriodOut" type="FeatureAveragingPeriod" minOccurs="0" />
      <xsd:element name="averagingType"      type="AveragingTypeEnum"     minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- AverageStrikeOption            -->
  <!-- ****************************** -->
  <xsd:complexType name="AverageStrikeOption">
    <xsd:sequence>
      <xsd:element name="settlementType" type="fpml:SettlementTypeEnum" />
    </xsd:sequence>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- AssetOrNothing                 -->
  <!-- ****************************** -->
  <xsd:complexType name="AssetOrNothing">
    <xsd:sequence>
      <xsd:element name="currencyReference" type="fpml:Currency" minOccurs="0" />
      <xsd:element name="gap" type="xsd:decimal" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- Bond                           -->
  <!-- ****************************** -->
  <xsd:complexType name="Bond">
    <xsd:complexContent>
      <xsd:extension base="fpml:Bond">
        <xsd:attribute name="OTCmlId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- BookId                         -->
  <!-- ****************************** -->
  <xsd:complexType name="BookId">
    <xsd:simpleContent>
      <xsd:extension base="xsd:normalizedString">
        <xsd:attribute name="bookIdScheme" type="xsd:anyURI" default="http://www.euro-finance-systems.fr/otcml/bookid" />
        <xsd:attribute name="bookName" type="xsd:string" />
        <xsd:attribute name="OTCmlId" type="xsd:string" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- CapFloor                       -->
  <!-- ****************************** -->
  <xsd:complexType name="CapFloor">
    <xsd:complexContent>
      <xsd:extension base="fpml:CapFloor">
        <xsd:sequence>
          <xsd:element name="implicitProvision" type="ImplicitProvision" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- CappedCallOrFlooredPut         -->
  <!-- ****************************** -->
  <xsd:complexType name="CappedCallOrFlooredPut">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="fxCapBarrier" type="fpml:Empty" />
        <xsd:element name="fxFloorBarrier" type="fpml:Empty" />
      </xsd:choice>
      <xsd:element name="payoutStyle" type="fpml:PayoutEnum" />
    </xsd:sequence>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- ConvertibleBond                -->
  <!-- ****************************** -->
  <xsd:complexType name="ConvertibleBond">
    <xsd:complexContent>
      <xsd:extension base="fpml:ConvertibleBond">
        <xsd:attribute name="OTCmlId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- CorridorBarriers               -->
  <!-- ****************************** -->
  <xsd:complexType name="CorridorBarriers">
    <xsd:sequence>
      <xsd:element name="barrierUpSchedule" type="fpml:Schedule" />
      <xsd:element name="barrierDownSchedule" type="fpml:Schedule" />
      <xsd:element name="corridorType" type="CorridorTypeEnum" />
      <xsd:element name="nbMaxValues" type="NbMaxValues" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- Css                            -->
  <!-- ****************************** -->
  <xsd:complexType name="Css">
    <xsd:simpleContent>
      <xsd:extension base="xsd:normalizedString">
        <xsd:attribute name="OTCmlId" type="xsd:string" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- CssCriteria                     -->
  <!-- ****************************** -->
  <xsd:complexType name="CssCriteria">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="css" type="Css" />
        <xsd:element name="cssInfo" type="CssInfo" />
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- CssInfo                        -->
  <!-- ****************************** -->
  <xsd:complexType name="CssInfo">
    <xsd:sequence>
      <xsd:element name="cssCountry" type="fpml:Country" minOccurs="0" />
      <xsd:element name="cssType" type="CssType" minOccurs="0" />
      <xsd:element name="cssSystemType" type="CssSystemType" minOccurs="0" />
      <xsd:element name="cssSettlementType" type="CssSettlementType" minOccurs="0" />
      <xsd:element name="cssPaymentType" type="CssPaymentType" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- CssType                        -->
  <!-- ****************************** -->
  <xsd:complexType name="CssType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:normalizedString">
        <xsd:attribute name="cssTypeScheme" type="xsd:anyURI" default="http://www.euro-finance-systems.fr/otcml/cssType" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- CssSystemType                  -->
  <!-- ****************************** -->
  <xsd:complexType name="CssSystemType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:normalizedString">
        <xsd:attribute name="cssSystemTypeScheme" type="xsd:anyURI" default="http://www.euro-finance-systems.fr/otcml/cssSystemType" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- CssPaymentValueType            -->
  <!-- ****************************** -->
  <xsd:complexType name="CssPaymentType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:normalizedString">
        <xsd:attribute name="cssPaymentTypeScheme" type="xsd:anyURI" default="http://www.euro-finance-systems.fr/otcml/cssPaymentType" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- CssSettlementType              -->
  <!-- ****************************** -->
  <xsd:complexType name="CssSettlementType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:normalizedString">
        <xsd:attribute name="cssSettlementTypeScheme" type="xsd:anyURI" default="http://www.euro-finance-systems.fr/otcml/cssSettlementType" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- CustomerSettlementPayment      -->
  <!-- ****************************** -->
  <xsd:complexType name="CustomerSettlementPayment">
    <xsd:sequence>
      <xsd:element name="currency"           type="fpml:Currency" />
      <xsd:element name="amount"             type="xsd:decimal" minOccurs="0" />
      <xsd:element name="rate"               type="ExchangeRate" />
    </xsd:sequence>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- EfsDocument                    -->
  <!-- ****************************** -->
  <xsd:complexType name="EfsDocument">
    <xsd:complexContent>
      <xsd:extension base="fpml:DataDocument">
        <xsd:attributeGroup ref="StandardAttributes.atts" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- EfsSettlementInformation       -->
  <!-- ****************************** -->
  <xsd:complexType name="EfsSettlementInformation">
    <xsd:choice>
      <xsd:element name="standardSettlementStyle" type="fpml:StandardSettlementStyleEnum" />
      <xsd:element name="settlementInstruction" type="EfsSettlementInstruction" />
    </xsd:choice>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- EfsSettlementInstruction       -->
  <!-- ****************************** -->
  <xsd:complexType name="EfsSettlementInstruction">
    <xsd:complexContent>
      <xsd:extension base="fpml:SettlementInstruction">
        <xsd:sequence>
          <xsd:element name="settlementMethodInformation" type="fpml:Routing" minOccurs="0" />
          <xsd:element name="investorInformation" type="fpml:Routing" minOccurs="0" />
          <xsd:element name="originatorInformation" type="fpml:Routing" minOccurs="0" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- EquityAsset                    -->
  <!-- ****************************** -->
  <xsd:complexType name="EquityAsset">
    <xsd:complexContent>
      <xsd:extension base="fpml:EquityAsset">
        <xsd:attribute name="OTCmlId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- EventCode                      -->
  <!-- ****************************** -->
  <xsd:complexType name="EventCode">
    <xsd:simpleContent>
      <xsd:extension base="xsd:normalizedString">
        <xsd:attribute name="eventCodeScheme" type="xsd:anyURI" default="http://www.euro-finance-systems.fr/otcml/eventCode" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- EventCodesSchedule             -->
  <!-- ****************************** -->
  <xsd:complexType name="EventCodesSchedule">
    <xsd:sequence>
      <xsd:element name="eventCodes" type="EventCodes" minOccurs="1" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- EventCodes                     -->
  <!-- ****************************** -->
  <xsd:complexType name="EventCodes">
    <xsd:sequence>
      <xsd:element name="productReference" type="fpml:ProductReference" minOccurs="0" />
      <xsd:element name="streamId" type="xsd:int" minOccurs="0" />
      <xsd:element name="eventCode" type="EventCode" minOccurs="0" />
      <xsd:element name="eventType" type="EventType" minOccurs="0" />
      <xsd:element name="settlementDate" type="xsd:integer" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- EventType                      -->
  <!-- ****************************** -->
  <xsd:complexType name="EventType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:normalizedString">
        <xsd:attribute name="eventTypeScheme" type="xsd:anyURI" default="http://www.euro-finance-systems.fr/otcml/eventType" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- EuropeanTrigger                -->
  <!-- ****************************** -->
  <xsd:complexType name="EuropeanTrigger">
    <xsd:sequence>
      <xsd:element name="triggerCondition"           type="fpml:TriggerConditionEnum"/>
      <xsd:element name="triggerUnderlyer"           type="KnockUnderlyer" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="triggerUnderlyerBasketType" type="BasketTypeEnum" minOccurs="0" />
      <xsd:element name="trigger"                    type="fpml:Trigger" />
    </xsd:sequence>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- ExchangeId                     -->
  <!-- ****************************** -->
  <xsd:complexType name="ExchangeId">
    <xsd:simpleContent>
      <xsd:extension base="fpml:ExchangeId">
        <xsd:attribute name="OTCmlId" type="xsd:string" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- ExchangeRate   				-->
  <!-- ****************************** -->
  <xsd:complexType name="ExchangeRate">
    <xsd:complexContent>
      <xsd:extension base="fpml:ExchangeRate">
        <xsd:sequence>
          <xsd:element name="fxFixing" type="fpml:FxFixing" minOccurs="0" />
          <!--<xsd:element name="customerSettlementRate" type="fpml:Empty" minOccurs="0" />-->
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- ExchangeTradedContract         -->
  <!-- ****************************** -->
  <xsd:complexType name="ExchangeTradedContract">
    <xsd:complexContent>
      <xsd:extension base="fpml:ExchangeTradedContract">
        <xsd:attribute name="OTCmlId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- ExchangeTradedFund             -->
  <!-- ****************************** -->
  <xsd:complexType name="ExchangeTradedFund">
    <xsd:complexContent>
      <xsd:extension base="fpml:ExchangeTradedFund">
        <xsd:attribute name="OTCmlId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- FeatureEquityAveragingPeriod   -->
  <!-- ****************************** -->
  <xsd:complexType name="FeatureAveragingPeriod">
    <xsd:sequence>
      <xsd:element name="schedule"                  type="fpml:EquitySchedule" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="averagingDateTimes"        type="fpml:DateTimeList"   minOccurs="0" />
      <xsd:element name="weekNumber"                type="xsd:decimal"         minOccurs="0" />
      <xsd:element name="averagingOnPreviousPeriod" type="xsd:boolean"         minOccurs="0" />
      <xsd:element name="marketDisruption"          type="MarketDisruptionEnum" />
    </xsd:sequence>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- FixML                          -->
  <!-- ****************************** -->
  <xsd:complexType name="FixML">
    <xsd:complexContent>
      <xsd:extension base="fpml:Product">
        <xsd:sequence>
          <xsd:element name="ExecRpt" type="fixml:ExecutionReport_message_t" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- FloatingRateIndex              -->
  <!-- ****************************** -->
  <xsd:complexType name="FloatingRateIndex">
    <xsd:simpleContent>
      <xsd:extension base="fpml:FloatingRateIndex">
        <xsd:attribute name="OTCmlId" type="xsd:string" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- FlowContext                    -->
  <!-- ****************************** -->
  <xsd:complexType name="FlowContext">
    <xsd:sequence>
      <xsd:element name="partyContext" type="PartyPayerReceiverReference" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="eventCodesSchedule" type="EventCodesSchedule" minOccurs="0" />
      <xsd:element name="currency" type="fpml:Currency" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- FxAverageRateOption            -->
  <!-- ****************************** -->
  <xsd:complexType name="FxAverageRateOption">
    <xsd:complexContent>
      <xsd:extension base="fpml:FxAverageRateOption">
        <xsd:sequence>
          <xsd:group ref="FxCommonOptionExtension.model" />
          <xsd:element name="cappedCallOrFlooredPut" type="CappedCallOrFlooredPut" minOccurs="0" />
          <xsd:element name="averageStrikeOption" type="AverageStrikeOption" minOccurs="0" />
          <xsd:element name="geometricAverage" type="fpml:Empty" minOccurs="0" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- FxBarrierOption                -->
  <!-- ****************************** -->
  <xsd:complexType name="FxBarrierOption">
    <xsd:complexContent>
      <xsd:extension base="fpml:FxBarrierOption">
        <xsd:sequence>
          <xsd:group ref="FxCommonOptionExtension.model" />
          <xsd:element name="cappedCallOrFlooredPut" type="CappedCallOrFlooredPut" minOccurs="0" />
          <xsd:element name="fxBarrierParisianNumberOfDays" type="xsd:integer" minOccurs="0" />
          <xsd:element name="fxRebateBarrier" type="fpml:FxBarrier" minOccurs="0" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- FxCashSettlement               -->
  <!-- ****************************** -->
  <xsd:complexType name="FxCashSettlement">
    <xsd:complexContent>
      <xsd:extension base="fpml:FxCashSettlement">
        <xsd:sequence>
          <xsd:element name="customerSettlementRate" type="fpml:Empty" minOccurs="0" />
          <xsd:element name="calculationAgentSettlementRate" type="fpml:Empty" minOccurs="0" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- FxClass                        -->
  <!-- ****************************** -->
  <xsd:complexType name="FxClass">
    <xsd:simpleContent>
      <xsd:extension base="xsd:normalizedString">
        <xsd:attribute name="fxClassScheme" type="xsd:anyURI" use="required" />
        <xsd:attribute name="id" type="xsd:ID" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- FxDigitalOption                -->
  <!-- ****************************** -->
  <xsd:complexType name="FxDigitalOption">
    <xsd:complexContent>
      <xsd:extension base="fpml:FxDigitalOption">
        <xsd:sequence>
          <xsd:element name="limit" type="fpml:Empty" minOccurs="0" />
          <xsd:element name="boundary" type="fpml:Empty" minOccurs="0" />
          <xsd:element name="assetOrNothing" type="AssetOrNothing" minOccurs="0" />
          <xsd:element name="resurrecting" type="PayoutPeriod" minOccurs="0" />
          <xsd:element name="extinguishing" type="PayoutPeriod" minOccurs="0" />
          <xsd:element name="fxBarrier" type="fpml:FxBarrier" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- FxFeature                      -->
  <!-- ****************************** -->
  <xsd:complexType name="FxFeature">
    <xsd:sequence>
      <xsd:element name="description"       type="xsd:string"                 minOccurs="0" />
      <xsd:element name="referenceCurrency" type="fpml:IdentifiedCurrency" />
      <xsd:element name="fxFeatureType"     type="FxFeatureTypeEnum"          minOccurs="0" />
      <xsd:element name="spotFxRate"        type="fpml:Composite"             minOccurs="0" />
      <xsd:element name="prefixedFxRate"    type="fpml:Quanto"                minOccurs="0" />
      <xsd:element name="spotFxRateSpread"  type="xsd:decimal"                minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- FxOptionLeg                    -->
  <!-- ****************************** -->
  <xsd:complexType name="FxOptionLeg">
    <xsd:complexContent>
      <xsd:extension base="fpml:FxOptionLeg">
        <xsd:sequence>
          <xsd:group ref="FxCommonOptionExtension.model" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- FxOptionPremium                -->
  <!-- ****************************** -->
  <xsd:complexType name="FxOptionPremium">
    <xsd:complexContent>
      <xsd:extension base="fpml:FxOptionPremium">
        <xsd:sequence>
          <xsd:element name="customerSettlementPremium" type="CustomerSettlementPayment" minOccurs="0" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- Future                         -->
  <!-- ****************************** -->
  <xsd:complexType name="Future">
    <xsd:complexContent>
      <xsd:extension base="fpml:Future">
        <xsd:attribute name="OTCmlId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- HedgeClassDerv                 -->
  <!-- ****************************** -->
  <xsd:complexType name="HedgeClassDerv">
    <xsd:simpleContent>
      <xsd:extension base="xsd:normalizedString">
        <xsd:attribute name="hedgeClassDervScheme" type="xsd:anyURI" use="required" />
        <xsd:attribute name="id" type="xsd:ID" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- HedgeClassNDrv                 -->
  <!-- ****************************** -->
  <xsd:complexType name="HedgeClassNDrv">
    <xsd:simpleContent>
      <xsd:extension base="xsd:normalizedString">
        <xsd:attribute name="hedgeClassNDrvScheme" type="xsd:anyURI" use="required" />
        <xsd:attribute name="id" type="xsd:ID" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- HedgeFolder                    -->
  <!-- ****************************** -->
  <xsd:complexType name="HedgeFolder">
    <xsd:simpleContent>
      <xsd:extension base="xsd:normalizedString">
        <xsd:attribute name="hedgeFolderScheme" type="xsd:anyURI" use="required" />
        <xsd:attribute name="id" type="xsd:ID" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- HedgeFactor                    -->
  <!-- ****************************** -->
  <xsd:complexType name="HedgeFactor">
    <xsd:simpleContent>
      <xsd:extension base="xsd:normalizedString">
        <xsd:attribute name="hedgeFactorScheme" type="xsd:anyURI" use="required" />
        <xsd:attribute name="id" type="xsd:ID" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- IASClassDerv                   -->
  <!-- ****************************** -->
  <xsd:complexType name="IASClassDerv">
    <xsd:simpleContent>
      <xsd:extension base="xsd:normalizedString">
        <xsd:attribute name="iasClassDervScheme" type="xsd:anyURI" use="required" />
        <xsd:attribute name="id" type="xsd:ID" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- IASClassNDrv                   -->
  <!-- ****************************** -->
  <xsd:complexType name="IASClassNDrv">
    <xsd:simpleContent>
      <xsd:extension base="xsd:normalizedString">
        <xsd:attribute name="iasClassNDrvScheme" type="xsd:anyURI" use="required" />
        <xsd:attribute name="id" type="xsd:ID" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- ImplicitProvision              -->
  <!-- ****************************** -->
  <xsd:complexType name="ImplicitProvision">
    <xsd:sequence>
      <xsd:element name="cancelableProvision"                type="fpml:Empty" minOccurs="0" />
      <xsd:element name="mandatoryEarlyTerminationProvision" type="fpml:Empty" minOccurs="0" />
      <xsd:element name="optionalEarlyTerminationProvision"  type="fpml:Empty" minOccurs="0" />
      <xsd:element name="extendibleProvision"                type="fpml:Empty" minOccurs="0" />
      <xsd:element name="stepUpProvision"                    type="fpml:Empty" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- Index                          -->
  <!-- ****************************** -->
  <xsd:complexType name="Index">
    <xsd:complexContent>
      <xsd:extension base="fpml:Index">
        <xsd:attribute name="OTCmlId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- IndexRateFeature               -->
  <!-- ****************************** -->
  <xsd:complexType name="IndexedRateFeature">
    <xsd:sequence>
      <xsd:element name="description"            type="xsd:string"                 minOccurs="0" />
      <xsd:choice>
        <xsd:element name="index"                type="UnderlyerIndex" />
        <xsd:element name="quotedCurrencyPair"   type="fpml:QuotedCurrencyPair" />
      </xsd:choice>
      <xsd:element name="indexationPercentage"   type="xsd:decimal" />
      <xsd:element name="indexationFormula"      type="IndexationFormulaEnum" />
      <xsd:element name="averagingPeriodOut"     type="FeatureAveragingPeriod"     minOccurs="0" />
      <xsd:element name="averagingType"          type="AveragingTypeEnum"          minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- InformationSource              -->
  <!-- ****************************** -->
  <xsd:complexType name="InformationSource">
    <xsd:complexContent>
      <xsd:extension base="fpml:InformationSource">
        <xsd:attribute name="OTCmlId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- InterestRateStream             -->
  <!-- ****************************** -->
  <!--
	<xsd:complexType name="InterestRateStream">
	  <xsd:complexContent>
		  <xsd:extension base="fpml:InterestRateStream">
			  <xsd:sequence>
				  <xsd:element name="streamExtension" type="StreamExtension" minOccurs="0" />
			  </xsd:sequence>
		  </xsd:extension>
	  </xsd:complexContent>
	</xsd:complexType>
	-->
  <!-- ****************************** -->
  <!-- KnockFeatures                  -->
  <!-- ****************************** -->
  <xsd:complexType name="KnockFeature">
    <xsd:sequence>
      <xsd:element name="description"              type="xsd:string"     minOccurs="0" />
      <xsd:element name="knockUnderlyer"           type="KnockUnderlyer" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="knockUnderlyerBasketType" type="BasketTypeEnum" minOccurs="0" />

      <xsd:choice>
        <xsd:element name="trigger"          type="fpml:Trigger" />
        <xsd:element name="corridorBarriers" type="CorridorBarriers" />
      </xsd:choice>

      <xsd:element name="knockCondition"   type="KnockConditionEnum" />
      <xsd:element name="knockEffectType"  type="KnockEffectTypeEnum" />
      <xsd:element name="knockObservation" type="KnockObservation" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- KnockObservation               -->
  <!-- ****************************** -->
  <xsd:complexType name="KnockObservation">
    <xsd:sequence>
      <xsd:element name="observationType"     type="KnockObservationTypeEnum" />
      <xsd:element name="observationPeriod"   type="fpml:BusinessDateRange" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="observationDates"    type="fpml:DateList"          minOccurs="0" />
      <xsd:element name="observationSchedule" type="fpml:EquitySchedule"    minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- KnockUnderlyer                 -->
  <!-- ****************************** -->
  <xsd:complexType name="KnockUnderlyer">
    <xsd:sequence>
      <xsd:choice minOccurs="0">
        <xsd:group ref="KnockUnderlyer.model" />
      </xsd:choice>
      <xsd:element name="knockInformationSource" type="fpml:InformationSource"  minOccurs="0" />
      <xsd:element name="fixingTime"             type="fpml:BusinessCenterTime" minOccurs="0" />
      <xsd:element name="associatedStrike"       type="xsd:decimal"             minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- KnownAmountSchedule            -->
  <!-- ****************************** -->
  <xsd:complexType name="KnownAmountSchedule">
    <xsd:complexContent>
      <xsd:extension base="fpml:AmountSchedule">
        <xsd:sequence>
          <xsd:element name="notionalValue"    type="fpml:Money"            minOccurs="0" />
          <xsd:element name="dayCountFraction" type="fpml:DayCountFraction" minOccurs="0" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- LinkId                         -->
  <!-- ****************************** -->
  <xsd:complexType name="LinkId">
    <xsd:simpleContent>
      <xsd:extension base="fpml:LinkId">
        <xsd:attribute name="factor" type="xsd:decimal" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- LocalClassDerv                 -->
  <!-- ****************************** -->
  <xsd:complexType name="LocalClassDerv">
    <xsd:simpleContent>
      <xsd:extension base="xsd:normalizedString">
        <xsd:attribute name="localClassDervScheme" type="xsd:anyURI" use="required" />
        <xsd:attribute name="id" type="xsd:ID" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- LocalClassNDrv                 -->
  <!-- ****************************** -->
  <xsd:complexType name="LocalClassNDrv">
    <xsd:simpleContent>
      <xsd:extension base="xsd:normalizedString">
        <xsd:attribute name="localClassNDrvScheme" type="xsd:anyURI" use="required" />
        <xsd:attribute name="id" type="xsd:ID" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- NettingMethodEnum                  -->
  <!-- ****************************** -->
  <xsd:simpleType name="NettingMethodEnum">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="Standard" />
      <xsd:enumeration value="Convention" />
      <xsd:enumeration value="Designation" />
      <xsd:enumeration value="None" />
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ****************************** -->
  <!-- NettingDesignation             -->
  <!-- ****************************** -->
  <xsd:complexType name="NettingDesignation">
    <xsd:simpleContent>
      <xsd:extension base="xsd:normalizedString">
        <xsd:attribute name="OTCmlId" type="xsd:string" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- NettingInformationInput        -->
  <!-- ****************************** -->
  <xsd:complexType name="NettingInformationInput">
    <xsd:sequence>
      <xsd:element name="nettingMethod" type="NettingMethodEnum" />
      <xsd:element name="nettingDesignation" type="NettingDesignation" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- NbMaxValues                    -->
  <!-- ****************************** -->
  <xsd:complexType name="NbMaxValues">
    <xsd:sequence>
      <xsd:element name="nbMaxValuesIn"   type="xsd:integer"         minOccurs="0" />
      <xsd:element name="nbMaxValuesOut"  type="xsd:integer"         minOccurs="0" />
      <xsd:element name="nbMaxValuesType" type="NbMaxValuesTypeEnum" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- Party                          -->
  <!-- ****************************** -->
  <xsd:complexType name="Party">
    <xsd:complexContent>
      <xsd:extension base="fpml:Party">
        <xsd:attribute name="OTCmlId" type="xsd:normalizedString" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- PartyTradeIdentifier           -->
  <!-- ****************************** -->
  <xsd:complexType name="PartyTradeIdentifier">
    <xsd:complexContent>
      <xsd:extension base="fpml:PartyTradeIdentifier">
        <xsd:sequence>
          <xsd:element name="bookId"         type="BookId"         minOccurs="0" />
          <xsd:element name="localClassDerv" type="LocalClassDerv" minOccurs="0" />
          <xsd:element name="iasClassDerv"   type="IASClassDerv"   minOccurs="0" />
          <xsd:element name="hedgeClassDerv" type="HedgeClassDerv" minOccurs="0" />
          <xsd:element name="hedgeFolder"    type="HedgeFolder"    minOccurs="0" />
          <xsd:element name="hedgeFactor"    type="HedgeFactor"    minOccurs="0" />
          <xsd:element name="fxClass"        type="FxClass"        minOccurs="0" />
          <xsd:element name="localClassNDrv" type="LocalClassNDrv" minOccurs="0" />
          <xsd:element name="iasClassNDrv"   type="IASClassNDrv"   minOccurs="0" />
          <xsd:element name="hedgeClassNDrv" type="HedgeClassNDrv" minOccurs="0" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ****************************** -->
  <!-- PartyTradeInformation           -->
  <!-- ****************************** -->
  <xsd:complexType name="PartyTradeInformation">
    <xsd:complexContent>
      <xsd:extension base="fpml:PartyTradeInformation">
        <xsd:sequence>
          <xsd:element name="sales" type="Trader" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="brokerPartyReference" type="fpml:PartyReference" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ****************************** -->
  <!-- PartyPayerReceiverReference    -->
  <!-- ****************************** -->
  <xsd:complexType name="PartyPayerReceiverReference">
    <xsd:choice>
      <xsd:element name="payerPartyReference"    type="fpml:PartyReference" />
      <xsd:element name="receiverPartyReference" type="fpml:PartyReference" />
    </xsd:choice>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- Payment                        -->
  <!-- ****************************** -->
  <xsd:complexType name="Payment">
    <xsd:complexContent>
      <xsd:extension base="fpml:Payment">
        <xsd:sequence>
          <xsd:element name="paymentQuote"				type="PaymentQuote"              minOccurs="0" />
          <xsd:element name="customerSettlementPayment"	type="CustomerSettlementPayment" minOccurs="0" />
          <xsd:element name="paymentSource"				type="SpheresSource"             minOccurs="0" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- PaymentQuote                   -->
  <!-- ****************************** -->
  <xsd:complexType name="PaymentQuote">
    <xsd:sequence>
      <xsd:element name="percentageRateFraction"    type="xsd:string"  minOccurs="0" maxOccurs ="1" />
      <xsd:element name="percentageRate"            type="xsd:decimal"    />
      <xsd:element name="paymentRelativeTo"         type="fpml:Reference"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- PayoutPeriod                   -->
  <!-- ****************************** -->
  <xsd:complexType name="PayoutPeriod">
    <xsd:complexContent>
      <xsd:extension base="fpml:Interval">
        <xsd:sequence>
          <xsd:element name="percentage" type="xsd:decimal" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- ProductType                    -->
  <!-- ****************************** -->
  <xsd:complexType name="ProductType">
    <xsd:simpleContent>
      <xsd:extension base="fpml:ProductType">
        <xsd:attribute name="OTCmlId" type="xsd:string" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- SettlementInput                -->
  <!-- ****************************** -->
  <xsd:complexType name="SettlementInput">
    <xsd:sequence>
      <xsd:element name="settlementContext"   type="FlowContext" minOccurs="0" />
      <xsd:element name="settlementInputInfo" type="SettlementInputInfo" />
    </xsd:sequence>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- SettlementInputInfo            -->
  <!-- ****************************** -->
  <xsd:complexType name="SettlementInputInfo">
    <xsd:sequence>
      <xsd:element name="settlementInformation" type="EfsSettlementInformation" />
      <xsd:element name="cssCriteria"           type="CssCriteria" minOccurs="0" />
      <xsd:element name="ssiCriteria"           type="SsiCriteria" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- SpheresId                      -->
  <!-- ****************************** -->
  <xsd:complexType name="SpheresId">
    <xsd:simpleContent>
      <xsd:extension base="xsd:normalizedString">
        <xsd:attribute name="scheme"  type="xsd:anyURI" />
        <xsd:attribute name="OTCmlId" type="xsd:string" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- SpheresSource                  -->
  <!-- ****************************** -->
  <xsd:complexType name="SpheresSource">
    <xsd:sequence>
      <xsd:element name="status"    type="SpheresSourceStatusEnum" minOccurs="0" />
      <xsd:element name="spheresId" type="SpheresId"               maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- StepUpProvision                -->
  <!-- ****************************** -->
  <xsd:complexType name="StepUpProvision">
    <xsd:sequence>
      <xsd:element ref="fpml:exercise"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- StreamExtension                -->
  <!-- ****************************** -->
  <xsd:complexType name="StreamExtension">
    <xsd:sequence>
      <xsd:element name = "knockFeatures"       type = "KnockFeature"       minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "triggerFeatures"     type = "TriggerFeature"     minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "averageFeatures"     type = "AverageFeature"     minOccurs = "0"/>
      <xsd:element name = "indexedRateFeatures" type = "IndexedRateFeature" minOccurs = "0"/>
      <xsd:element name = "fxFeatures"          type = "FxFeature"          minOccurs = "0"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- StrikeSchedule                 -->
  <!-- ****************************** -->
  <xsd:complexType name="StrikeSchedule">
    <xsd:complexContent>
      <xsd:extension base="fpml:StrikeSchedule">
        <xsd:sequence>
          <xsd:choice minOccurs="0">
            <xsd:group ref="PayOutAmountOrRateSchedule.model" />
          </xsd:choice>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- SsiCriteria                    -->
  <!-- ****************************** -->
  <xsd:complexType name="SsiCriteria">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="ssiCountry" type="fpml:Country" />
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- Swap                           -->
  <!-- ****************************** -->
  <xsd:complexType name="Swap">
    <xsd:complexContent>
      <xsd:extension base="fpml:Swap">
        <xsd:sequence>
          <!--<xsd:element name="implicitEarlyTerminationProvision" type="fpml:Empty"      minOccurs="0"/>-->
          <xsd:element name="stepUpProvision"   type="StepUpProvision"   minOccurs="0" />
          <xsd:element name="implicitProvision" type="ImplicitProvision" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- Trade                          -->
  <!-- ****************************** -->
  <xsd:complexType name="Trade">
    <xsd:complexContent>
      <xsd:extension base="fpml:Trade">
        <xsd:sequence>
          <xsd:element name="settlementInput"         type="SettlementInput"         minOccurs="0" maxOccurs="unbounded" />
          <xsd:element name="nettingInformationInput" type="NettingInformationInput" minOccurs="0" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- TradeDate                      -->
  <!-- ****************************** -->
  <xsd:complexType name="TradeDate">
    <xsd:simpleContent>
      <xsd:extension base="fpml:TradeDate">
        <xsd:attribute name="timeStamp" type="xsd:string" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- Trader                         -->
  <!-- ****************************** -->
  <xsd:complexType name="Trader">
    <xsd:simpleContent>
      <xsd:extension base="fpml:Trader">
        <xsd:attribute name="name"    type="xsd:normalizedString" />
        <xsd:attribute name="factor"  type="xsd:decimal" />
        <xsd:attribute name="OTCmlId" type="xsd:string" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- TriggerEffect                  -->
  <!-- ****************************** -->
  <xsd:complexType name="TriggerEffect">
    <xsd:sequence>
      <xsd:element name="triggerEffectType" type="KnockEffectTypeEnum" />
      <xsd:element name="triggerPayout"     type="TriggerPayout"       minOccurs="0"/>
      <xsd:element name="triggerPrincipal"  type="TriggerPrincipal"    minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- TriggerFeature                 -->
  <!-- ****************************** -->
  <xsd:complexType name="TriggerFeature">
    <xsd:sequence>
      <xsd:element name="description" type="xsd:string" minOccurs="0" />
      <xsd:choice>
        <xsd:element name="americanTrigger"  type="AmericanTrigger" />
        <xsd:element name="europeanTrigger"  type="EuropeanTrigger" />
      </xsd:choice>
      <xsd:element name="triggerObservation" type="KnockObservation" maxOccurs="unbounded" />
      <xsd:element name="triggerEffect"      type="TriggerEffect" />
    </xsd:sequence>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- TriggerPayout                  -->
  <!-- ****************************** -->
  <xsd:complexType name="TriggerPayout">
    <xsd:sequence>
      <xsd:element name="featurePaymentValue"    type="fpml:FeaturePayment" minOccurs="0"/>
      <xsd:element name="featureRateValue"       type="xsd:decimal"         minOccurs="0"/>
      <xsd:element name="featureSpreadValue"     type="xsd:decimal"         minOccurs="0"/>
      <xsd:element name="featureMultiplierValue" type="xsd:decimal"         minOccurs="0"/>
      <xsd:element name="featurePayoutFormula"   type="fpml:Formula"        minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- TriggerPrincipal               -->
  <!-- ****************************** -->
  <xsd:complexType name="TriggerPrincipal">
    <xsd:sequence>
      <xsd:element name="featureNotionalPercentage"    type="xsd:decimal"   minOccurs="0"/>
      <xsd:element name="featurePrincipalExchange"     type="PrincipalExchangeEnum"/>
      <xsd:element name="principalExchangeType"        type="PrincipalExchangeTypeEnum"/>
      <xsd:element name="principalPaymentDualCurrency" type="fpml:Currency" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- UnderlyerFloatingRate          -->
  <!-- ****************************** -->
  <xsd:complexType name="UnderlyerFloatingRate">
    <xsd:sequence>
      <xsd:element name="floatingRateIndex" type="FloatingRateIndex" />
      <xsd:element name="indexTenor"        type="fpml:Interval" minOccurs="0" />
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:ID" />
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- UnderlyerIndex                 -->
  <!-- ****************************** -->
  <xsd:complexType name="UnderlyerIndex">
    <xsd:simpleContent>
      <xsd:extension base="xsd:normalizedString">
        <xsd:attribute name="indexScheme" type="xsd:anyURI" default="http://www.efs.org/spec/2005/index-2-0" />
        <xsd:attribute name="id"          type="xsd:ID" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ****************************** -->
  <!-- UnderlyerSecurityCode          -->
  <!-- ****************************** -->
  <xsd:complexType name="UnderlyerSecurityCode">
    <xsd:simpleContent>
      <xsd:extension base="xsd:normalizedString">
        <xsd:attribute name="securityCodeScheme" type="xsd:anyURI" default="http://www.efs.org/spec/2005/securityCode-2-0" />
        <xsd:attribute name="id"                 type="xsd:ID" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <!-- ****************************** -->
  <!-- Models                         -->
  <!-- ****************************** -->

  <!-- KnockUnderlyer.model -->
  <xsd:group name="KnockUnderlyer.model">
    <xsd:choice>
      <xsd:element name="quotedCurrencyPair" type="fpml:QuotedCurrencyPair" />
      <xsd:element name="floatingRate"       type="UnderlyerFloatingRate" />
      <xsd:element name="index"              type="UnderlyerIndex" />
      <xsd:element name="securityCode"       type="UnderlyerSecurityCode" />
    </xsd:choice>
  </xsd:group>
  <!-- PayOutAmountOrRateSchedule.model -->
  <xsd:group name="PayOutAmountOrRateSchedule.model">
    <xsd:choice>
      <xsd:element name="payOutAmountSchedule" type="fpml:Schedule" />
      <xsd:element name="payOutRateSchedule"   type="fpml:Schedule" />
    </xsd:choice>
  </xsd:group>
  <!-- FxCommonOptionExtension.model -->
  <xsd:group name="FxCommonOptionExtension.model">
    <xsd:sequence>
      <xsd:element name="optionType"            type="fpml:OptionTypeEnum"    minOccurs="0" />
      <xsd:element name="bermudanExerciseDates" type="fpml:DateList"          minOccurs="0" />
      <xsd:element name="exerciseProcedure"     type="fpml:ExerciseProcedure" minOccurs="0" />
    </xsd:sequence>
  </xsd:group>

  <!-- ****************************** -->
  <!-- Enums                          -->
  <!-- ****************************** -->

  <!-- AveragingTypeEnum -->
  <xsd:simpleType name="AveragingTypeEnum">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="ArithmeticAverage" />
      <xsd:enumeration value="FirstLast" />
      <xsd:enumeration value="GeometricAverage" />
      <xsd:enumeration value="Highest" />
      <xsd:enumeration value="HighestLowest" />
      <xsd:enumeration value="Lowest" />
      <xsd:enumeration value="WeightedArithmeticAverage" />
    </xsd:restriction>
  </xsd:simpleType>
  <!-- BasketTypeEnum -->
  <xsd:simpleType name="BasketTypeEnum">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="Average" />
      <xsd:enumeration value="BetterOf" />
      <xsd:enumeration value="Max" />
      <xsd:enumeration value="Min" />
      <xsd:enumeration value="OutPerformance" />
      <xsd:enumeration value="Spread" />
      <xsd:enumeration value="WorseOf" />
    </xsd:restriction>
  </xsd:simpleType>
  <!-- CorridorTypeEnum -->
  <xsd:simpleType name="CorridorTypeEnum">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="ValuesCapFloored" />
      <xsd:enumeration value="ValuesExcluded" />
    </xsd:restriction>
  </xsd:simpleType>
  <!-- IndexationFormulaEnum -->
  <xsd:simpleType name="IndexationFormulaEnum">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="Barrier" />
      <xsd:enumeration value="BestOf" />
      <xsd:enumeration value="BestOfWithProtectedAverage" />
      <xsd:enumeration value="Binary" />
      <xsd:enumeration value="Capped" />
      <xsd:enumeration value="Corridor" />
      <xsd:enumeration value="FxBarrier" />
      <xsd:enumeration value="FxCorridor" />
      <xsd:enumeration value="FxSimple" />
      <xsd:enumeration value="InFine" />
      <xsd:enumeration value="Landing" />
      <xsd:enumeration value="LookBack" />
      <xsd:enumeration value="Pawls" />
      <xsd:enumeration value="ProtectedAverage" />
      <xsd:enumeration value="Reverse" />
      <xsd:enumeration value="SimpleAverage" />
      <xsd:enumeration value="SuperAverage" />
    </xsd:restriction>
  </xsd:simpleType>
  <!-- FxFeatureTypeEnum -->
  <xsd:simpleType name="FxFeatureTypeEnum">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="AssetFxLinked" />
      <xsd:enumeration value="Composite" />
      <xsd:enumeration value="Cross" />
      <xsd:enumeration value="Differential" />
      <xsd:enumeration value="FlexiQuanto" />
      <xsd:enumeration value="Flexo" />
      <xsd:enumeration value="JointQuanto" />
      <xsd:enumeration value="QuantityAdjusting" />
      <xsd:enumeration value="Quanto" />
      <xsd:enumeration value="RateDifferential" />
      <xsd:enumeration value="SecondaryCurrency" />
    </xsd:restriction>
  </xsd:simpleType>

  <!-- KnockConditionEnum -->
  <xsd:simpleType name="KnockConditionEnum">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="UpAndIn" />
      <xsd:enumeration value="UpAndOut" />
      <xsd:enumeration value="DownAndIn" />
      <xsd:enumeration value="DownAndOut" />
    </xsd:restriction>
  </xsd:simpleType>
  <!-- KnockEffectTypeEnum -->
  <xsd:simpleType name="KnockEffectTypeEnum">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="CalculationPeriod" />
      <xsd:enumeration value="PaymentPeriod" />
      <xsd:enumeration value="InterestRateStream" />
      <xsd:enumeration value="FullTrade" />
    </xsd:restriction>
  </xsd:simpleType>
  <!-- KnockObservationTypeEnum -->
  <xsd:simpleType name="KnockObservationTypeEnum">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="CalculationPeriod" />
      <xsd:enumeration value="CalculationPeriodEndDate" />
      <xsd:enumeration value="PaymentPeriod" />
      <xsd:enumeration value="PaymentPeriodEndDate" />
      <xsd:enumeration value="PreviousCalculationPeriod" />
      <xsd:enumeration value="PreviousCalculationPeriodEndDate" />
      <xsd:enumeration value="PreviousPaymentPeriod" />
      <xsd:enumeration value="PreviousPaymentPeriodEndDate" />
      <xsd:enumeration value="SpecifiedPeriods" />
      <xsd:enumeration value="SpecifiedDates" />
    </xsd:restriction>
  </xsd:simpleType>
  <!-- MarketDisruptionEnum -->
  <xsd:simpleType name="MarketDisruptionEnum">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="FailureToOpen" />
      <xsd:enumeration value="TradingDisruption" />
      <xsd:enumeration value="ExchangeDisruption" />
      <xsd:enumeration value="EarlyClosing" />
    </xsd:restriction>
  </xsd:simpleType>
  <!-- NbMaxValuesTypeEnum -->
  <xsd:simpleType name="NbMaxValuesTypeEnum">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="Crescent" />
      <xsd:enumeration value="CrescentAndSequential" />
      <xsd:enumeration value="DeCrescent" />
      <xsd:enumeration value="DeCrescentAndSequential" />
      <xsd:enumeration value="Sequential" />
      <xsd:enumeration value="NonSequential" />
    </xsd:restriction>
  </xsd:simpleType>
  <!-- PrincipalExchangeEnum -->
  <xsd:simpleType name="PrincipalExchangeEnum">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="Intermediate" />
      <xsd:enumeration value="Final" />
      <xsd:enumeration value="IntermediateAndFinal" />
    </xsd:restriction>
  </xsd:simpleType>
  <!-- PrincipalExchangeTypeEnum -->
  <xsd:simpleType name="PrincipalExchangeTypeEnum">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="Balloon" />
      <xsd:enumeration value="CleanIPS" />
      <xsd:enumeration value="DualCurrency" />
      <xsd:enumeration value="IAS" />
      <xsd:enumeration value="ReverseIAS" />
    </xsd:restriction>
  </xsd:simpleType>
  <!-- SpheresSourceStatusEnum -->
  <!--FI 20140926 [20381] Add Corrected -->
  <xsd:simpleType name="SpheresSourceStatusEnum">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="Default" />
      <xsd:enumeration value="Forced" />
      <xsd:enumeration value="Corrected" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
