LoggerClient/Service References/LoggerService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8736/SpheresLogger/SpheresLoggerService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EFS.LoggerService" />
  <xs:element name="IsAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAliveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginScope">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EFS.LoggerService" minOccurs="0" name="pScope" nillable="true" type="q1:LogScope" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginScopeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EndScope">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EFS.LoggerService" minOccurs="0" name="pScope" nillable="true" type="q2:LogScope" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndScopeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogScope">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pConnexionString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pIdProcess" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogScopeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EFS.LoggerService" minOccurs="0" name="GetLogScopeResult" nillable="true" type="q3:LogScope" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Log">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EFS.LoggerService" minOccurs="0" name="pData" nillable="true" type="q4:LoggerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLogLevel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EFS.LoggerService" minOccurs="0" name="pData" nillable="true" type="q5:LoggerData" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EFS.LoggerService" minOccurs="0" name="pNewLogLevel" type="q6:LogLevelEnum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLogLevelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateLogLevelResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWithWorstLogLevel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EFS.LoggerService" minOccurs="0" name="pDataFirst" nillable="true" type="q7:LoggerData" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/EFS.LoggerService" minOccurs="0" name="pDataLast" nillable="true" type="q8:LoggerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWithWorstLogLevelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateWithWorstLogLevelResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutoWrite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/EFS.LoggerService" minOccurs="0" name="pScope" nillable="true" type="q9:LogScope" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutoWriteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAutoWriteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAutoWrite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/EFS.LoggerService" minOccurs="0" name="pScope" nillable="true" type="q10:LogScope" />
        <xs:element minOccurs="0" name="pAutoWrite" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAutoWriteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetAutoWriteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Write">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/EFS.LoggerService" minOccurs="0" name="pScope" nillable="true" type="q11:LogScope" />
        <xs:element minOccurs="0" name="pIsForced" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBufferLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/EFS.LoggerService" minOccurs="0" name="pScope" nillable="true" type="q12:LogScope" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBufferLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/EFS.LoggerService" minOccurs="0" name="GetBufferLogResult" nillable="true" type="q13:ResultLoggerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/EFS.LoggerService" minOccurs="0" name="pScope" nillable="true" type="q14:LogScope" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/EFS.LoggerService" minOccurs="0" name="GetLastLogResult" nillable="true" type="q15:ResultLoggerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/EFS.LoggerService" minOccurs="0" name="pRequest" nillable="true" type="q16:LoggerRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/EFS.LoggerService" minOccurs="0" name="GetLogResult" nillable="true" type="q17:ResultLoggerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdProcess_L">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/EFS.LoggerService" minOccurs="0" name="pScope" nillable="true" type="q18:LogScope" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdProcess_LResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIdProcess_LResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorstLogLevel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/EFS.LoggerService" minOccurs="0" name="pScope" nillable="true" type="q19:LogScope" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/EFS.LoggerService" minOccurs="0" name="pData" nillable="true" type="q20:LoggerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorstLogLevelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/EFS.LoggerService" minOccurs="0" name="GetWorstLogLevelResult" type="q21:LogLevelEnum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>